img {
    border: none;
}

* {
    text-decoration: none !important;
    scrollbar-color: #7e0000 #ff0000;
}

a:link {
    color: #ffffff
}

a:link:hover {
    color: #ff0000
}

header {
    height: 50px;
    background-color: none;
}

img#banner {
    position: fixed;
    background: #ff0000;
    border: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

html {
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 18%, 1);
    background: url("/img/mybg.gif") repeat;
}

body {
    top: 50px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    margin-top: 12px;
    list-style: none;
    font-weight: bold;
    text-align: center !important;
    z-index: 12000;
}

div a {
    margin-right: 50px;
    display: inline;
    background-color: transparent;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-size: 1.4em;
    font-weight: bold;
}

.vertical-menu {
    position: fixed;
    left: 10px;
    top: 70px;
    text-align: left;
    min-width: 200px !important;
    max-width: 200px !important;
    width: 200px !important;
    color: #000000;
}

.script-menu {
    position: absolute;
    display: block;
    box-sizing: border-box;
    margin-top: 70px;
    top: auto;
    left: 40%;
    height: 450px;
    background-color: #7f7f7f;
    width: 320px !important;
    max-width: 320px !important;
}

.movie-menu {
    width: 500px;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    text-align: left;
    height: 450px;
    width: 320px !important;
    max-width: 320px !important;
}

.vertical-menu a {
    background-image: -moz-linear-gradient(top, #7f7f7f, #262626);
    background-image: -webkit-linear-gradient(top, #7f7f7f, #262626);
    background-image: linear-gradient(top, #7f7f7f, #262626);
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: smaller;
    text-align: center;
    border-radius: 25px;
    color: #000000;
    border: 2px solid #000000;
}

.info a {
    top: initial;
    background-image: -moz-linear-gradient(top, #244aff, #00166b);
    background-image: -webkit-linear-gradient(top, #244aff, #00166b);
    background-image: linear-gradient(top, #244aff, #00166b);
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 10px;
    text-decoration: none;
    font-size: smaller;
    text-align: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-radius: 2px;
    color: #ffffff;
}

.vertical-menu a:hover {
    background-image: -moz-linear-gradient(top, #ff0000, #4c0000);
    background-image: -webkit-linear-gradient(top, #ff0000, #4c0000);
    background-image: linear-gradient(top, #ff0000, #4c0000);
    color: white !important;
}

.info a:hover {
    /*
    background: url("/image/MenuBar.png") no-repeat;
    */
    background-image: -moz-linear-gradient(top, #00166b, #244aff);
    background-image: -webkit-linear-gradient(top, #00166b, #244aff);
    background-image: linear-gradient(top, #00166b, #244aff);
    color: #58e900 !important;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 0px 10px hsla(0, 17%, 13%, 0.1);
}

nav a:hover {
    text-decoration: none;
    color: #ff0000;
    text-shadow: 2px 2px 0 #000000, -1px -1px 30px #ffffff, 2px 2px 30px #FFFFFF;
    background-color: transparent;
}

h1 {
    margin-top: 60px;
    font-size: 4em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
    color: #ff0000;
    text-shadow: 0px 0px 3px #ffffff;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #ffffff;
    background-image: -moz-linear-gradient(top, hsla(0, 17%, 13%, 1), hsla(0, 15%, 8%, 0.1));
    background-image: -webkit-linear-gradient(top, hsla(0, 17%, 13%, 1), hsla(0, 15%, 8%, 0.1));
    background-image: linear-gradient(top, hsla(0, 17%, 13%, 1), hsla(0, 15%, 8%, 0.1));
    /*background-color: hsla(0, 17%, 13%, 0.1) hsla(0, 15%, 8%, 0.2);*/
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    border: 1px inset #ff0000;
    box-shadow 0 0 #ff0000;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

p:hover {
    background-image: -moz-linear-gradient(top, hsla(0, 15%, 8%, 0.1), hsla(0, 17%, 13%, 1));
    background-image: -webkit-linear-gradient(top, hsla(0, 15%, 8%, 0.1), hsla(0, 17%, 13%, 1));
    background-image: linear-gradient(top, hsla(0, 15%, 8%, 0.1), hsla(0, 17%, 13%, 1));
    box-shadow: 0px 0px 10px #ff0000;
}

#banner,
img {
    border: none;
}

a.button[href] {
    width: 300px;
}