/* feedbro */

@-moz-document url-prefix("moz-extension://c489fead-1ce3-4b60-ab7d-3d1694d00510/reader.html"),
url-prefix("moz-extension://c489fead-1ce3-4b60-ab7d-3d1694d00510/options.html"),
url-prefix("moz-extension://125cf797-1695-4fd6-9f97-84e10837c8d5/reader.html"),
url-prefix("moz-extension://125cf797-1695-4fd6-9f97-84e10837c8d5/option.html"),
url-prefix("moz-extension://fd77d657-7eff-4295-91d3-7a45e043b7c3/reader.html"),
url-prefix("moz-extension://fd77d657-7eff-4295-91d3-7a45e043b7c3/option.html") {
    html,
    body {
        background-color: var(--MyB) !important;
    }
    .stock {
        display: none !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    a {
        color: var(--MyW) !important;
        background-color: transparent !important;
    }
    a:hover {
        color: var(--MyW) !important;
        text-decoration: none !important;
    }
    .div#titles>div.activetitle,
    .item.activetitle {
        color: var(--MyW) !important;
        background: -webkit-gradient( linear, left top, left bottom, from(hsl(0, 100%, 50%)), to(hsl(0, 100%, 24%))) !important;
    }
    .item.pin {
        background-color: var(--Myred1) !important;
    }
    .entry-link {
        color: var(--Myred2) !important;
    }
    .entry-link:hover,
    .item.unread>div[id*="item-title"] {
        color: var(--Myred1) !important;
    }
    ul.jqtree-tree li.jqtree-selected>div,
    ul.jqtree-tree li.jqtree-selected>div:hover {
        color: var(--MyW) !important;
        background: -webkit-gradient( linear, left top, left bottom, from(hsl(0, 100%, 50%)), to(hsl(0, 100%, 24%))) !important;
    }
    .item:hover,
    div.node-text:hover {
        background-color: var(--MyX1) !important;
        color: var(--MyW) !important;
    }
    div#mainfunctions div.menu-selected {
        color: var(--MyW) !important;
        background: -webkit-gradient( linear, left top, left bottom, from(hsl(0, 100%, 50%)), to(hsl(0, 100%, 24%))) !important;
    }
    #contextmenu {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
    }
    .contextitem {
        color: var(--MyW) !important;
    }
    .contextitem:hover {
        color: var(--MyW) !important;
        background: -webkit-gradient( linear, left top, left bottom, from(hsl(0, 100%, 50%)), to(hsl(0, 100%, 24%))) !important;
        border-radius: 15px !important;
    }
    .node-text.node-unreadtext {
        color: var(--Myred1) !important;
    }
    textarea,
    input#alertify-text.alertify-text,
    input {
        color: #000 !important;
        text-align: center !important;
        border: 1px solid #ff0000 !important;
    }
    .alertify-text-wrapper {
        background-color: transparent !important;
    }
    article,
    alertify-inner {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient( to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    nav,
    .alertify-buttons {
        background-color: var(--Mygray1) !important;
        background-image: linear-gradient( to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    article,
    alertify-inner {
        color: #000 !important;
    }
    .imagebutton,
    tr select,
    td a.alertify-button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    .imagebutton:hover,
    tr select:hover,
    td a.alertify-button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    .imagebutton:active,
    tr select:active,
    td a.alertify-button:active {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    .stock {
        background-image: none !important;
        background-color: transparent !important;
    }
    .stock {
        background-color: var(--Mygray1) !important;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    .stock {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
}