/* new tab tools */

@-moz-document url("moz-extension://b41887aa-c455-4326-912f-31f712e24be3/newTab.xhtml"),
url("moz-extension://1d0533eb-e301-438c-8b1f-e762fad5ce0b/newTab.xhtml"),
url("moz-extension://aeca2122-be1b-42b8-8e37-13b6196b742c/newTab.xhtml"),
url("moz-extension://478a607a-1da0-4981-a260-f7181f0c509d/newTab.xhtml") {
    body {
        background-color: hsl(0, 0%, 10%);
        --shadow-hover: rgb(255, 0, 0);
        display: initial;
    }
    .newtab-site .newtab-title {
        color: rgb(200, 200, 200) !important;
    }
    .newtab-site:active .newtab-title,
    .newtab-site:hover .newtab-title {
        color: rgb(255, 255, 255) !important;
    }
    .newtab-thumbnail,
    .custom-thumbnail {
        border-radius: 15px !important;
    }
    .newtab-thumbnail[dragged],
    .newtab-site:hover {
        opacity: 1;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(8, 22, 37, 0.3) !important;
        background-color: hsla(0, 0%, 100%, 0.2) !important;
        border: 1px solid #ff0000 !important;
        border-radius: 15px !important;
    }
    .newtab-site:active {
        background-color: hsla(0, 100%, 50%, 0.472) !important;
    }
}
