@-moz-document url-prefix("moz-extension://96173eba-e622-4b59-befa-12d5a918c725/"),
url-prefix("moz-extension://80d390df-2141-4cf5-ba94-23c1351d32e0/"),
url-prefix("moz-extension://ae56f7d6-d76d-488c-9ea5-913cc38fd6e5/"),
url-prefix("moz-extension://dc27492e-0a65-4294-8987-78d42ec1ca07/") {
    html,
    body {
        color: var(--MyW) !important;
        background: var(--MyB) !important;
    }
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--Myred1) var(--Myred3);
    }
    input {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        text-align: center !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
    }
    header.weh-header {
        background-image: none !important;
        background-color: transparent !important;
    }
    header.weh-header {
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, 0.5) 48%, rgba(0, 0, 0, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, hsla(0, 0%, 66%, 0.2)) !important;
    }
    .active.nav-link,
    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, 0.5) 48%, rgba(0, 0, 0, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, hsla(0, 0%, 66%, 0.2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color 0.3s ease, box-shadow 0.7s ease !important;
        -webkit-transition: border-color 0.3s ease, box-shadow 0.7s ease !important;
        transition: border-color 0.3s ease, box-shadow 0.7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    .active.nav-link,
    .nav-link:hover,
    button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, 0.5) 48%, rgba(0, 0, 0, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, hsla(0, 0%, 66%, 0.2)) !important;
        outline: none !important;
        opacity: 1 !important;
        color: var(--MyW) !important;
        -moz-transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        -webkit-transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    .nav-link:active,
    button:active {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1 !important;
        color: var(--MyW) !important;
        -moz-transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        -webkit-transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    .card-body,
    .card {
        background-image: linear-gradient(to top, rgba(20, 20, 20, 0.8), rgba(75, 75, 75, 0.8), rgba(20, 20, 20, 0.8) 100%, transparent) !important;
    }
    section-header,
    .section-header.section-open {
        background-image: linear-gradient(to top, rgba(80, 0, 0, 0.8), rgba(170, 0, 0, 0.8), rgba(80, 0, 0, 0.8) 100%, transparent) !important;
    }
    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
    .main-panel .main-content footer {
        background-color: var(--Mygray3) !important;
        position: relative;
    }
    .main-panel .main-content footer button:hover {
        border-color: #ccc;
    }
    .main-panel .main-content footer .hspace {
        background-color: var(--Mygray3) !important;
    }
    .main-panel .main-content footer .separator {
        border-left: 1px solid #d0d1d1;
    }
    .main-panel .main-content footer .buttons-container {
        background-color: var(--Mygray3) !important;
    }
    .main-panel .main-content footer .buttons-opener {
        background-color: var(--Mygray3) !important;
        border-right: 1px solid #d0d1d1;
    }
    .main-panel .main-content footer .group div {
        background-color: var(--Mygray3) !important;
        color: #fff;
    }
    .main-panel .main-content footer .group-active div {
        background-color: #080;
    }
    .main-panel .main-content footer .group-inactive div {
        background-color: #b59e32;
    }
    .main-panel .main-content footer .group-orphan div {
        background-color: #888;
    }
    .main-panel .main-content footer .group-pinned div {
        background-color: #000;
    }
    .main-panel .main-content footer .group-running div {
        background-color: #00f;
    }
    .main-panel .main-content footer .group-log div {
        background-color: #5e2605;
    }
    .main-panel .main-content footer .group-error div {
        background-color: #f00;
    }
    .main-panel .main-content .content-hits {
        background-color: #fff;
    }
    .main-panel .main-content .content-hits .no-media p {
        color: var(--MyW) !important;
    }
    .main-panel .main-content .content-hits .no-media {
        background-color: var(--Mygray3) !important;
    }
    .main-panel .main-content .content-hits .hit {
        border-bottom: 1px solid #d0d1d1;
    }
    .main-panel .main-content .content-hits .hit .hit-descr .hit-summary {
        color: #888;
    }
    .main-panel .main-content .content-hits .hit .hit-descr .hit-summary .hit-summary-action>div {
        background-color: #222;
    }
    .main-panel .main-content .content-hits .hit .hit-descr .hit-progress {
        background-color: var(--Mygray3) !important;
    }
    .main-panel .main-content .content-hits .hit .hit-descr .hit-progress>div {
        background-color: #080;
    }
    .main-panel .main-content .content-hits .hit .hit-descr .hit-progress.hit-orphan>div {
        background-color: #888;
    }
    .main-panel .main-content .content-hits .hit .hit-actions {
        border-left: 1px solid #d0d1d1;
        background-color: var(--Mygray3) !important;
    }
    .main-panel .main-content .content-hits .hit .hit-actions:hover {
        background-color: var(--Mygray3) !important;
    }
    .main-panel .main-content .content-hits .hit:hover {
        background-color: var(--Mygray3) !important;
    }
    .main-panel .main-content .content-hits .logs {
        border: 1px solid #fff;
    }
    .main-panel .main-content .content-hits .logs .vdh-log {
        border-bottom: 1px solid #eee;
    }
    .main-panel .main-content .content-hits .logs .vdh-log .log-video-title {
        color: #888;
    }
    .main-panel .main-content .content-hits .logs .vdh-log.vdh-log-error {
        color: Red;
    }
    .main-panel .main-content .back-margin {
        background-color: var(--Mygray3) !important;
    }
    .main-panel .main-content.section-active {
        background-color: var(--Mygray3) !important;
    }
    .main-panel .main-content.section-inactive {
        background-color: #b59e32;
    }
    .main-panel .main-content.section-orphan {
        background-color: #888;
    }
    .main-panel .main-content.section-pinned {
        background-color: #000;
    }
    .main-panel .main-content.section-running {
        background-color: #00f;
    }
    .main-panel .main-content.section-error {
        background-color: #f00;
    }
    .main-panel .main-content.section-log {
        background-color: #5e2605;
    }
    .main-panel .main-content-mask {
        background-color: rgba(0, 0, 0, 0);
    }
    .main-panel #content.actions {
        background-color: transparent;
    }
    .vdh-container,
    .main-panel .embed,
    .main-panel .actions {
        background-color: var(--Mygray3) !important;
    }
    .main-panel .actions .action {
        border-bottom: 1px outset #888;
        background-color: var(--Mygray3) !important;
    }
    .main-panel .actions .action:hover {
        background-color: #1f80e0;
        color: white;
    }
    .main-panel .actions .action:active {
        border: 1px inset #888;
    }
    .main-panel.actions-open .actions,
    .main-panel.actions-open .embed {
        box-shadow: -5px 0 5px 0px #888;
    }
    .main-panel.actions-open .main-content-mask {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .main-panel.actions-open .main-content-mask:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    table.details tr:nth-child(even) {
        background: var(--Mygray3) !important;
    }
    table.details tr:nth-child(odd) {
        background: var(--Mygray3) !important;
    }
    div.details {
        color: #f00;
    }
    .embeddable footer {
        background-color: var(--Mygray3) !important;
    }
    .convconfs .notice {
        color: #aaa;
    }
    .convconfs .params .paramlist .param {
        border-bottom: 1px solid #eee;
    }
    .convconfs .params .paramlist .param:nth-child(even) {
        background-color: var(--Mygray3) !important;
    }
    .collapsible-section .section-header {
        border: 1px solid #ddd;
    }
    .collapsible-section .section-header .open-close-sign {
        color: #ddd;
    }
    .collapsible-section .section-header.section-open {
        background-color: var(--Mygray3) !important;
    }
    .collapsible-section .section-header.section-open .open-close-sign {
        color: #fff;
    }
    .funding main>div {
        background-color: var(--Mygray3) !important;
    }
    .funding main>div .donate-big-button {
        background-color: #090;
        color: White;
    }
    .funding main>div .donate-big-button:hover {
        background-color: #0a0;
    }
    .file-prompt .current-directory {
        background-color: var(--Mygray3) !important;
        color: #888;
    }
    .file-prompt .top-line {
        background-color: var(--Mygray3) !important;
    }
    .file-prompt .files-list {
        background-color: var(--Mygray3) !important;
    }
    .file-prompt .tablecontainer {
        background: var(--Mygray3) !important;
        border: 1px solid #ddd;
    }
    .file-prompt .tablecontainer td,
    .file-prompt th {
        border-bottom: 1px solid #eee;
    }
    .file-prompt .bottom-component {
        background-color: var(--Mygray3) !important;
    }
    .dialog-in-tab {
        background-color: var(--Mygray3) !important;
    }
    .dialog-in-tab>div {
        background-color: var(--Mygray3) !important;
    }
    .dialog-in-tab main {
        background-color: var(--Mygray3) !important;
    }
    .form-control.translation-footer-extra {
        background-color: var(--Mygray3) !important;
    }
    main>.blacklist>div .empty {
        color: #888;
    }
    main>.blacklist>div.list-column {
        background-color: var(--Mygray3) !important;
    }
    main>.blacklist .list>div .delete {
        border: 1px solid #eee;
    }
    main>.blacklist .list>div:hover {
        background-color: var(--Mygray3) !important;
    }
    main>.blacklist .list>div:hover .delete:hover {
        background-color: var(--Mygray3) !important;
    }
    .smartname main>div.edit-rule input.error,
    .smartname main>div.edit-rule textarea.error,
    .convrules main>div.edit-rule input.error,
    .convrules main>div.edit-rule textarea.error {
        background-color: #fcc;
    }
    .smartname main>div.all-rules>div .empty,
    .convrules main>div.all-rules>div .empty {
        color: #888;
    }
    .smartname main>div.all-rules>div.list-column,
    .convrules main>div.all-rules>div.list-column {
        background-color: var(--Mygray3) !important;
    }
    .smartname main>div.all-rules .list>div .delete,
    .smartname main>div.all-rules .list>li .delete,
    .convrules main>div.all-rules .list>div .delete,
    .convrules main>div.all-rules .list>li .delete {
        border: 1px solid #eee;
        color: #fff;
        background-color: #888;
    }
    .smartname main>div.all-rules .list>div:hover,
    .smartname main>div.all-rules .list>li:hover,
    .convrules main>div.all-rules .list>div:hover,
    .convrules main>div.all-rules .list>li:hover {
        background-color: var(--Mygray3) !important;
    }
    .smartname main>div.all-rules .list>div:hover .delete:hover,
    .smartname main>div.all-rules .list>li:hover .delete:hover,
    .convrules main>div.all-rules .list>div:hover .delete:hover,
    .convrules main>div.all-rules .list>li:hover .delete:hover {
        background-color: #444;
    }
    .convrules main>div.all-rules .list {
        background-color: var(--Mygray3) !important;
    }
    .convrules main>div.all-rules .list>li {
        background-color: var(--Mygray3) !important;
        border: 1px solid transparent;
    }
    .convrules main>div.all-rules .list>li:hover {
        background-color: var(--Mygray3) !important;
    }
    .convrules main>div.all-rules>div.list-column {
        background-color: var(--Mygray3) !important;
    }
    .smartname-definer input.error,
    .smartname-definer textarea.error {
        background-color: #fcc;
    }
    .variants main .variants-list .list .item {
        background-color: var(--Mygray3) !important;
    }
    .variants main .variants-list .list .item.disabled {
        color: #aaa;
    }
    .chrome-product {
        border: 1px solid rgba(0, 0, 0, 0.125);
    }
}
