root {
    --card-outline-color: rgb(255, 0, 0) !important;
    --in-content-border-focus: rgb(255, 0, 0) !important;
    --primary-background: rgb(25, 25, 25) !important;
    --secondary-background: rgb(25, 25, 25) !important;
    --primary-font-color: rgb(255, 255, 255) !important;
    --highlighted-font-color: rgb(255, 255, 255) !important;
    --primary-border: 1px solid rgb(255, 0, 0) !important;
    --bright-border: 1px solid rgb(255, 0, 0) !important;
    --border-color: rgb(255, 0, 0) !important;
    --bright-border-color: rgb(255, 0, 0) !important;
    --primary-icon-color: rgb(255, 0, 0) !important;
    --faded-bright-border-color: rgba(255, 0, 0, 0.65) !important;
    --toolbar-bgcolor: rgb(38, 38, 38) !important;
    --blue-40: #45a1ff;
    --blue-40-a10: rgb(69, 161, 255, 0.1);
    --blue-50: #0a84ff;
    --blue-50-a30: rgba(10, 132, 255, 0.3);
    --blue-60: #0060df;
    --blue-70: #003eaa;
    --blue-80: #002275;
    --grey-20: #ededf0;
    --grey-30: #d7d7db;
    --grey-40: #b1b1b3;
    --grey-60: #4a4a4f;
    --grey-90: #0c0c0d;
    --grey-90-a10: rgba(12, 12, 13, 0.1);
    --grey-90-a20: rgba(12, 12, 13, 0.2);
    --grey-90-a30: rgba(12, 12, 13, 0.3);
    --grey-90-a50: rgba(12, 12, 13, 0.5);
    --grey-90-a60: rgba(12, 12, 13, 0.6);
    --green-50: #30e60b;
    --green-60: #12bc00;
    --green-70: #058b00;
    --green-80: #006504;
    --green-90: #003706;
    --orange-50: #ff9400;
    --purple-70: #6200a4;
    --red-50: #ff0039;
    --red-50-a30: rgba(255, 0, 57, 0.3);
    --red-60: #d70022;
    --red-70: #a4000f;
    --red-80: #5a0002;
    --red-90: #3e0200;
    --yellow-10: #ffff98;
    --yellow-50: #ffe900;
    --yellow-60: #d7b600;
    --yellow-60-a30: rgba(215, 182, 0, 0.3);
    --yellow-70: #a47f00;
    --yellow-80: #715100;
    --yellow-90: #3e2800;
    --shadow-10: 0 1px 4px var(--grey-90-a10);
    --shadow-30: 0 4px 16px var(--grey-90-a10);
    --opacity: 0.8 !important;
    --fore-opaque: rgb(255, 255, 255) !important;
    --fore-transp: rgba(255, 255, 255, 0.8) !important;
    --page-background: rgb(38, 38, 38) !important;
    --back-opaque: rgba(22, 22, 22, 0.8) !important;
    --back-trans1: rgba(22, 22, 22, 0.4) !important;
    --back-trans2: rgba(83, 64, 49, 0.8) !important;
    --lwt-accent-color: rgb(255, 0, 0) !important;
    --lwt-accent-color-inactive: rgb(102, 0, 0) !important;
    --in-content-page-color: rgb(28, 28, 28) !important;
    --in-content-page-background: rgb(28, 28, 28) !important;
    --in-content-text-color: rgb(224, 224, 224) !important;
    --in-content-selected-text: rgb(255, 255, 255) !important;
    --in-content-box-background: rgb(0, 0, 0) !important;
    --in-content-box-background-odd: rgb(51, 51, 51) !important;
    --in-content-box-background-hover: rgb(255, 0, 0) !important;
    --in-content-box-background-active: rgb(28, 28, 28) !important;
    --in-content-box-border-color: rgb(224, 224, 224) !important;
    --in-content-item-hover: rgba(219, 0, 0, 0.411) !important;
    --in-content-item-selected: rgb(255, 0, 0) !important;
    --in-content-border-highlight: rgb(255, 0, 0) !important;
    --in-content-border-color: rgb(224, 224, 224) !important;
    --in-content-border-active: var(--blue-50);
    --in-content-border-active-shadow: var(--blue-50-a30);
    --in-content-border-invalid: var(--red-50);
    --in-content-border-invalid-shadow: var(--red-50-a30);
    --in-content-category-outline-focus: 1px dotted rgb(255, 0, 0) !important;
    --in-content-category-text: hsl(0, 0%, 88%) !important;
    --in-content-category-text-active: rgb(255, 0, 0) !important;
    --in-content-category-text-selected: rgb(255, 0, 0) !important;
    --in-content-category-text-selected-active: rgb(255, 0, 0) !important;
    --in-content-category-background-hover: rgb(255, 0, 0) !important;
    --in-content-category-background-active: rgba(219, 10, 10, 0.541) !important;
    --in-content-category-background-selected-hover: rgb(255, 0, 0) !important;
    --in-content-category-background-selected-active: rgba(199, 24, 24, 0.541) !important;
    --in-content-tab-color: rgb(255, 0, 0) !important;
    --in-content-link-color: rgb(178, 0, 0) !important;
    --in-content-link-color-hover: rgb(255, 0, 0) !important;
    --in-content-link-color-active: rgb(255, 0, 0) !important;
    --in-content-link-color-visited: rgb(178, 0, 0) !important;
    --in-content-primary-button-background: rgb(255, 0, 0) !important;
    --in-content-primary-button-background-hover: rgb(255, 0, 0) !important;
    --in-content-primary-button-background-active: rgb(255, 0, 0) !important;
    --in-content-table-border-dark-color: hsl(0, 0%, 11%) !important;
    --in-content-table-header-background: rgb(28, 28, 28) !important;
    --toolbarbutton-icon-fill-attention: rgb(255, 0, 0) !important;
    --lwt-toolbarbutton-icon-fill-attention: rgb(255, 0, 0) !important;
    --panel-disabled-color: rgba(249, 249, 250, 0.5) !important;
    --arrowpanel-background: rgb(76, 76, 76) !important;
    --arrowpanel-color: rgb(255, 255, 255) !important;
    --arrowpanel-border-color: rgb(255, 0, 0) !important;
    --lwt-toolbar-field-background-color: rgb(38, 38, 38) !important;
    --lwt-toolbar-field-color: rgb(249, 249, 250) !important;
    --lwt-toolbar-field-border-color: rgba(249, 249, 250, 0.2) !important;
    --lwt-text-color: rgb(255, 255, 255) !important;
    --cfr-active-color: rgb(255, 0, 0) !important;
    --urlbar-popup-url-color: rgb(255, 0, 0) !important;
    --urlbar-popup-action-color: rgb(84, 255, 0) !important;
    --urlbar-separator-color: rgb(0, 0, 0) !important;
    --chrome-content-separator-color: rgba(249, 249, 250, 0.7) !important;
    --lwt-toolbarbutton-icon-fill: rgba(249, 249, 250, 0.7) !important;
    --autocomplete-popup-background: rgb(38, 38, 38) !important;
    --autocomplete-popup-color: rgb(255, 255, 255) !important;
    --autocomplete-popup-border-color: rgba(249, 249, 250, 0.7) !important;
    --autocomplete-popup-highlight-background: rgb(255, 0, 0) !important;
    --toolbar-non-lwt-bgcolor: rgb(38, 38, 38) !important;
    --toolbar-non-lwt-textcolor: rgb(255, 255, 255) !important;
    --toolbar-non-lwt-bgimage: none;
    --theme-tab-toolbar-background: rgb(38, 38, 38) !important;
    --theme-toolbar-background: rgb(38, 38, 38) !important;
    --theme-selection-background: rgb(255, 0, 0) !important;
    --theme-selection-color: rgb(255, 255, 255) !important;
    --theme-splitter-color: rgb(255, 255, 255) !important;
    --theme-comment: rgb(255, 0, 0) !important;
    --theme-body-background: rgb(25, 25, 25) !important;
    --theme-sidebar-background: rgb(25, 25, 25) !important;
    --theme-contrast-background: rgb(66, 60, 60) !important;
    --theme-body-color: rgb(155, 155, 155) !important;
    --theme-body-color-alt: rgb(254, 76, 76) !important;
    --theme-content-color1: rgb(255, 132, 132) !important;
    --theme-content-color2: rgb(84, 255, 0) !important;
    --theme-content-color3: rgb(0, 182, 255) !important;
    --theme-highlight-blue: rgb(0, 255, 127) !important;
    --theme-highlight-purple: rgb(255, 101, 221) !important;
    --theme-highlight-pink: rgb(223, 107, 107) !important;
    --theme-highlight-red: rgb(255, 101, 101) !important;
    --theme-highlight-orange: rgb(254, 76, 76) !important;
    --theme-highlight-lightorange: rgb(246, 85, 85) !important;
    --theme-highlight-green: rgb(59, 178, 0) !important;
    --theme-highlight-bluegrey: rgb(133, 168, 207) !important;
    --theme-highlight-yellow: rgb(185, 185, 49) !important;
    --in-content-deemphasized-text: var(--grey-40);
    --in-content-box-info-background: rgba(249, 249, 250, 0.15);
    --in-content-border-hover: rgba(249, 249, 250, 0.3);
    --in-content-button-background: rgba(249, 249, 250, 0.1);
    --in-content-button-background-hover: rgba(249, 249, 250, 0.15);
    --in-content-button-background-active: rgba(249, 249, 250, 0.2);
    --in-content-table-background: #202023;
    --in-content-dialog-header-background: rgba(249, 249, 250, 0.05);
    --card-shadow: var(--shadow-10);
    --card-shadow-hover: var(--card-shadow), 0 0 0 5px var(--card-outline-color);
    --card-shadow-focus: 0 0 0 2px var(--blue-50), 0 0 0 6px var(--blue-50-a30);
    --button-bgcolor: rgb(43, 42, 51);
    --button-hover-bgcolor: rgb(82, 82, 94);
    --button-active-bgcolor: rgb(91, 91, 102);
    --button-primary-bgcolor: rgb(0, 221, 255);
    --button-primary-hover-bgcolor: rgb(128, 235, 255);
    --button-primary-active-bgcolor: rgb(170, 242, 255);
    --button-primary-color: rgb(43, 42, 51);
    --error-text-color: rgb(255, 154, 162);
    --input-bgcolor: rgb(66, 65, 77);
    --input-color: rgb(251, 251, 254);
    --input-border-color: rgb(143, 143, 157);
    --input-error-border-color: rgb(255, 132, 138);
    --zoom-controls-bgcolor: rgb(74, 74, 85);
    --autocomplete-popup-separator-color: rgb(82, 82, 94);
    --panel-banner-item-update-supported-bgcolor: rgb(84, 255, 189);
    --panel-banner-item-info-icon-bgcolor: rgb(128, 235, 255);
    --tab-icon-overlay-stroke: rgb(66, 65, 77);
    --tab-icon-overlay-fill: rgb(251, 251, 254);
    --panel-item-hover-bgcolor: color-mix(in srgb, currentColor 9%, transparent);
    --arrowpanel-dimmed-further: color-mix(in srgb, currentColor 14%, transparent);
    --panel-item-active-bgcolor: color-mix(in srgb, currentColor 25%, transparent);
    --urlbar-icon-fill-opacity: 1;
    --panel-separator-zap-gradient: linear-gradient(90deg, #9059FF 0%, #FF4AA2 52.08%, #FFBD4F 100%);
    --panel-description-color: rgba(251, 251, 254, 0.7);
    --toolbar-field-background-color: rgb(28, 27, 34);
    --toolbar-field-color: rgba(251, 251, 254, 1);
    --toolbar-field-border-color: rgba(0, 0, 0, 0);
    --toolbar-field-focus-background-color: rgba(66, 65, 77, 1);
    --toolbar-field-focus-color: rgba(251, 251, 254, 1);
    --lwt-tab-text: rgb(251, 251, 254);
    --toolbar-color: rgb(251, 251, 254);
    --toolbarbutton-icon-fill: rgb(251, 251, 254);
    --lwt-selected-tab-background-color: rgb(66, 65, 77);
    --tabpanel-background-color: rgb(43, 42, 51);
}