/* ==UserStyle==
@name         AP News Dark
@namespace    https://danamw.github.io/scripts/scripts/APNews.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/APNews.user.css
@version      0.0.3
@author       Dana Meli
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
==/UserStyle== */

@-moz-document domain("apnews.com") {
    .Content.WireStory.fluid-wrapper.with-lead,
    html,
    body {
        background-color: var(--Myback) !important;
        color: var(--MyW) !important;
    }
    .Header {
        background-color: var(--Myred3) !important;
    }
    .optional-header-title.content {
        color: var(--Myred1) !important;
    }
    .Footer {
        display: none !important;
    }
    h1:hover,
    li.tag:hover a {
        color: var(--Myred1) !important;
    }
}