/* ==UserStyle==
@name         Arstechnica Dark
@namespace    https://danamw.github.io/scripts/scripts/ArstechnicaDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/ArstechnicaDark.user.css
@version      0.0.4
@author       Dana Meli
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
==/UserStyle== */

@-moz-document domain("arstechnica.com") {
    body,
    html {
        background-color: var(--MyB) !important;
    }
    .site-wrapper {
        background-color: var(--Mygray1) !important;
    }
    .ars-appeal-container,
    .ars-sub-app-no-banners-no-tracking-animated.ars-sub-app.visible {
        display: none !important;
    }
    a.lSNext,
    a.lSPrev {
        background-image: -moz-linear-gradient(top, var(--Mygray1), var(--Mygray3)) !important;
        border-radius: 25px !important;
    }
    a.lSNext:hover,
    a.lSPrev:hover {
        background-image: -moz-linear-gradient(top, var(--Myred1), var(--Myred3)) !important;
        color: var(--MyW) !important;
    }
    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid var(--MyB) !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 80%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid var(--Myred1) !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--MyX1) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 80%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
}