/* ==UserStyle==
@name         Egotastic Dark
@namespace    https://danamw.github.io/scripts/scripts/EgotasticDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/EgotasticDark.user.css
@version      0.0.9
@description  Egotastic Dark Skin
@author       Dana Meli
@homepageURL  https://danamw.github.io
==/UserStyle== */

@-moz-document domain("egotastic.com"),
domain("egotasticsports.com"),
domain("egoallstars.com") {
    .pushcrew-chrome-style-notification,
    .pushcrew-chrome-style-notification-safari {
        display: none !important;
    }
    #mc-embedded-subscribe-form,
    #ac-lre-player-ph,
    #privy-confetti-canvas,
    .privy,
    .privy-popup-container {
        display: none !important;
    }
    .privy-container,
    .privy-inner-container,
    .privy-tab-container,
    .privy-bottom-center,
    .privy-bottom,
    .privy-center,
    .privy-basic .privy-tab,
    .privy-bottom,
    .privy-center,
    .privy-basic,
    .privy-white-text,
    .privy .privy-popup-container,
    .privy-popup-content-wrap {
        display: none !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    li.menu-item a:hover {
        color: var(--MyW) !important;
    }
    .e-red,
    a {
        color: var(--Mygray2) !important;
        text-shadow: 1px 1px 0 var(--Mytext) !important;
    }
    body {
        background-color: var(--Myback) !important;
        color: var(--Mytext) !important;
    }
    div#navbar-holder {
        background-color: var(--Myback) !important;
    }
    .navbar {
        background-color: var(--Mygray2) !important;
    }
    .h-whitebg,
    #searchsubmit {
        color: var(--Mytext) !important;
        background-color: var(--Mygray2) !important;
    }
    #s {
        color: var(--Mytext) !important;
        background-color: var(--Mygray3) !important;
    }
    .col-xs-12,
    .container {
        background-color: var(--Mygray3) !important;
    }
    .pi_header {
        background-color: var(--Myred2) !important;
    }
    p {
        color: var(--Mytext) !important;
    }
    .e-category,
    h1,
    .e-headline {
        color: var(--Myred1) !important;
        text-shadow: 1px 1px 5px var(--MyW) !important;
    }
    .e-red:hover,
    a:hover,
    .e-category:hover {
        text-decoration: none !important;
        color: var(--Myred1) !important;
        text-shadow: 1px 1px 0 var(--MyB) !important;
    }
    .menu-item {
        margin-right: 2px !important;
        margin-left: 2px !important;
        color: var(--MyW) !important;
    }
    #gprev:not([style="opacity: 0.3"]),
    #gnext:not([style="opacity: 0.3"]),
    #searchsubmit,
    .menu-item {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    #s {
        border-radius: 15px !important;
        background-color: var(--Mygray2) !important;
        color: var(--Mytext) !important;
    }
    .menu-item>a {
        margin-bottom: -25px !important;
        margin-top: -25px !important;
    }
    .menu-item-object-category {
        margin-top: 27px !important;
    }
    #gprev:hover:not([style="opacity: 0.3"]),
    #gnext:hover:not([style="opacity: 0.3"]),
    #searchsubmit:hover,
    .menu-item:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    #gprev,
    #gnext {
        padding: 5px !important;
    }
    #gprev:active:not([style="opacity: 0.3"]),
    #gnext:active:not([style="opacity: 0.3"]),
    #searchsubmit:active,
    .menu-item:active {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    div.e-cirle-photo:hover {
        color: var(--MyX1) !important;
        box-shadow: 0 0 40px 1px var(--Myred1), 0 0 0.4em 0.5em hsla(0, 0%, 100%, 0.6) !important;
    }
    div#disqus_thread,
    .h-adholder,
    .e-box-comments {
        display: none !important;
    }
    .col-xs-12 {
        margin-top: 25px !important;
    }
    div[class="col-xs-12 content-color"],
    div[class="row margin0 e-related-posts hidden-sm"] {
        border-top: 10px solid var(--Myred2) !important;
    }
}