/* ==UserStyle==
@name         Gmail Dark
@namespace    https://danamw.github.io/scripts/scripts/GmailDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/GmailDark.user.css
@version      0.1.34
@author       Dana L. Meli-Wischman
@homepageURL  https://DanaMW.github.io
@preprocessor default
@var select setLeft "Chats On Left" {
  "Left_Side:Left Side": "left",
  "Right_Side:Right Side": "right"
}
@var range smove "Move Search left/Right"[0, 0, 99, 1, "vw"]
@var range swidth "Change Search Width"[300, 300, 600, 1, "px"]
==/UserStyle== */

@-moz-document domain("mail.google.com"),
domain("hangouts.google.com"),
url-prefix("https://mail.google.com/"),
url-prefix("https://accounts.google.com/"),
url-prefix("https://apis.google.com/"),
url-prefix("https://contacts.google.com/widget"),
url-prefix("https://contacts.google.com/"),
url-prefix("https://gsuite.google.com/"),
url-prefix("https://ssl.gstatic.com/"),
url-prefix("https://docs.google.com/picker"),
url-prefix("https://chat.google.com/") {
    td[bgcolor],
    html,
    body {
        background-image: none !important;
        background-color: var(--MyB) !important;
        color: var(--Mytext) !important;
    }
    .aND.akj.aZ6.a5z.pp.aj3,
    .akc.aZ6.nH.oy8Mbf.nn.aCl {
        background-color: var(--MyB) !important;
    }
    div.no {
        float: var(--setLeft) !important;
    }
    span,
    .d-Na-JX-I.d-Na-M7-JX.d-Na-axY.d-Na-Gs,
    .d-Na-J3.d-Na-hFsbo.d-Na-JX-ax3,
    .gb_Qe,
    .RveJvd,
    span.ait,
    span.CJ {
        background-color: transparent !important;
    }
    /* EMAILFIX */
    div[style="color:rgb(33,33,33)"],
    div[name="divtagdefaultwrapper"],
    .ip.iq,
    table,
    .gs,
    p,
    br,
    tbody,
    .G3.G2,
    .ip.iq,
    center,
    .Bu.bAn,
    .nH {
        background-color: var(--MyB) !important;
    }
    span[role="link"]::before {
        filter: invert(1) !important;
    }
    li,
    div[dir="auto"],
    #\:2u,
    p,
    td,
    a {
        color: var(--MyW) !important;
    }
    span.g2,
    br,
    b {
        color: var(--TwitterBlue) !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-color: var(--Myred1) var(--Myred3);
        scrollbar-width: thin !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    #lZwQje {
        display: none !important;
    }
    div.gb_td.gb_la {
        position: fixed !important;
        max-width: 90vw !important;
        width: 90vw !important;
        left: 0vw !important;
    }
    #aso_search_form_anchor {
        position: absolute !important;
        left: 0px !important;
    }
    #aso_search_form_anchor {
        position: absolute !important;
        left: calc(1vw + var(--smove)) !important;
        width: var(--swidth) !important;
    }
    .Kj-JD-Jh {
        background-color: var(--Myback) !important;
        color: var(--Myback) !important;
        opacity: 0.9 !important;
    }
    .WD,
    .At.Jf {
        background-color: var(--MyX1) !important;
    }
    .aWucv.tyA16,
    .cf,
    .r7,
    .nH.r4 {
        background: var(--MyB) !important;
    }
    .Hp {
        border-left: 1px solid var(--Mygray2) !important;
        margin-left: -1px !important;
        text-align: center !important;
    }
    .gb_ob.gb_pb {
        color: var(--TwitterRed) !important;
    }
    .Hp,
    .thead,
    .acts {
        background-color: var(--Mygray2) !important;
        color: var(--MyW) !important;
    }
    tr.cf.rc td,
    label,
    .aB,
    .PF,
    .l8,
    a:not(button) {
        text-decoration: none !important;
        color: var(--MyW) !important;
    }
    span.Ca:hover,
    a:hover {
        text-decoration: none !important;
        color: var(--Myred1) !important;
    }
    h3>a {
        text-decoration: none !important;
        color: var(--MyW) !important;
    }
    a:visited {
        font-weight: bold !important;
        color: var(--Mygreen2) !important;
    }
    .Eg.KzhQXc.a-E.WopYHf.aZzjbc {
        background-color: var(--MyB) !important;
    }
    head,
    .aAX {
        background-color: var(--Myback) !important;
    }
    .ae0 {
        background-color: var(--Myred1) !important;
    }
    .acM.acN:hover {
        color: var(--Myred1) !important;
    }
    .qL {
        background-color: initial;
        color: initial;
    }
    .gb_2f.gb_nb,
    div[aria-label="Google apps"]>ul,
    .aZzjbc,
    .gb_xg.gb_Sb,
    .gb_wg.gb_Sb,
    .acM.acN,
    .bs3,
    .vO,
    .wO.nr.l1 {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    .Ih.Uf>.Eg.KzhQXc.a-E.WopYHf.aZzjbc {
        background-color: transparent !important;
    }
    .aYv {
        background-color: var(--Myblue1) !important;
    }
    .yV {
        background-color: var(--MyX1) !important;
        border: 1px solid var(--MyW) !important;
        border-radius: 5px !important;
    }
    .U8EhUb.BV {
        color: var(--MyW) !important;
    }
    .aSH,
    .aYy {
        background-color: var(--MyX3) !important;
    }
    .dL {
        background-color: var(--Mygreen3) !important;
    }
    .gb_Ne.gb_lf.gb_5e .gb_8e.gb_if>svg,
    .gb_Ne.gb_lf.gb_5e .gb_nf>svg {
        color: var(--MyW) !important;
    }
    .gb_Ne.gb_lf.gb_5e {
        border: none !important;
    }
    .gb_Ne.gb_lf.gb_5e .gb_of.gb_if {
        margin-top: 2px !important;
    }
    .Dj,
    .gb_7c.gb_vd.gb_R.gb_8c.gb_bg,
    .gb_ad.gb_lb.gb_3g.gb_R,
    .gb_7c.gb_vd.gb_R.gb_8c.gb_ag,
    .gb_ad.gb_lb.gb_mh.gb_R,
    .gb_7c.gb_ud.gb_R.gb_8c.gb_8f,
    .gb_ad.gb_lb.gb_oh.gb_R,
    .gb_7c.gb_ud.gb_R.gb_8c.gb_ag,
    .gb_4c.gb_lb.gb_gh.gb_R,
    .gb_1c.gb_od.gb_R.gb_2c.gb_4f,
    .gb_gb.gb_bd.gb_2g.gb_R.gb_Rf.gb_pb,
    .gb_gb.gb_ad.gb_1g.gb_R.gb_Qf.gb_pb,
    .gb_nf,
    .gb_b.gb_hb.gb_R,
    .gb_b.gb_hb.gb_R,
    .gb_3c.gb_lb.gb_fh.gb_R,
    .gb_3c.gb_lb.gb_eh.gb_R,
    .gb_0c.gb_kb.gb_ah.gb_R,
    .gb_Oc.gb_ne,
    .gb_b.gb_gb.gb_R,
    .gb_hb.gb_id.gb_ah.gb_R.gb_Xf.gb_qb,
    .gb_Wc.gb_id.gb_R.gb_Xc.gb_Xf,
    .gb_9.gb_id.gb_R.gb_Xf,
    .gb_Nc.gb_lb.gb_Mc.gb_ke {
        background: transparent !important;
    }
    .gb_l,
    .gb_a,
    .gb_m,
    .gb_k,
    .gb_Mc.gb_8c.gb_R.gb_Nc.gb_Ff {
        background-color: transparent !important;
    }
    .gb_8e.gb_if>svg,
    .gb_nf>svg,
    .gb_kf>svg {
        color: var(--MyW) !important;
        margin-left: -5px !important;
    }
    .gb_Df.gb_Pf,
    .gb_Df.gb_Nf {
        position: initial;
        margin-top: -50px;
    }
    .gb_Ea.gb_Tc.gb_ng.gb_f.gb_xf,
    #gbwa,
    .gb_Ea.gb_Tc.gb_pg.gb_f.gb_xf,
    .gb_uc.gb_Tc.gb_f.gb_vc.gb_xf {
        border: none !important;
        background: transparent !important;
    }
    .J-JN-I-Kq,
    .J-JN-I-JW {
        background-color: var(--Myred1) !important;
    }
    .bNfiFb,
    .bNfiFb.qs41qe {
        background-color: var(--Myred2) !important;
    }
    .aT5-aOt-I-JX-Jw,
    .brC-dA-I-JX-Jw {
        background-color: var(--Myred3) !important;
    }
    .aT5-aOt-I-JX-Jw:hover,
    .brC-dA-I-JX-Jw:hover {
        background-color: var(--Myred1) !important;
    }
    .wO.nr,
    .aA6 {
        background-color: var(--Mygray3) !important;
    }
    div.aeZ {
        border-color: var(--Myred3) !important;
        background-color: var(--Myred3) !important;
    }
    div.aph {
        border-color: var(--Myred1) !important;
    }
    span.gb_db.gbii {
        position: initial !important;
    }
    div.uXhw3b,
    div.aph {
        margin-top: -60px !important;
    }
    div.apb {
        margin-top: -40px !important;
    }
    a.gb_ke.gb_fc {
        filter: invert(0) hue-rotate(100%) brightness(150%) !important;
    }
    a[href] {
        filter: brightness(150%) !important;
        color: var(--MyW) !important;
    }
    div.akc.aZ6.nH.oy8Mbf.nn.aCl {
        border-left: 3px solid var(--MyB) !important;
        border-right: 1px solid var(--MyB) !important;
        border-top: 2px solid var(--MyB) !important;
    }
    div.T0.aND.akj.aZ6.a5z.p.aj3,
    div.akcaZ6nHoy8MbfnnaCl {
        border-radius: 5px !important;
    }
    div.hN,
    div.h9.gt {
        background-color: var(--Myred2) !important;
    }
    .qK,
    td.a8X.gU,
    td.oc.gU,
    div.J-J5-Ji.btx,
    div.bAK,
    tr.btC,
    table.cf.Ht,
    td.Hm,
    tr[id=":5u"],
    div.Hp,
    div.aoI {
        background-color: var(--Mygray2) !important;
    }
    html[stylus-iframe="https://mail.google.com"],
    iframe[src*="https://docs.google.com/picker"],
    div[role="dialog"],
    div[aria-label="Account Information"],
    .ajA.SK {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    div[aria-label="Account Information"] {
        border: 1px solid var(--Myred1) !important;
    }
    .kf-Al-pn-qg-Qe {
        filter: invert(180%) !important;
    }
    .kf-Pk-ic.kf-Qk-Md.kf-Lp-Qk,
    .kf-Pk-Fi.kf-Qk-Fi {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    div.aoD.az6,
    div.aoD.hl,
    div.fX.aXjCH,
    div[id=":7a"],
    div[id=":dn"] {
        background-color: var(--Mygray3) !important;
        border-bottom: 1px solid var(--Myborder) !important;
    }
    div[style*="#000000"],
    br,
    em {
        color: var(--MyW) !important;
    }
    strong {
        color: var(--Myblue1) !important;
    }
    td.alL,
    font {
        color: var(--Myred1) !important;
    }
    button.RlZRfc.YlMS9e,
    span.aXw.T-KT::before {
        filter: invert(0%) !important;
    }
    .Kj-JD-K7-K0 {
        color: var(--Myred1) !important;
        margin-left: 90px !important;
    }
    h2.hP,
    div.ha {
        background-color: var(--MyB) !important;
        color: var(--MyW) !important;
    }
    div.hN.so.Ij,
    div.xA.sMBrBc.oPevkb {
        background-color: var(--Mygray3) !important;
    }
    .bog>span {
        color: var(--Mygray1) !important;
    }
    div.gstq_d.gstq_a.gsfs {
        color: var(--Mygray2) !important;
    }
    .Tm.aeJ {
        background-color: var(--MyB) !important;
    }
    div.aim.ain {
        border-color: var(--Myred1) !important;
    }
    .zA.zE .y2 {
        color: var(--Myborder) !important;
    }
    .zAyO .y2 {
        color: var(--MyXW) !important;
    }
    .rc,
    td[class*="oZ-x3"] {
        color: var(--Myred1) !important;
    }
    td.PF.xY.PE::before {
        background-color: var(--Myred1) !important;
    }
    td,
    tr,
    .T-I.J-J5-Ji.T-I-KE.L3::before,
    .T-I.J-J5-Ji.T-I-KE.L3:hover::before {
        background-color: transparent !important;
    }
    .T-I:not([class="T-I J-J5-Ji T-I-KE L3"])::before,
    .T-Jo::before,
    .d-Na-JX-I::before,
    .G-asx::before,
    .asa::before,
    span.J-Ke.n4.ah9,
    span.J-Ke.n4.ah9.aiu {
        background-color: var(--MyX1) !important;
    }
    span.J-Ke.n4.ah9:hover,
    span.J-Ke.n4.ah9.aiu:hover {
        background-color: var(--Myred1) !important;
    }
    .T-I {
        margin-right: 2px !important;
    }
    #\:fl,
    .vT,
    .gO,
    .tly4Vb,
    ._cYu {
        color: var(--MyW) !important;
    }
    .akh {
        left: 35px !important;
    }
    .uq,
    .pTh3n {
        filter: invert(0) !important;
    }
    path[d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"],
    path[d="M12,2C6.5,2,2,6.5,2,12c0,5.5,4.5,10,10,10s10-4.5,10-10C22,6.5,17.5,2,12,2z M12,18c-0.6,0-1-0.5-1-1h2 C13,17.5,12.5,18,12,18z M17,16H7v-0.6l1.2-1.2v-3c0-1.9,1-3.4,2.8-3.8V6.9C11.1,6.4,11.5,6,12,6s0.9,0.4,0.9,0.9v0.4 c1.8,0.4,2.8,2,2.8,3.8v3l1.2,1.2V16z"],
    path[d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"],
    path[d="M7 10l5 5 5-5z"],
    path[d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"],
    path[d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"],
    .gbxx,
    .J-N-JX,
    .mI,
    .a1,
    .aA7,
    .aA8,
    .a2X,
    .e5,
    .QT,
    .og,
    .dv,
    .Y1,
    .aoq,
    svg,
    .wGc,
    a[class="gb_b gb_dc"],
    span[class="gb_Xa gb_dc"],
    .Wv1EFb,
    .SM,
    .Zy,
    span.gD,
    .hA,
    .aZg,
    .aZh,
    .d-Na-N-M7-JX,
    .mL,
    .J3,
    .hB,
    .f {
        filter: invert(1);
    }
    span.Yfed6d svg:hover {
        filter: invert(0) !important;
    }
    div.gsrV1e svg,
    [role="button"]:hover svg {
        color: var(--MyW) !important;
    }
    .Ahnnze,
    div.ah.aiv.aJS,
    div.Ahnnze.a-E.uCXoPb,
    table[class="x1bKod x1bKod-Fd"],
    .tk,
    .gU,
    .aC3,
    .IG {
        background-color: var(--Mygray2) !important;
    }
    #linkdialog-onweb-tab,
    div.a-E.Eg.nS,
    .x1bKod-Ga,
    th[class="x1bKod-i x1bKod-yj7kj"],
    .ZmcSxe,
    .wxPY,
    .ahRshd,
    .ha {
        color: var(--Mytext) !important;
        background-color: var(--Mygray2) !important;
    }
    .uD:hover,
    .l8:hover,
    .aB:hover,
    a:hover:not(button) {
        color: var(--Myred1) !important;
        text-shadow: 1px -1px 0 var(--MyB) !important;
    }
    .d-td-c-u:hover {
        filter: brightness(125%) !important;
    }
    span.nU .J-Ke {
        color: var(--MyW) !important;
        padding-right: 20px !important;
    }
    .J-J5-Ji {
        vertical-align: center !important;
    }
    .TN {
        text-align: center !important;
    }
    .LS0B,
    div.LWLRfd.Ef.RU.uR,
    .EV,
    .My {
        background-color: var(--Mygray1) !important;
        color: var(--Mytext) !important;
    }
    table,
    tbody td {
        background-color: transparent !important;
    }
    .aON {
        color: transparent !important;
    }
    div.Ef.pS,
    .oY:hover,
    div.z-b-G.tJJIje,
    div.hN.VU:hover {
        color: var(--Myred1) !important;
        background-color: var(--Mygray2) !important;
    }
    div.hN.VU,
    div.SPTjUd.a-E.Eg,
    .pdW3fd {
        background-color: var(--Mygray2) !important;
    }
    .aAT,
    .aAU {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: rgb(28, 28, 28) !important;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
    }
    .d-Na-JG-M {
        color: var(--Mytext) !important;
        background-color: var(--Myback) !important;
        border: 2px solid var(--MyW) !important;
    }
    button {
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        appearance: none !important;
    }
    table[class="cf alO"],
    .ICsgXc,
    .oL,
    .J-M,
    .gb_ia,
    .LPYSif,
    .Tm,
    .aZe,
    .aQp,
    .aOO,
    .aOL,
    .aZc,
    .aOM,
    .aO1,
    .md,
    .g3,
    .l6,
    .amn,
    .nM {
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
    }
    .gb_Ta.gb_z.gb_7b,
    .gb_C.gb_u,
    .qDm3sf.bBI3Tb,
    .Ukpgsf,
    #\:410,
    .ZF-zT,
    .amG>div:nth-child(1),
    .J-M,
    .J-M.J-M-ayU,
    .d-Na-JG-M,
    div.J-M:nth-child(5),
    div.J-M:nth-child(41) {
        color: var(--Mytext) !important;
        background-color: var(--Mygray3) !important;
        border-radius: 5px !important;
        border: 1px solid var(--MyW) !important;
    }
    .w-Pv {
        border: 1px solid var(--Myborder) !important;
    }
    .J-LC-Jz,
    .J-JK-Jz {
        color: var(--Mytext) !important;
    }
    div[class="CWGGG Tt"],
    span[class="r4QAme"] {
        z-index: 4 !important;
        color: var(--MyW) !important;
    }
    .kKTUO {
        color: var(--Mygreen1) !important;
        background-color: var(--Mygray3) !important;
    }
    div.KXUPI,
    table[id="gs_sbt50"],
    .tk,
    table[class="IZ"],
    td[class="gU az5"],
    /*
    .Kj-JD-Jz,
    .Kj-JD-K7,
    */
    div[class^="Eg a-E"],
    div.tq,
    div[class="vE dQ editable"],
    div[class="J-J5-Ji btx"],
    td[class="gU Up"],
    .qz,
    .Am,
    .Ar,
    input {
        color: var(--MyW) !important;
        background-color: var(--Mygray3) !important;
    }
    input[aria-label="Search all conversations"],
    input[disabled=""],
    input[aria-label="Search in mail"],
    input[aria-label="Search mail"] {
        color: var(--Mytext) !important;
        background-color: var(--Mygray3) !important;
        height: 28px !important;
        margin-top: -3px !important;
        border: 2px solid var(--Myborder) !important;
        border-radius: 15px !important;
        text-align: center !important;
    }
    input#gs_taif50,
    input[aria-label="Search all conversations"] {
        margin-top: -22px !important;
    }
    input#gs_taif50,
    input[aria-label="Search in mail"],
    input[aria-label="Search mail"] {
        margin-top: -13px !important;
        height: 28px !important;
    }
    div.KXUPI {
        border: 2px solid var(--Myborder) !important;
        border-radius: 15px !important;
    }
    .Kj-JD-Jz,
    .Kj-JD-K7 {
        text-align: center !important;
    }
    .gb_2e.gb_df {
        position: initial !important;
        margin-top: -43px !important;
    }
    button.J-at1-auR.J-at1-atl {
        position: relative;
        right: 335px !important;
    }
    div.Kj-JD-K7.Kj-JD-K7-bsT {
        border-radius: 15px !important;
    }
    .Kj-JD-Jl {
        align-content: center !important;
    }
    .Kj-JD {
        color: var(--Mytext) !important;
        border: 2px solid var(--Myborder) !important;
        border-radius: 15px !important;
    }
    .ihxlQe:hover {
        color: var(--Myred1) !important;
    }
    div.J-M-Jz.aXjCH {
        -moz-appearance: checkbox-container;
        -webkit-appearance: checkbox-container;
        appearance: checkbox-container;
    }
    .gb_C.gb_v,
    .gb_ea.gb_8,
    .EIlDfe,
    .gb_da,
    div.oL.aDm {
        background-color: var(--Mygray3) !important;
    }
    div.J-N.J-Ks.J-Ks-KO .J-N-Jo {
        -moz-appearance: checkbox;
        -webkit-appearance: checkbox;
        appearance: checkbox;
        color: var(--MyW) !important;
        border-color: var(--MyW) !important;
        background-color: transparent !important;
    }
    div.J-LC-Jo.J-J5-Ji {
        -moz-appearance: checkbox;
        -webkit-appearance: checkbox;
        appearance: checkbox;
        color: var(--MyW) !important;
        border-color: var(--MyW) !important;
        background-color: transparent !important;
    }
    div[class="J-JK J-JK-JT"],
    div[class="J-LC J-LC-JT"],
    div[class="eo2HSb HZkERb"] {
        background-color: var(--Myred2) !important;
        color: var(--MyW) !important;
    }
    .n291pb.uaxL4e {
        border-radius: 50%;
        border: 1px solid var(--Myborder) !important;
    }
    .Roy1If,
    .UR.UG,
    span[class="tL8wMe EMoHub"] {
        color: var(--MyW) !important;
    }
    .ci {
        display: none !important;
    }
    .tk.TmwRj.Sn.GjkoZd .KRQuhe,
    .tk.TmwRj.Sn .KRQuhe {
        background-color: var(--Myblue2) !important;
        color: var(--MyW) !important;
    }
    .tk.TmwRj.pj.GjkoZd .KRQuhe,
    .tk.TmwRj.pj .KRQuhe {
        background-color: var(--Myred2) !important;
        color: var(--MyW) !important;
    }
    .gb_R {
        background-color: var(--Myback) !important;
    }
    .azX {
        background-color: var(--Myred3) !important;
        border-color: var(--Myred3) !important;
        color: var(--Mytext) !important;
    }
    .gsop_j {
        color: var(--MyXB) !important;
    }
    div[style*="background: rgb(255, 255, 255) none repeat scroll 0% 0%; left: 0px; position: absolute; top: 0px; z-index: 1101; opacity: 0.5;"] {
        background: var(--MyB) none repeat scroll 0% 0% !important;
        left: 0px;
        position: absolute;
        top: 0px;
        z-index: 1101;
        opacity: 0.5 !important;
    }
    div[style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(190, 190, 190); height: auto; position: absolute; width: auto; z-index: 1101; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; overflow: visible; visibility: visible; left: 469px; top: 49px;"] {
        background: var(--MyXB) none repeat scroll 0% 0% !important;
        border: 2px solid var(--Myborder) !important;
        height: auto;
        position: absolute;
        width: auto;
        z-index: 1101;
        box-shadow: var(--MyXB) 0px 4px 16px !important;
        overflow: visible;
        visibility: visible;
        border-radius: 15px !important;
    }
    iframe[src*="https://gsuite.google.com/u/0/marketplace/appfinder"],
    div#glass-content {
        border-radius: 15px !important;
    }
    div.bse-bvF-I.bse-bvF-a9p.bse-bvF-I-JW,
    div.bse-bvF-I.bse-bvF-aLp.bse-bvF-I-JW {
        background-color: var(--MyX1) !important;
        border-radius: 50% !important;
    }
    div.J-KU.bvm.bAj.J-KU-JW,
    div.J-KU.bvm.bAj {
        border-radius: 50% !important;
    }
    .gb_hc {
        opacity: 1 !important;
    }
    input[value="Sign out all other web sessions"] {
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        border: none !important;
        padding: 5px !important;
    }
    .lr,
    .gb_Z {
        background: transparent !important;
    }
    .gb_bf.gb_cf,
    .gb_xf.gb_Hf {
        border-radius: 50% !important;
    }
    button.gb_1e,
    button.gb_Ue {
        border-radius: 50% !important;
        width: 46px !important;
        height: 46px !important;
    }
    button.gb_Ue svg {
        filter: invert(0) !important;
        margin-left: -3px !important;
    }
    #\:3c::before:hover {
        background-image: none !important;
        background-color: transparent !important;
        color: #0000ff;
    }
    a.gb_tb.gb_Hb,
    .azewN,
    a[role="button"].gb_td,
    div[role="tab"],
    li[aria-grabbed="false"]>a,
    span[role="button"]:not([aria-label="Close"]):not([aria-label="Not starred"]):not([aria-label*="Starred"]):not(.PDfZbf),
    div[role="button"]:not([aria-label="Search mail"]):not(.zDiulc):not(.HxMcae):not(.lr):not([aria-label*="side panel"]):not(.uq):not([aria-label="Search mail"]),
    a[aria-label="More Google apps"],
    a.gb_c,
    button:not([aria-label="Search mail"]):not(.gGnOIc):not(.zDiulc):not(.uq):not(.rE):not([role="checkbox"]):not(.gb_Ve):not([aria-label="Clear search"]):not([aria-label="Search Mail"]):not([aria-label="Advanced search options"]):not([title="Remove attachment"]):not([aria-label="Search all conversations"]):not(.OB):not(.SV):not(.OB):not(.Cy),
    select,
    tr.To,
    .gb_fa,
    .gb_Cb a[href*="https://myaccount.google.com"],
    a#gb_71,
    .CL,
    #\:kx,
    #\:kz,
    .f1,
    .gb_xf.gb_Hf,
    .gb_fa.gb_ng,
    input[value="Sign out all other web sessions"],
    .gb_hc,
    .gb_O,
    .ams,
    button[name="urs"],
    span.x2,
    #\:4bo,
    button[key="send"],
    button[key="cancel"],
    div.J-KU.bvm.bAj,
    button[class="Izwf5d S2zqnf z-b-G fTj9Ab"],
    button[class="LbWtad cmX6We Wxsg2c hH1ADf z-b-ua"],
    button[name="cancel"],
    .z-b-G,
    .aoo,
    .J-at1-auR,
    .d-Na-JX-I,
    .J-JN-M-I,
    .gb_ka,
    .gb_ja,
    a[href*="https://myaccount.google.com/"],
    a[href*="https://accounts.google.com/AddSession"],
    div[class*="J-KU"][aria-selected="false"]:not(hover),
    div[class*="J-KU"][aria-selected="true"]:not(hover),
    .akh,
    #gbqfb,
    .T-I,
    .TN {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    /*added shit */
    a.gb_tb.gb_Hb:hover,
    .azewN:hover,
    a[role="button"].gb_td:hover,
    div[role="tab"]:hover,
    li[aria-grabbed="false"]>a:hover,
    span[role="button"]:not([aria-label="Close"]):not([aria-label="Not starred"]):not([aria-label*="Starred"]):not(.PDfZbf):hover,
    div[role="button"]:not([aria-label="Search mail"]):not(.zDiulc):not(.HxMcae):not(.lr):not([aria-label*="side panel"]):not(.uq):hover,
    a[aria-label="More Google apps"]:hover,
    a.gb_c:hover,
    button:not([aria-label="Search mail"]):not(.gGnOIc):not(.zDiulc):not(.uq):not(.rE):not([role="checkbox"]):not(.gb_Ve):not([aria-label="Clear search"]):not([aria-label="Search all conversations"]):not([aria-label="Advanced search options"]):not([title="Remove attachment"]):not([aria-label="Search mail"]):not(.OB):not(.SV):not(.OB):not(.Cy):hover,
    select:hover,
    tr.To:hover,
    .gb_fa:hover,
    .gb_Cb a[href*="https://myaccount.google.com"]:hover,
    a#gb_71:hover,
    .CL:hover,
    #\:kx:hover,
    #\:kz:hover,
    .f1:hover,
    .gb_xf.gb_Hf:hover,
    .gb_fa.gb_ng:hover,
    input[value="Sign out all other web sessions"]:hover,
    .gb_hc:hover,
    .gb_O:hover,
    .ams:hover,
    button[name="urs"]:hover,
    span.x2:hover,
    #\:4bo:hover,
    button[key="send"]:hover,
    button[key="cancel"]:hover,
    div.J-KU.bvm.bAj:hover,
    button[class="Izwf5d S2zqnf z-b-G fTj9Ab"]:hover,
    button[class="LbWtad cmX6We Wxsg2c hH1ADf z-b-ua"]:hover,
    button[name="cancel"]:hover,
    .z-b-G:hover,
    .aoo:hover,
    .J-at1-auR:hover,
    .d-Na-JX-I:hover,
    .J-JN-M-I:hover,
    .gb_ka:hover,
    .gb_ja:hover,
    a[href*="https://myaccount.google.com/"]:hover,
    a[href*="https://accounts.google.com/AddSession"]:hover,
    div[class*="J-KU"][aria-selected="false"]:not(hover):hover,
    div[class*="J-KU"][aria-selected="true"]:not(hover):hover,
    .akh:hover,
    #gbqfb:hover,
    .T-I:hover,
    .TN:hover,
    /* END added shit */
    html body.muPwQb div.ECyoFe.TsiDff.hh.xFG3Re.ICsgXc div.Xg div.sh div.lqfOD.lGboVb div.fcpPib div.hh.uJ div.Ff div.LWLRfd.Ef.RU.uR div.CLIscc.Y5Dake div.eWGz9b div div.Gh6oUb div button.LbWtad.cmX6We.Wxsg2c.hH1ADf.z-b-G:hover,
    .azewN:hover,
    button[class="Izwf5d S2zqnf z-b-G fTj9Ab"]:hover,
    button[class="UhDpP cmX6We TTnd8c ny1kd z-b-G"]:hover,
    * button[class="yS0zpe EFnEWc "]:hover,
    [role="menuitem"]:hover,
    a[role="button"].gb_td:hover,
    div[role="tab"][aria-selected="true"],
    div[role="tab"]:hover,
    li[aria-grabbed="true"]>a,
    li[aria-grabbed="false"]>a:hover,
    span[role="button"]:hover:not([aria-label="Close"]):not([aria-label="Not starred"]):not([aria-label*="Starred"]):not(.PDfZbf),
    div[role="button"]:hover:not([aria-label="Search mail"]):not(.zDiulc):not(.HxMcae):not(.lr):not([aria-label*="side panel"]):not(.uq),
    a[aria-label="More Google apps"]:hover,
    a.gb_c:hover,
    button:hover:not([aria-label="Search mail"]):not(.gGnOIc):not(.zDiulc):not(.uq):not(.rE):not([role="checkbox"]):not(.gb_Ve):not([aria-label="Clear search"]):not([aria-label="Search all conversations"]):not([aria-label="Advanced search options"]):not([title="Remove attachment"]):not(.SV):not(.OB):not(.Cy),
    select:hover,
    tr.To:hover,
    .gb_fa:hover,
    .gb_Cb a[href*="https://myaccount.google.com"]:hover,
    a#gb_71:hover,
    .CL:hover,
    #\:kx:hover,
    #\:kz:hover,
    .fZ,
    .f1:hover,
    .gb_xf.gb_Hf:hover,
    .gb_fa.gb_ng:hover,
    .Klz5ue:hover,
    .c-P.yd:hover,
    .gS5QBe:hover,
    input[value="Sign out all other web sessions"]:hover,
    .vN,
    .gb_hc:hover,
    .gb_O:hover,
    .ams:hover,
    button[name="urs"]:hover,
    #\:4bo:hover,
    .J-N.J-N-JE:hover,
    .d-Na-N-JW,
    .J-N-JT,
    button[key="send"]:hover,
    button[key="cancel"]:hover,
    div.J-KU.bvm.bAj:hover,
    button[class="LbWtad cmX6We Wxsg2c hH1ADf z-b-ua"]:hover,
    button[class="yS0zpe EFnEWc "]:hover,
    a[href*="https://myaccount.google.com/"]:hover,
    a[href*="https://accounts.google.com/AddSession"]:hover,
    .lebsnd,
    .gssb_i,
    span[class="vN bfK a3q"],
    .Jd-axF:hover,
    div[class="Jd-axF Jd-Je Je"],
    div[class="wtjVAd a-E Gz5ked"],
    .HfhnEf:hover,
    li[class="YG3x7 A6oGoc wme6Eb c-P-p lebsnd"],
    li[class="YG3x7 SStZpd wme6Eb c-P-p lebsnd"],
    div[class="Klz5ue Bb xZYdOe f0 Bm b3KmC suKgy XP"]:hover,
    div[class="Klz5ue Bb xZYdOe f0 ko CN Bm b3KmC XP"]:hover,
    div[class="Klz5ue Bb xZYdOe f0 ko CN Bm b3KmC suKgy XP"]:hover,
    button[class^="bi97z"]::before,
    .z-b-G:hover,
    button[class*="Izwf5d S2zqnf z-b-G fTj9Ab"]:hover,
    button[name="cancel"]:hover,
    .J-at1-auR:hover,
    .d-Na-JX-I:hover,
    .J-JN-M-I:hover,
    .ain .TN:not(hover),
    .gb_ka:hover,
    .gb_ja:hover,
    div[class*="J-KU"][aria-selected="false"]:hover,
    div[class*="J-KU"][aria-selected="true"]:not([hover]),
    .akh:hover,
    #gbqfb:hover,
    .aoo:hover,
    .T-I:hover,
    .TN:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    /*added shit */
    a.gb_tb.gb_Hb:active,
    .azewN:active,
    a[role="button"].gb_td:active,
    div[role="tab"]:active,
    li[aria-grabbed="false"]>a:active,
    span[role="button"]:not([aria-label="Close"]):not([aria-label="Not starred"]):not([aria-label*="Starred"]):not(.PDfZbf):active,
    div[role="button"]:not(.zDiulc):not(.HxMcae):not(.lr):not([aria-label*="side panel"]):not(.uq):active,
    a[aria-label="More Google apps"]:active,
    a.gb_c:active,
    button:not(.gGnOIc):not(.zDiulc):not(.uq):not(.rE):not([role="checkbox"]):not(.gb_Ve):not([aria-label="Clear search"]):not([aria-label="Search all conversations"]):not([aria-label="Advanced search options"]):not([title="Remove attachment"]):not([aria-label="Search mail"]):not(.OB):not(.SV):not(.OB):not(.Cy):active,
    select:active,
    tr.To:active,
    .gb_fa:active,
    .gb_Cb a[href*="https://myaccount.google.com"]:active,
    a#gb_71:active,
    .CL:active,
    #\:kx:active,
    #\:kz:active,
    .f1:active,
    .gb_xf.gb_Hf:active,
    .gb_fa.gb_ng:active,
    input[value="Sign out all other web sessions"]:active,
    .gb_hc:active,
    .gb_O:active,
    .ams:active,
    button[name="urs"]:active,
    span.x2:active,
    #\:4bo:active,
    button[key="send"]:active,
    button[key="cancel"]:active,
    div.J-KU.bvm.bAj:active,
    button[class="Izwf5d S2zqnf z-b-G fTj9Ab"]:active,
    button[class="LbWtad cmX6We Wxsg2c hH1ADf z-b-ua"]:active,
    button[name="cancel"]:active,
    .z-b-G:active,
    .aoo:active,
    .J-at1-auR:active,
    .d-Na-JX-I:active,
    .J-JN-M-I:active,
    .gb_ka:active,
    .gb_ja:active,
    a[href*="https://myaccount.google.com/"]:active,
    a[href*="https://accounts.google.com/AddSession"]:active,
    div[class*="J-KU"][aria-selected="false"]:not(hover):active,
    div[class*="J-KU"][aria-selected="true"]:not(hover):active,
    .akh:active,
    #gbqfb:active,
    .T-I:active,
    .TN:active,
    /* END added shit */
    a[role="button"].gb_td:active,
    div[role="tab"]:active,
    li[aria-grabbed="false"]>a:active,
    .azewN:active,
    span[role="button"]:active:not([aria-label="Close"]):not([aria-label="Not starred"]):not([aria-label*="Starred"]):not(.PDfZbf),
    div[role="button"]:active:not(.zDiulc):not(.HxMcae):not(.lr):not([aria-label*="side panel"]):not(.uq),
    a[aria-label="More Google apps"]:active,
    a.gb_c:active,
    button:active:not(.gGnOIc):not(.zDiulc):not(.uq):not(.rE):not([role="checkbox"]):not(.gb_Ve):not([aria-label="Clear search"]):not([aria-label="Search Mail"]):not([aria-label="Advanced search options"]):not([title="Remove attachment"]):not(.SV):not(.OB):not(.Cy),
    select:active,
    tr.To:active,
    .gb_fa:active,
    .gb_Cb a[href*="https://myaccount.google.com"]:active,
    a#gb_71:active,
    .CL:active,
    #\:kx:active,
    #\:kz:active,
    .f1:active,
    .gb_xf.gb_Hf:active,
    .gb_fa.gb_ng:active,
    .Klz5ue:active,
    .c-P.yd:active,
    .gS5QBe:active,
    input[value="Sign out all other web sessions"]:active,
    .gb_hc:active,
    .gb_O:active,
    .ams:active,
    button[name="urs"]:active,
    #\:4bo:active,
    .J-N.J-N-JE:active,
    button[key="send"]:active,
    button[key="cancel"]:active,
    div.J-KU.bvm.bAj:active,
    button[class="LbWtad cmX6We Wxsg2c hH1ADf z-b-ua"]:active,
    button[class="yS0zpe EFnEWc "]:active,
    a[href*="https://myaccount.google.com/"]:active,
    a[href*="https://accounts.google.com/AddSession"]:active,
    .Jd-axF:active,
    .HfhnEf:active,
    div[class="Klz5ue Bb xZYdOe f0 Bm b3KmC suKgy XP"]:active,
    div[class="Klz5ue Bb xZYdOe f0 ko CN Bm b3KmC XP"]:active,
    div[class="Klz5ue Bb xZYdOe f0 ko CN Bm b3KmC suKgy XP"]:active,
    .z-b-G:active,
    button[class="Izwf5d S2zqnf z-b-G fTj9Ab"]:active,
    button[name="cancel"]:active,
    .J-at1-auR:active,
    .d-Na-JX-I:active,
    .J-JN-M-I:active,
    .gb_ka:active,
    .gb_ja:active,
    div[class*="J-KU"][aria-selected="false"]:active,
    .akh:active,
    #gbqfb:active,
    .aoo:active,
    .T-I:active,
    .TN:active {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    .aJ6 {
        background-color: transparent !important;
    }
    li[class="YG3x7 A6oGoc wme6Eb c-P-p lebsnd"] li[class="YG3x7 SStZpd wme6Eb c-P-p lebsnd"] {
        background-color: var(--Myred2) !important;
    }
    .Yc.qa-l-ad {
        background-color: hsla(0, 0%, 29%, 0.4)
    }
    .pghO0c,
    .J-Ke {
        color: var(--Myred1) !important;
    }
    #\:gb,
    #\:gc,
    a.f0,
    a.f0:hover,
    .J-N-JT,
    div[class="qmDVub cj DNdEBb"],
    .lebsnd,
    div[class="H3qADd"],
    div[class="Jj11J UqiX1c"],
    .VqBtHf,
    div[class="FzSsbb drvAad"],
    .GrMEhe,
    button[class^="bi97z"],
    button[class="yS0zpe EFnEWc "],
    .J-N,
    .asd,
    .J-N-Jz,
    .J-Ke:hover {
        color: var(--MyW) !important;
    }
    .ya {
        background-color: var(--Myred3) !important;
        border-radius: 25px !important;
    }
    .NLK4Q {
        text-align: center !important;
        background-color: var(--Myred2) !important;
        color: var(--MyW) !important;
    }
    .nH.aiS,
    td[class="gU bx2"],
    .Uz .aw4 .J-J5-Ji,
    .OoRYyc,
    .Uz {
        display: none !important;
    }
    .hO,
    div[class="av"] {
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        appearance: none;
        background-color: var(--Myred2) !important;
        color: var(--MyW) !important;
        font: bolder !important;
    }
    li.d-Na-N:nth-child(10)>span:nth-child(1),
    .d-Na-N-M7-awE {
        color: var(--Mytext) !important;
    }
    .gb_Zc>.gb_Oc {
        background-color: transparent !important;
    }
    .gb_Oc {
        color: var(--Mytext) !important;
        background-color: var(--Myred2) !important;
    }
    .ewURgf,
    .yO {
        background-color: var(--MyB) !important;
    }
    .zE {
        color: var(--Myblue1) !important;
        text-shadow: 1px -1px 0 var(--MyB) !important;
        font-weight: bold !important;
        background-color: var(--Mygray2) !important;
    }
    .x7 {
        background-color: var(--MyX4) !important;
    }
    .kf-Pk-hc.kf-Ok-Zb-Md {
        background-color: transparent !important;
        background-image: none !important;
    }
    .kf-Pk-hc.kf-Ok-Zb-Md,
    .btb {
        background-image: linear-gradient(to right, rgba(161, 48, 48, 0.438), rgba(31, 20, 20, 0.05) 100%, transparent) !important;
    }
    div[class="mu0Qnb"]:hover,
    li[class="Yx Bb"]:hover,
    .aqw {
        background-color: var(--MyX1) !important;
    }
    .hO:hover,
    div[class="av"]:hover {
        background-color: var(--Myred1) !important;
    }
    div[class="J-KU-Jg J-KU-Jg-Zc aj5"] {
        background-color: var(--Mygray3) !important;
        border-bottom: 25px solid var(--Mygray3) !important;
        border-top: 25px solid var(--Mygray3) !important;
    }
    .gb_2f.gb_ob,
    div[class="CLIscc Y5Dake"],
    .kT,
    div[class="tk TmwRj pj GjkoZd"] {
        background-color: var(--Mygray3) !important;
    }
    div[class="vh"] {
        background-color: var(--Myred2) !important;
        color: var(--MyW) !important;
        border: 1px solid var(--MyW) !important;
        padding: 2px !important;
        width: 375px !important;
    }
    span[id="link_undo"] {
        text-decoration: none !important;
        color: var(--MyB) !important;
    }
    .sV,
    span[id="link_undo"]:hover {
        text-decoration: none !important;
        color: var(--MyW) !important;
    }
    span[class="l7"] {
        background-color: var(--Myred2) !important;
        color: var(--MyW) !important;
        border: 1px solid var(--MyW) !important;
        padding: 2px !important;
    }
    /* -----------------------------------POP UP CONFIGURE-------------------- */
    .gb_ub.gb_aa.gb_g {
        background-color: var(--Mygray2) !important;
        border-radius: 15px;
        border: 1px solid var(--Myborder) !important;
    }
    .p4a,
    #mpiv-bar {
        background-color: var(--Mygray2) !important;
        color: var(--Mytext) !important;
        border-color: var(--Myborder) !important;
    }
    .uoJAie.Ps0Yfc,
    .gb_wb.gb_ba.gb_g,
    .gb_Nb,
    .gb_xb.gb_ba.gb_g,
    .LW-KX,
    .gb_Hb,
    .gb_X,
    .fM,
    div[class="W6 cE"] {
        background-color: var(--Mygray3) !important;
        color: var(--Mytext) !important;
    }
    .xS,
    span.y2,
    span.zF,
    .ld-Na-Jo.d-Na-N-ax3 {
        color: var(--MyW) !important;
    }
    span.yP {
        color: var(--Mygray2) !important;
    }
    td.yX.xY div.yW {
        color: var(--Mygray1) !important;
    }
    td.yX.xY,
    div.yW {
        background-color: initial !important;
        border: none !important;
        border-color: none !important;
        color: initial !important;
    }
    li.d-Na-N-UX.d-Na-N-ax3,
    li.d-Na-N {
        background-color: transparent !important;
    }
    .A0,
    img.gZ.T-I-J3,
    img.g1.T-I-J3,
    a[class="gb_ke gb_fc"],
    .Ty,
    .Uy {
        filter: invert(1) !important;
    }
    .fbc {
        border-color: var(--Myred2) !important;
        background-color: var(--Myred2) !important;
    }
    #data-tooltips {
        background-color: var(--Myred2) !important;
        color: var(--MyW) !important;
    }
    body.xE,
    #nlpt,
    .msg,
    #loading {
        background-color: var(--Myback) !important;
    }
    .zJLCge,
    .msgb {
        color: var(--MyW) !important;
    }
    #nlpt::before {
        background-color: var(--MyX1) !important;
    }
    .gb_ea,
    .lpb,
    .lpt {
        color: var(--Myred1) !important;
        background-color: var(--Myred2) !important;
    }
    /* -----------------------------------BANNER--------------------- */
    .gb_Hd {
        background-color: transparent !important;
    }
    .gb_Hf,
    .gb_Lc,
    .gb_mb,
    .gb_ib,
    .gb_jb,
    #gbwa,
    .gb_Fc {
        background-image: none !important;
        background: transparent !important;
    }
    #gb {
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
    }
    /* Here is search */
    .gb_gf,
    .gb_yf.gb_sf {
        text-align: center !important;
        background-color: transparent !important;
    }
    .gb_ff.gb_pf {
        display: none !important;
    }
    .gb_ba,
    .gb_tb.gb_aa.gb_g {
        border-radius: 15px !important;
        border: 1px solid var(--Myborder) !important;
    }
    .gb_of.gb_if {
        height: 30px !important;
    }
    .gb_8e.gb_if {
        margin-bottom: 5px !important
    }
    .gb_Nc,
    .gb_fb {
        background: transparent !important;
    }
    #aso_search_form_anchor {
        background-color: transparent !important;
    }
    .J-Z {
        background-color: var(--Myred3) !important;
        color: var(--MyW) !important;
    }
    .aaA,
    .e5,
    .fu,
    .e3,
    .eN,
    .eY,
    .J-Z-M-I-JG {
        filter: invert(1);
    }
    .ve-Ci-ic.ve-Di-ie.ve-ao-Di {
        background-image: none !important;
        background-color: transparent !important;
    }
    .gb_ld,
    .gb_Bd,
    .ha,
    #\:1w,
    .gb_0c,
    .gb_b.gb_eb.gb_R,
    .gb_fb.gb_8c.gb_Qg.gb_R.gb_Ff.gb_ob {
        background: transparent !important;
    }
    #\:4 {
        background: black !important;
    }
    .VO,
    .PDDglc,
    a[href] {
        color: var(--TwitterBlue) !important;
    }
    div[aria-label="Theme"],
    .OG,
    .gmail_attr,
    .go {
        color: var(--TwitterRed) !important;
    }
    span.h8.LJOhwe:hover {
        color: var(--Myred1) !important;
    }
    .ST,
    .Q2 {
        color: var(--MyW) !important;
    }
    .Kj-JD,
    div[role="alertdialog"],
    .ve-Ci-ic.ve-Di-ie.ve-ao-Di,
    .DYLA1c.q8ixdb,
    .sh,
    #talk_flyout,
    .vh.aL,
    .aOY59,
    .gb_qd,
    .Ce-ck-ic.Ce-dk-Od,
    .Ce-ck-ic.Ce-dk-Od.Ce-dp-dk,
    .ajC,
    .ajA.SK {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    .ajA.SK {
        border-radius: 15px !important;
        border: 1px solid var(--MyW) !important;
    }
    table.gstl_50.gstt {
        margin-top: 10px !important;
        border-radius: 25px !important;
    }
    .zS.Uf,
    [role="menu"],
    .Ce-bo-mf-bo-sh {
        background-color: var(--Mygray1) !important;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    table>tbody>tr,
    table[role="presentation"]>tbody,
    table[role="presentation"]>tbody>tr>td>table,
    .gb_Bf.gb_vf>.gstl_50.gstt {
        background-color: transparent !important;
    }
    .gb_F.gb_na {
        border: none !important;
    }
    tbody,
    table,
    tr,
    td {
        background-color: transparent !important;
    }
    tbody,
    table,
    tr,
    td {
        background: transparent !important;
    }
    .gb_D:hover,
    .FH:hover {
        filter: invert(1) !important;
    }
    .IU.nn {
        background-color: var(--Mygray3) !important;
    }
    .YysZRb,
    .mVSsPb {
        color: var(--TwitterBlue) !important;
    }
    .X5KVDc.lqDipf.ILmtpd>svg:hover,
    .cs3SAb {
        color: var(--TwitterRed) !important;
    }
    .X5KVDc.lqDipf.ILmtpd>svg,
    .RffVmb.AL18ce,
    .YGvwud {
        color: var(--MyW) !important;
    }
    .DYLA1c.q8ixdb {
        border: 1px solid var(--MyW) !important;
    }
    button.OB:hover,
    button.SV:hover {
        filter: invert(1) !important;
    }
    #\:6i img[role="menu"],
    #\:6i {
        filter: invert(0) !important;
        color: var(--MyW) !important;
    }
    .HxMcae.uq.pq7K0e.c-N-K.ffYF5e.ffYF5e-p:hover,
    .zDiulc.uq.pq7K0e.c-N-K.ffYF5e.ffYF5e-p:hover,
    button.zDiulc:hover,
    button.uq:hover,
    [role="button"]:hover svg {
        filter: invert(1) !important;
    }
    .aiC {
        background-color: var(--Myred3) !important;
    }
    .Nt {
        border-color: var(--Myred1) !important;
    }
    .aiA {
        background-color: var(--Myred1) !important;
    }
    .adp {
        background: transparent !important;
    }
    .msg {
        background: transparent !important;
        color: var(--Myred1) !important;
    }
    div[style="bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:0"],
    .la-i {
        background: var(--MyB) !important;
    }
    div[style="animation:1.7s cubic-bezier(.17,0,.1,.87)1.2s kf-s;background:#fafbfb;border-radius:330px;height:660px;left:50%;margin:-406px -330px;top:50%;transform:scale(0);width:660px"] {
        background: var(--MyX1) !important;
    }
    .la-k .la-m {
        background: transparent !important;
    }
    .la-b .la-m {
        background: #f1f3f4;
    }
    .oAzRtb.krjOGe[role="textbox"],
    div[role="textbox"] {
        height: 15px !important;
    }
    .Bl2pUd.krjOGe {
        background: var(--Myred3) !important;
    }
    .aqvEkc {
        color: var(--MyW) !important;
    }
}