/* ==UserStyle==
@name         Google Messages Dark
@namespace    http://danamw.github.io/scripts/scripts/GoogleMessagesDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/GoogleMessagesDark.user.css
@version      0.0.5
@author       Dana L Meli-Wischman
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
==/UserStyle== */
@-moz-document domain("messages.google.com"),
url-prefix("https://messages.google.com/"),
url-prefix("https://messages.google.com/web/"),
domain("messages.android.com") {
	body.dark-theme mw-main-landing {
		--main-landing-host-bg-color: var(--MyB) !important;
		--main-landing-image-fill-color: var(--Myred1) !important;
		--main-landing-title-color: var(--Myyellow1) !important;
	}

	body.dark-theme.material-next-msg mws-message-part-content {
		--incoming-bg-color: var(--Mygray2) !important;
		--xms-outgoing-bg-color: var(--Myred1) !important;
		--xms-outgoing-color: var(--Myred2) !important;
		--rcs-incoming-bg-color: var(--Myblue2) !important;
		--rcs-outgoing-bg-color: linear-gradient(
			130deg,
			var(--MyX1) 30%,
			var(--MyX1) 95%
		);
	}

	.part-content-container {
		background: var(--rcs-outgoing-bg-color);
	}

	div.compose-container,
	div.input-background {
		background-color: transparent;
		background-image: none;
	}

	div.compose-container,
	div.input-background {
		background: var(--MyB) !important;
	}

	#loader.dark,
	.bottom-anchored-content,
	.main-landing.ng-star-inserted,
	html,
	body {
		background-color: var(--MyB) !important;
	}

	.stock {
		display: none !important;
	}

	* {
		text-decoration: none !important;
		scrollbar-width: thin !important;
		scrollbar-color: var(--Myred1) var(--Myred3) !important;
	}

	::-webkit-scrollbar {
		background: var(--Myred3) !important;
	}

	::-webkit-scrollbar-thumb {
		background: var(--Myred1) !important;
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--Mygreen1) !important;
	}

	::-webkit-scrollbar-thumb:active {
		background: var(--Mygreen2) !important;
	}

	p,
	a {
		color: var(--MyW) !important;
		background-color: transparent !important;
	}

	a:hover {
		color: var(--Myred1) !important;
		text-decoration: none !important;
	}

	h1 {
		color: var(--TwitterBlue) !important;
	}

	h2 {
		color: var(--TwitterRed) !important;
	}

	small {
		color: var(--TwitterPink) !important;
	}

	.text-msg.msg-content,
	.fab-label,
	h3,
	h4,
	h5,
	strong {
		color: var(--MyW) !important;
	}

	.list-item,
	mw-fab-link > a,
	button {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		border: none !important;
		color: var(--Mytext) !important;
		background-color: var(--MyB) !important;
		background-image:
			radial-gradient(
				ellipse farthest-corner at center bottom,
				hsl(0, 0%, 0%) 0%,
				transparent 99%
			),
			linear-gradient(
				180deg,
				hsla(0, 0%, 66%, 0.5) 48%,
				rgba(0, 0, 0, 0.4) 49%,
				rgba(0, 0, 0, 0.8) 100%,
				hsla(0, 0%, 66%, 0.2)
			) !important;
		text-shadow: 1px 1px 0 var(--Myred1) !important;
		-moz-transition:
			border-color 0.3s ease,
			box-shadow 0.7s ease !important;
		-webkit-transition:
			border-color 0.3s ease,
			box-shadow 0.7s ease !important;
		transition:
			border-color 0.3s ease,
			box-shadow 0.7s ease !important;
		transition-timing-function: linear !important;
		box-shadow: 0 1px 4px 1px var(--MyB) !important;
	}

	[class="mdc-button mat-mdc-button-base gmat-mdc-button mdc-button--raised mat-mdc-raised-button primary-button action-button mat-primary ng-star-inserted"]:hover,
	.list-item:hover,
	.list-item.selected,
	.header,
	mw-fab-link > a:hover,
	button:hover {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		border: none !important;
		box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
		background-color: var(--Myred3) !important;
		background-image:
			radial-gradient(
				ellipse farthest-corner at center bottom,
				var(--Myred1) 0%,
				transparent 99%
			),
			linear-gradient(
				180deg,
				hsla(0, 0%, 66%, 0.5) 48%,
				rgba(0, 0, 0, 0.4) 49%,
				rgba(0, 0, 0, 0.8) 100%,
				hsla(0, 0%, 66%, 0.2)
			) !important;
		outline: none !important;
		opacity: 1 !important;
		color: var(--MyW) !important;
		-moz-transition:
			background 0.2s,
			box-shadow 0.4s,
			border-color 0.2s !important;
		-webkit-transition:
			background 0.2s,
			box-shadow 0.4s,
			border-color 0.2s !important;
		transition:
			background 0.2s,
			box-shadow 0.4s,
			border-color 0.2s !important;
		transition-timing-function: linear !important;
		text-shadow:
			1px 1px 1px var(--MyB),
			-1px -1px 1px var(--Myred2) !important;
	}

	.list-item:active,
	mw-fab-link > a:active,
	button:active {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		border: none !important;
		box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
		background-color: var(--Mygreen3) !important;
		background-image:
			radial-gradient(
				ellipse farthest-corner at center bottom,
				var(--Mygreen1) 0%,
				transparent 99%
			),
			linear-gradient(
				180deg,
				rgba(168, 168, 168, 0.5) 48%,
				hsla(0, 0%, 0%, 0.4) 49%,
				rgba(0, 0, 0, 0.8) 100%,
				rgba(168, 168, 168, 0.2)
			) !important;
		outline: none !important;
		opacity: 1 !important;
		color: var(--MyW) !important;
		-moz-transition:
			background 0.2s,
			box-shadow 0.4s,
			border-color 0.2s !important;
		-webkit-transition:
			background 0.2s,
			box-shadow 0.4s,
			border-color 0.2s !important;
		transition:
			background 0.2s,
			box-shadow 0.4s,
			border-color 0.2s !important;
		transition-timing-function: linear !important;
		text-shadow:
			1px 1px 1px var(--Mygreen3),
			-1px -1px 1px var(--Myred2) !important;
	}

	.fab-icon {
		color: var(--Mygreen1) !important;
	}

	.stock {
		background-image: none !important;
		background-color: transparent !important;
	}

	header,
	.stock_navbar {
		background-color: var(--Myred3) !important;
		background-image:
			radial-gradient(
				ellipse farthest-corner at center bottom,
				var(--Myred1) 0%,
				transparent 99%
			),
			linear-gradient(
				180deg,
				hsla(0, 0%, 66%, 0.5) 48%,
				rgba(0, 0, 0, 0.4) 49%,
				rgba(0, 0, 0, 0.8) 100%,
				hsla(0, 0%, 66%, 0.2)
			) !important;
	}

	.is-focused {
		background-color: var(--Mygray1) !important;
		background-image: linear-gradient(
			to top,
			rgba(0, 0, 0, 0.8),
			rgba(41, 41, 41, 0.9),
			rgba(75, 75, 75, 0.9) 100%,
			transparent
		) !important;
	}

	.list-item.selected[_ngcontent-ng-c1525649314]::after {
		background-color: var(--Mygreen1) !important;
	}

	.stock:hover {
		background-color: var(--Myred3) !important;
		background-image: linear-gradient(
			to top,
			rgba(65, 21, 21, 0.8),
			rgba(97, 22, 22, 0.8),
			rgba(189, 38, 38, 0.8) 100%,
			transparent
		) !important;
	}

	textarea {
		background-color: var(--Mygray3) !important;
		color: var(--MyW) !important;
		border-radius: 15px !important;
		border: 1px solid var(--Myred1) !important;
	}

	input {
		background-color: var(--Mygray3) !important;
		color: var(--MyW) !important;
		border-radius: 15px !important;
		border: 1px solid var(--Myred1) !important;
		text-align: center !important;
	}

	.tombstone-message-part,
	.tooltip {
		background-color: var(--MyX1) !important;
		opacity: 0.5;
		color: var(--MyW) !important;
		padding: 8px;
		border-radius: 2px;
		border: 1px solid var(--MyW) !important;
	}
}
