/* ==UserStyle==
@name         Google News Dark
@namespace    http://danamw.github.io/scripts/scripts/GoogleNewsDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/GoogleNewsDark.user.css
@version      0.0.34
@author       Dana Meli
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
==/UserStyle== */

@-moz-document domain("news.google.com") {
    c-wiz,
    .T4LgNb,
    .zQTmif.SSPGKf.eejsDc,
    .FVeGwb.CVnAc {
        background-color: var(--Myback) !important;
        color: var(--MyW) !important;
    }
    .VfPpkd-ksKsZd-XxIAqe::before {
        background-color: var(--Myred1) !important;
    }
    .VfPpkd-ksKsZd-XxIAqe::after {
        background-color: var(--Myred1) !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    .YtXOzd.j7vNaf,
    .gb_t,
    #gb,
    header {
        background-image: none !important;
        background-color: transparent !important;
    }
    .aGJE1b,
    [data-tooltip] {
        background-color: var(--MyX1) !important;
    }
    .gb_r,
    h3,
    a {
        color: var(--MyW) !important;
    }
    small {
        color: var(--TwitterBlue) !important;
    }
    h2 {
        color: var(--TwitterRed) !important;
    }
    h3:hover,
    a:hover {
        color: var(--Myred1) !important;
        text-decoration: none !important;
    }
    form {
        background-color: transparent !important;
    }
    button.gb_2e,
    button.gb_Ve {
        border-radius: 50% !important;
        height: 48px !important;
        width: 48px !important;
    }
    input[type="text"] {
        color: var(--Mytext) !important;
        background-color: var(--Mygray3) !important;
        border: 1px solid var(--Myborder) !important;
        border-radius: 15px !important;
        text-align: center !important;
    }
    input.Ax4B8.ZAGvjd {
        color: var(--Mytext) !important;
        background-color: var(--Mygray3) !important;
        height: 25px !important;
        margin-top: 8px !important;
        border: 2px solid var(--Myborder) !important;
        border-radius: 15px !important;
        text-align: center !important;
    }
    a[href*="https://policies.google.com/privacy"],
    a[href*="https://accounts.google.com/AddSession"],
    a[href*="https://myaccount.google.com"],
    a[href*="https://accounts.google.com/Logout"],
    a[aria-label="More Google apps"],
    .gb_f,
    .MocG8c.IImy7e.LMgvRb,
    div[role="tab"],
    div[role="button"],
    div[aria-label="Main menu"],
    a[class="FKF6mc TpQm9d ZqhUjb ztUP4e vXfEse kTeh9 dHeVVb V3dfMc lSLCF MDgEWb "],
    a.gb_D.gb_If,
    a.gb_c,
    div[class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e hdhZuc dHeVVb lSLCF ed3MWc RDPZE M9Bg4d qs41qe"],
    div[class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e hdhZuc dHeVVb lSLCF ed3MWc RDPZE M9Bg4d"],
    div[class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e vXfEse dHeVVb V3dfMc w0hkKb p2ZcO M9Bg4d"],
    .SFllF,
    button:not([aria-label="Search"]):not([title="Advanced search"]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, 0.5) 48%, rgba(0, 0, 0, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, hsla(0, 0%, 66%, 0.2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color 0.3s ease, box-shadow 0.7s ease !important;
        -webkit-transition: border-color 0.3s ease, box-shadow 0.7s ease !important;
        transition: border-color 0.3s ease, box-shadow 0.7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    a[href*="https://policies.google.com/privacy"]:hover,
    a[href*="https://accounts.google.com/AddSession"]:hover,
    a[href*="https://myaccount.google.com"]:hover,
    a[href*="https://accounts.google.com/Logout"]:hover,
    a[aria-label="More Google apps"]:hover,
    .gb_f:hover,
    .MocG8c.IImy7e.LMgvRb.KKjvXb,
    .MocG8c.IImy7e.LMgvRb:hover,
    span[role="menuitem"]:hover,
    div[role="tab"]:hover,
    div[role="button"]:hover,
    div[aria-label="Main menu"]:hover,
    a[class="FKF6mc TpQm9d ZqhUjb ztUP4e vXfEse kTeh9 dHeVVb V3dfMc lSLCF MDgEWb "]:hover,
    a.gb_D.gb_If:hover,
    a.gb_c:hover,
    div[aria-selected="true"],
    .MkjOTb.oKubKe:hover,
    div[class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e hdhZuc dHeVVb lSLCF ed3MWc RDPZE M9Bg4d"]:hover,
    div[class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e vXfEse dHeVVb V3dfMc w0hkKb p2ZcO M9Bg4d"]:hover,
    .SFllF:hover,
    .SFllF.KKjvXb,
    .gb_Zd.gb_ve.gb_7d,
    #gb,
    header,
    button:hover:not([aria-label="Search"]):not([title="Advanced search"]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, 0.5) 48%, rgba(0, 0, 0, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, hsla(0, 0%, 66%, 0.2)) !important;
        outline: none !important;
        opacity: 1 !important;
        color: var(--MyW) !important;
        -moz-transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        -webkit-transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    a[href*="https://policies.google.com/privacy"]:active,
    a[href*="https://accounts.google.com/AddSession"]:active,
    a[href*="https://myaccount.google.com"]:active,
    a[href*="https://accounts.google.com/Logout"]:active,
    a[aria-label="More Google apps"]:active,
    .gb_f:active,
    .MocG8c.IImy7e.LMgvRb:active,
    div[role="tab"]:active,
    div[role="button"]:active,
    div[aria-label="Main menu"]:active,
    a[class="FKF6mc TpQm9d ZqhUjb ztUP4e vXfEse kTeh9 dHeVVb V3dfMc lSLCF MDgEWb "]:active,
    a.gb_D.gb_If:active,
    a.gb_c:active,
    .MkjOTb.oKubKe:active,
    div[class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e hdhZuc dHeVVb lSLCF ed3MWc RDPZE M9Bg4d"]:active,
    div[class="U26fgb YOnsCc waNn5b ZqhUjb ztUP4e vXfEse dHeVVb V3dfMc w0hkKb p2ZcO M9Bg4d"]:active,
    button:active:not([aria-label="Search"]):not([title="Advanced search"]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1 !important;
        color: var(--MyW) !important;
        -moz-transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        -webkit-transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    .OabDMe,
    .w7qIhd.s7bIcf {
        background-color: var(--Mygreen1) !important;
    }
    .pjBVq {
        background-color: var(--Myred3) !important;
        border-radius: 10px !important;
        border: 1px solid var(--MyW) !important;
    }
    .b42OPe {
        background-color: var(--Mygray2) !important;
        color: var(--MyW) !important;
    }
    div[aria-label="Account Information"],
    #nngdp12,
    input:not(.yNVtPc) {
        color: var(--MyW) !important;
        background-color: var(--Mygray3) !important;
    }
    div[aria-label="Account Information"] {
        border: 1px solid var(--MyW) !important;
    }
    .gb_m {
        background-color: transparent !important;
    }
    div[role="region"],
    div[aria-label="Google apps"] ul,
    .OA0qNb.ncFHed,
    .gb_C.gb_u {
        background-color: var(--Mygray3) !important;
    }
    .e2CuFe.eU809d {
        filter: invert(1) !important;
    }
    div[jsmodel="pNpd4d"] {
        background-color: var(--TwitterBlue) !important;
        opacity: 0.4;
    }
    div[jscontroller="IRBuIc"] {
        background-color: var(--MyX1) !important;
        color: var(--MyW) !important;
    }
    div[jscontroller="IRBuIc"]:hover {
        background-color: var(--Myred1) !important;
        color: var(--MyW) !important;
    }
    .d7hoq {
        z-index: 100;
    }
    div[role="listbox"],
    div[role="menu"],
    .YtXOzd.j7vNaf,
    .NiLAwe {
        background-color: var(--Mygray3) !important;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    .Jur22e.R7GTQ.keNKEd.j7vNaf,
    .YtXOzd.j7vNaf:hover,
    .NiLAwe:hover {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    time {
        color: var(--Mygreen1) !important;
    }
    .w7qIhd.s7bIcf {
        background-color: var(--Mygreen1) !important;
    }
    .tvs3Id.QwxBBf {
        border: 1px solid var(--MyB) !important;
        border-radius: 15px !important;
        z-index: 10000 !important;
    }
    .tvs3Id.QwxBBf:hover {
        border: 1px solid var(--Myred1) !important;
        border-radius: 15px !important;
    }
    tooltip {
        background-color: var(--MyX1) !important;
    }
    .Qo7o0c {
        color: var(--TwitterRed) !important;
        border-color: var(--TwitterRed) !important;
    }
    .gb_Ic.gb_Fc.gb_Lc.gb_Mc.gb_na {
        border: none !important;
    }
    .Mh0NNb.Mp2Z0b.misTTe {
        opacity: 25% !important;
    }
    .Mh0NNb.Mp2Z0b.misTTe:hover {
        opacity: 1 !important;
    }
}