/* ==UserStyle==
@name         Google Chat Dark
@namespace    http://danamw.github.io/scripts/scripts/GoogleChatDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/GoogleChatDark.user.css
@version      0.0.34
@author       Dana Meli
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
@var range csmove "Move Search left/Right"[0, 0, 99, 1, "vw"]
@var range cswidth "Change Search Width"[300, 300, 600, 1, "px"]
==/UserStyle== */

@-moz-document domain("chat.google.com"),
url-prefix("https://mail.google.com/chat/"),
url-prefix("https://mail.google.com/"),
url-prefix("https://tasks.google.com/") {
    .tsUmnc,
    .byY7Yb,
    .UDyRYe,
    [role="complementary"],
    .Bqp03e,
    .DHBWQd,
    .W55R9c,
    .pWhTUc.krjOGe,
    c-wiz[class="PGrLhd krjOGe "],
    .SSPGKf.XCWNkf,
    .Bl2pUd.krjOGe,
    c-wiz[class="bzJiD WQKmIb eO2Zfd lEX7Ob"],
    html,
    body {
        background-color: var(--MyB) !important;
    }
    .stock {
        display: none !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    form[role="search"] {
        position: absolute !important;
        left: calc(1vw + var(--csmove)) !important;
        width: var(--cswidth) !important;
    }
    .jO7h3c,
    span,
    p,
    a {
        color: var(--MyW) !important;
        background-color: transparent !important;
    }
    a:hover {
        color: var(--Myred1) !important;
        text-decoration: none !important;
    }
    .yOUDAf,
    .KrrIce,
    h1 {
        color: var(--TwitterBlue) !important;
    }
    .aOHsTc,
    h2 {
        color: var(--TwitterRed) !important;
    }
    small {
        color: var(--TwitterPink) !important;
    }
    [role=button] .FuN4Dd.NMPajd,
    div[class="af6rLc  w63zXd"]>.FuN4Dd.NMPajd,
    span[role="listitem"],
    .wmFscd,
    .gb_Rb,
    div[class="gb_jb gb_fb"],
    a[class="gb_Db gb_5f gb_dg gb_Re gb_5c"],
    a[class="gb_sb gb_4f gbp1 gb_Re gb_5c"],
    [role="option"],
    .IL9EXe.PL5Wwe.dHI9xe.rcdhB.WD3P7,
    div[role="button"]:not(.aT5-aOt-I.brC-dA-I),
    .Lw7GHd.snByac,
    button:not(.gb_pf.gb_qf) {
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none !important;
        appearance: none;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    a[role="button"]:hover {
        filter: invert(0) !important;
    }
    [role=button] .FuN4Dd.NMPajd:hover,
    div[class="af6rLc  w63zXd"]>.FuN4Dd.NMPajd:hover,
    .wmFscd[aria-selected="true"],
    .wmFscd:hover,
    .gb_Rb:hover,
    div[class="gb_jb gb_fb"]:hover,
    a[class="gb_Db gb_5f gb_dg gb_Re gb_5c"]:hover,
    a[class="gb_sb gb_4f gbp1 gb_Re gb_5c"]:hover,
    .rGLf6d.PkxUw:hover,
    .N9wOvf.bsaKEc[aria-selected="true"] [role="option"]:hover,
    [role="option"][aria-selected="true"],
    .IL9EXe.PL5Wwe.dHI9xe.rcdhB.WD3P7.qs41qe,
    span[role="listitem"][tabindex="0"],
    span[role="listitem"]>div:hover,
    [role="menuitem"]:hover,
    div[role="button"]:hover:not(.aT5-aOt-I.brC-dA-I),
    .Lw7GHd.snByac:hover,
    button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    div[class="af6rLc  w63zXd"]>.FuN4Dd.NMPajd:active,
    .wmFscd:active,
    .gb_Rb:active,
    div[class="gb_jb gb_fb"]:active,
    a[class="gb_Db gb_5f gb_dg gb_Re gb_5c"]:active,
    a[class="gb_sb gb_4f gbp1 gb_Re gb_5c"]:active,
    [role="option"]:active,
    div[role="button"]:active:not(.aT5-aOt-I.brC-dA-I),
    .Lw7GHd.snByac:active,
    .ajDw2c:active,
    button:active {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    div[aria-label*="Collapse"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        display: initial !important;
    }
    [role=button] .FuN4Dd.NMPajd:active,
    .dJ9vNe,
    .dJ9vNe.DbQnIe,
    form[role="search"],
    .gb_wf.gb_qf,
    .is2u3.JEBAHf,
    .RAIar,
    .VEFddc,
    .aXBtI.Wic03c,
    .cZICLc.ajCeRb.XbbXmb,
    .dJ9vNe.X4MYrd,
    .QTQg5e {
        background-image: none !important;
        background-color: transparent !important;
    }
    .QTQg5e,
    .wbJc4,
    .Xs68kb.ipgD,
    .Wu2udb,
    [role="banner"]>.wbJc4,
    header,
    [role="banner"] {
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
    }
    .pS5UB,
    .BFRaWe,
    .IsPLi.krjOGe,
    [aria-label="Account Information"],
    .A2BXPe.n5uYMe.pYTmjf.mCOR5e,
    [role="dialog"],
    .yxIv1d.krjOGe {
        background-color: var(--Mygray1) !important;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    [role=dialog],
    .gyDYrb,
    .wAf7Pd.Z5tRwf,
    [role="alertdialog"],
    div[class="XganBc "],
    .Xln1ef,
    .SXFjfb,
    div[class="g3VIld qRVtHc i0ZSQc cp4Mw si1Yoe Up8vH J9Nfi iWO5td"],
    .ffyVOd,
    .hU65Ef,
    .SXFjfb.DoYruc,
    .xMqEEd,
    .ctDTIf,
    .XganBc.eLNT1d {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    .xMqEEd {
        color: var(--Mygreen1) !important;
        text-align: center !important;
    }
    [role="textbox"],
    textarea {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
    }
    input.gb_gf,
    input {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
        text-align: center !important;
    }
    input[aria-label="Search in chat and rooms"] {
        height: 25px !important;
        margin-top: 10px !important;
    }
    /* HERE IS THE STUFF   */
    input[aria-label="Find people, spaces, and messages"] {
        margin-top: -10px !important;
    }
    .brC-ays,
    .tooltip {
        display: block;
        outline: none;
        font-family: var(--paper-font-common-base_-_font-family);
        -webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
        font-size: 10px;
        line-height: 1;
        background-color: var(--MyX1) !important;
        opacity: 0.4;
        color: white;
        padding: 8px;
        border-radius: 2px;
        margin: 8px;
        font-weight: 400;
        text-transform: none;
    }
    [role="listbox"],
    .hqlnxe,
    [role="menu"] {
        background-color: var(--Mygray3) !important;
    }
    .ZnUPVd,
    .Zc1Emd.QIJiHb.MiRdyc,
    .Zc1Emd,
    .HTZBof.iq1Uvf.HmJAwd.hqKA3c,
    .dsoUjb,
    .eWw5ab,
    .oGsu4 {
        background-color: var(--Myred3) !important;
        color: var(--MyW) !important;
    }
    div[class="vIO7af "] {
        Border-bottom: 3px solid var(--Myred2) !important;
    }
    .HrE5Tb,
    .dKv0S.BUXyJd.AUFR7b {
        background-color: var(--MyX1) !important;
        opacity: 0.8 !important;
    }
    div#ow207[class="U26fgb c7fp5b FS4hgd Da1OLc XMGPDb i5PBGe dKv0S aWboPb"][role="button"] .g4jUVc {
        opacity: 1 !important;
    }
    .AflJR {
        background-color: var(--Myred3) !important;
    }
    .iKCcE.hu21Y.VYsRpc,
    .iKCcE.hu21Y.VYsRpc:hover {
        background-color: var(--Myred3) !important;
        color: var(--Myyellow1) !important;
    }
    svg {
        filter: invert(1) !important;
    }
    .hlrRUb {
        color: var(--MyW) !important;
    }
    .d6pS5.zflTfd {
        box-shadow: none !important;
    }
    .A2BXPe.n5uYMe.pYTmjf.mCOR5e {
        border: 1px outset var(--Mygray1) !important;
    }
    .uXftcc {
        border: 1px solid var(--Myred2) !important;
    }
    [aria-label="Account Information"] {
        border: 1px solid var(--MyW) !important;
    }
    .xLoQZb,
    .iKCcE,
    div[class="B8q9Gf qnQFwb hu21Y VYsRpc"],
    .zlPNZe,
    div[class="B8q9Gf qnQFwb hu21Y VYsRpc"]:hover,
    .zlPNZe:hover {
        background-color: var(--Myred3) !important;
    }
    .U8d2H,
    .FMTudf {
        color: var(--MyW) !important;
        background-color: var(--Mygray3) !important;
        border: 2px solid var(--MyB) !important;
    }
    .Mh0NNb.MoCXad.Mp2Z0b.misTTe,
    .aGJE1b {
        background-color: var(--MyX1) !important;
        border-radius: 5px !important;
    }
    .ajp {
        background-color: var(--MyX1) !important;
        color: var(--MyX1) !important;
        border: 2px solid var(--MyW) !important;
    }
    .a3I P {
        color: var(--MyW) !important;
    }
    .acY {
        color: var(--MyB) !important;
    }
    .tNBef.ZFkohe {
        color: var(--Myyellow1) !important;
    }
    .ItO8Dd {
        background-color: var(--Mygreen1) !important;
    }
}