/* ==UserStyle==
@name         Google Voice Dark
@namespace    https://danamw.github.io/scripts/scripts/GoogleVoiceDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/GoogleVoiceDark.user.css
@version      0.0.27
@author       Dana Meli
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
@preprocessor default
@var range twidth "Change Search Width"[200, 200, 1000, 100, "px"]
@var range tmove "Move Search Bar" [0, 0, 1000, 10, "px"]
==/UserStyle== */

@-moz-document domain("voice.google.com") {
    .layout-column.aKQtkf-tJHJj,
    [class*="layout-align"][aria-label="Dialpad"]:not([layout-align="start start"]),
    gv-message-entry,
    gv-message-list,
    md-content,
    ng-transclude,
    #contact-list,
    .did-display,
    gv-inbox-summary-ng2,
    .I6IB7e-LwH6nd,
    .md-body-1.tDBuBb-haAclf.layout-align-center-center.layout-column.flex,
    .YYoZ8c-VeKiLd.layout-align-start-center.layout-row,
    .layout-row.uM2Vn-A9KrYd,
    div[aria-label="Voicemail player controls"],
    .YYoZ8c-VeKiLd,
    md-virtual-repeat-container,
    html,
    head,
    body {
        background-color: var(--MyB) !important;
    }
    form[action="/search"] {
        position: relative !important;
    }
    form[action="/search"] {
        margin: 0 auto;
        width: var(--twidth) !important;
        left: calc(1px + var(--tmove)) !important;
        background-color: transparent !important;
    }
    .stock {
        display: none !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    .dOUild-Od0oM,
    ng-transclude,
    gv-thread-item-detail,
    gv-annotation,
    .grey-700,
    .internalSubheader,
    .notificationText,
    span,
    .device-label,
    .deviceLabel,
    p,
    a {
        color: var(--MyW) !important;
        background-color: transparent !important;
    }
    a:hover {
        color: var(--Myred1) !important;
        text-decoration: none !important;
    }
    .grey-900,
    .call-as-label,
    h3,
    h1 {
        color: var(--TwitterBlue) !important;
    }
    .phone-number,
    .phone-number-name,
    .internalHeader,
    .header,
    h2 {
        color: var(--TwitterRed) !important;
    }
    small {
        color: var(--TwitterPink) !important;
    }
    .mat-option,
    a[role="tab"],
    [role="button"]:not([aria-label="Search"]):not([aria-label="Google apps"]):not([aria-label*="Google Account"]),
    button:not([aria-label="Search"]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    .mat-option:hover,
    a[role="tab"]:hover,
    [role="button"]:hover:not([aria-label="Search"]):not([aria-label="Google apps"]):not([aria-label*="Google Account"]),
    button:hover:not([aria-label="Search"]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    a[role="tab"]:active,
    [role="button"]:active:not([aria-label="Search"]):not([aria-label="Google apps"]):not([aria-label*="Google Account"]),
    button:active:not([aria-label="Search"]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    .md-body-1 {
        background-image: none !important;
        background-color: transparent !important;
    }
    header,
    .stock_navbar {
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
    }
    div[class^="ng-star-inserted"]:not([role="tablist"]),
    gv-account-number {
        background-color: var(--Mygray1) !important;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    mat-dialog-container {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    textarea {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
    }
    input {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
        text-align: center !important;
    }
    input[aria-label="Search"] {
        color: var(--MyW) !important;
        height: 25px !important;
        margin-top: 8px !important;
    }
    input[placeholder] {
        color: var(--MyW) !important;
    }
    [gv-hover-id="bubble"] {
        background-color: var(--Myred2) !important;
    }
    [gv-test-id="bubble"] {
        background-color: var(--Myblue2) !important;
    }
    mat-divider {
        border-color: var(--Myred1) !important;
    }
}