/* ==UserStyle==
@name         Google Voice Dark
@namespace    https://danamw.github.io/scripts/scripts/GoogleVoiceDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/GoogleVoiceDark.user.css
@version      0.0.16
@author       Dana Meli
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
@preprocessor default
@var range twidth "Change Search Width"[300, 300, 1000, 1, "px"]
@var range tmove "Move Search Bar" [10, 0, 70, 1, "vw"]
==/UserStyle== */

@-moz-document domain("voice.google.com") {
    .I6IB7e-LwH6nd,
    .md-body-1.tDBuBb-haAclf.layout-align-center-center.layout-column.flex,
    .YYoZ8c-VeKiLd.layout-align-start-center.layout-row,
    .layout-row.uM2Vn-A9KrYd,
    div[aria-label="Voicemail player controls"],
    .YYoZ8c-VeKiLd,
    .layout-align-start-center,
    md-virtual-repeat-container,
    html,
    head,
    body {
        background-color: var(--MyB) !important;
        color: var(--MyW) !important;
    }
    form[action="/search"] {
        margin: 0 auto;
        width: var(--twidth) !important;
    }
    form[action="/search"] {
        position: relative !important;
        left: calc(1vw + var(--mmove) - 10vw) !important;
    }
    .gb_t,
    form[action="/search"],
    div[class*="account"],
    .gb_Ue,
    #gb,
    .gb_Qd.gb_7d {
        background-image: none !important;
        background-color: transparent !important;
    }
    div[gv-id="progress-bar-clickable-area"] {
        background-color: var(--Myred3) !important;
        color: var(--Myred1) !important;
    }
    div[gv-test-id="inbox-summary-greeting"] {
        color: var(--Myred1) !important;
    }
    .wnqXZe-xro71b {
        background-color: var(--Myred1) !important;
        width: 10px !important;
        height: 10px !important;
        border-radius: 50% !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
    textarea {
        color: var(--MyW) !important;
    }
    button {
        background-image: none !important;
        background-color: transparent !important;
    }
    md-input-container input,
    gv-annotation,
    gv-message-entry,
    td,
    span,
    a,
    p {
        color: var(--MyW) !important;
    }
    a:hover {
        color: var(--Myred1) !important;
    }
    /* .mat-list-item-content */
    .md-ink-ripple.layout-align-center-center.layout-column.lp3vjd-LgbsSe {
        border-radius: 50% !important;
    }
    a[role="tab"],
    a[aria-label="More Google apps"],
    .gb_f,
    .mat-list-item-content,
    div[role="button"],
    button:not([aria-label="Search"]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    a[role="tab"]:hover,
    a[aria-label="More Google apps"]:hover,
    .gb_f:hover,
    #gb,
    .gb_Qd.gb_7d,
    a[aria-selected="true"] .mat-list-item-content,
    .mat-list-item-content:hover,
    div[role="button"]:hover,
    button:hover:not([aria-label="Search"]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--MyX1) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    a[role="tab"]:active,
    a[aria-label="More Google apps"]:active,
    .gb_f:active,
    .mat-list-item-content:active,
    div[role="button"]:active,
    button:active:not([aria-label="Search"]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--MyX3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    .md-body-1.layout-align-start-stretch.layout-row.B3EWm-eb2yS,
    input {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border: 1px solid var(--MyW) !important;
        border-radius: 15px !important;
        text-align: center !important;
    }
    input[aria-label="Search"] {
        color: var(--MyW) !important;
        height: 25px !important;
        margin-top: 8px !important;
    }
    gv-call-as-banner,
    gv-message-list-header,
    .mat-form-field-wrapper,
    mat-option:hover,
    div[class*="account"],
    mat-dialog-container {
        background-image: none !important;
        background-color: transparent !important;
    }
    mat-dialog-container,
    gv-message-list-header,
    .mat-form-field-wrapper,
    mat-option:hover,
    div[class*="account"] {
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    gv-inbox-summary,
    mat-option,
    md-content,
    .layout-fill,
    #contact-list {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    div.md-ink-ripple::before {
        background-color: var(--MyX1) !important;
    }
    gv-inbox-summary {
        color: var(--Mytext) !important;
        border: 1px solid var(--MyW) !important;
    }
    h2[id*="mat-dialog-title"] {
        color: var(--MyW) !important;
    }
    gv-message-list-header {
        color: var(--MyW) !important;
    }
    .Bqxti-VCkuzd {
        background-color: var(--MyX1) !important;
        color: var(--MyW) !important;
    }
    .Bqxti-MJZihc {
        background-color: var(--MyX3) !important;
    }
    .gb_J.gb_A,
    .gb_J.gb_B,
    [role="menu"],
    .gb_H,
    div[aria-label="Google apps"],
    div[role="region"] {
        background-color: var(--Mygray3) !important;
    }
}