/* ==UserStyle==
@name         Google Dark
@namespace    https://danamw.github.io/scripts/scripts/GoogleDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/GoogleDark.user.css
@version      0.1.19
@author       Dana Meli
@description  Google Dark Style.
@homepageURL  https://DanaMW.github.io
@preprocessor default
@var range swidth "Change Search Width"[300, 300, 1000, 1, "px"]
@var range smove "Move Search Bar" [10, 0, 70, 1, "vw"]
@var range bmove "Move The Buttons" [10, 0, 70, 1, "vw"]
@var range cmove "Move The Column" [10, 0, 70, 1, "vw"]
==/UserStyle== */

@-moz-document url-prefix("https://www.google.com/"),
url-prefix("https://ogs.google.com/"),
url-prefix("https://one.google.com/"),
url-prefix("http://www.google.com/"),
url-prefix("https://accounts.google.com/"),
url-prefix("https://plus.google.com/"),
url-prefix("https://policies.google.com/"),
url-prefix("https://myaccount.google.com/"),
url-prefix("https://gstatic.com/"),
url-prefix("https://groups.google.com/") {
    .VmOpGe,
    html,
    div[id*="maia-footer"],
    #maia-footer,
    body {
        background-color: var(--MyB) !important;
    }
    .SSBXXc {
        left: calc(1vw + var(--smove) - 10vw) !important;
    }
    html[itemtype="http://schema.org/SearchResultsPage"] .tsf-p,
    html[itemtype="http://schema.org/SearchResultsPage"] .A8SBwf {
        position: relative !important;
        width: var(--swidth) !important;
        left: calc(1vw + var(--smove) - 10vw) !important;
    }
    html[itemtype="http://schema.org/SearchResultsPage"] .A8SBwf.sbfc {
        position: relative !important;
        width: var(--swidth) !important;
        left: calc(2vw + var(--smove) - 10vw) !important;
    }
    .sfibbbc,
    div[jsname="RNNXgb"] {
        position: relative !important;
        width: var(--swidth) !important;
        background: transparent !important;
        border: none !important;
    }
    html[itemtype="http://schema.org/WebPage"] div[jsname="RNNXgb"] {
        width: initial !important;
        margin: auto !important;
    }
    .tAcEof,
    #hdtb-msb {
        position: relative !important;
    }
    .tAcEof,
    #hdtb-msb {
        position: sticky !important;
        margin: 0 auto;
        left: calc(1vw + var(--bmove) - 10vw) !important;
    }
    .mw>#rcnt {
        position: relative !important;
        left: calc(1vw + var(--cmove) - 10vw) !important;
    }
    /*
    html[itemtype="http://schema.org/SearchResultsPage"] form[role="search"],
    html[itemtype="http://schema.org/SearchResultsPage"] form[role="search"] {
        position: absolute !important;
        left: calc(1vw + var(--tmove) - 10vw) !important;
    }
    */
    * {
        text-decoration: none !important;
        scrollbar-width: thin;
        scrollbar-color: var(--Myred1) var(--Myred3);
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    .rc,
    .r {
        text-align: center !important;
    }
    .dU5Kl {
        border: none !important;
    }
    .Uh4Mac,
    .nma0Wb,
    .nrAB0c,
    .dU5Kl,
    header,
    header[role="banner"],
    .rg_l,
    .irc_ris,
    .Qc8zh,
    .Qc8zh,
    .irc_t,
    .irc_mic,
    .irc_mutc,
    #irc_bgl,
    #irc_cc,
    #irc-cl,
    .irc_c,
    #irc_bg {
        background-image: none !important;
        background-color: transparent !important;
    }
    .exp-outline {
        border: none !important;
        border-radius: 0px !important;
        position: absolute;
        transition: opacity 150ms ease-in-out, height 150ms ease-in-out;
        width: 650px !important;
        left: 0px !important;
        transform: none !important;
    }
    .qFWqn,
    .gb_F.gb_na,
    .PaEvOc,
    .section-review,
    div[class*="__root"],
    div[class*="__container"],
    .section-subheader,
    .section-omnibox-spacer,
    .section-result,
    .u4DeMc,
    .ikIPKb,
    div[class*="smsauth-interstitial-infobox"],
    .act-tim-txt-cnt>div,
    #timer-stopwatch-container {
        background-image: none !important;
        background-color: transparent !important;
    }
    .exp-outline,
    div.g {
        border-bottom: 2px solid var(--MyX1) !important;
    }
    h1 {
        color: var(--TwitterBlue) !important;
    }
    blockquote,
    li,
    /*h3,*/
    p,
    [role="heading"],
    .WGvvNb,
    .fxgdke {
        color: var(--MyW) !important;
    }
    #irc-cl {
        border: 1px solid var(--MyW) !important;
    }
    .irc_mi {
        border: 3px solid var(--Mygray3) !important;
    }
    .ll0QOb {
        background-color: var(--Myred1) !important;
        border-color: var(--MyB) !important;
    }
    .yrQA5d,
    .ZZ9xL {
        color: var(--Myred1) !important;
    }
    .gsfi {
        border-radius: 25px !important;
    }
    .clear-button,
    div[role="button"][aria-label="Search"] {
        border: none !important;
        border-radius: 50% !important;
    }
    input[aria-label="Search Google Maps"],
    input[aria-label="Search Google Account"],
    input[aria-label="Search"] {
        text-align: center !important;
        border-radius: 25px !important;
        color: var(--MyW) !important;
        border: 2px solid var(--Myred2) !important;
    }
    input.Ax4B8.ZAGvjd {
        height: 35px !important;
        margin-top: 6px !important;
    }
    #searchbox,
    input[aria-hidden="true"],
    .a4bIc,
    .sbib_b,
    .gstl_0.sbib_a {
        box-shadow: none !important;
        background-color: transparent !important;
    }
    .Mza7yc,
    .UVgjof {
        padding-left: 10px !important;
    }
    scrolling-carousel,
    div[jsname="ixzLGf"],
    .OUZ5W,
    .QnfS4e,
    .v4dQwb,
    #Sva75c,
    .Mza7yc,
    .UVgjof,
    div[role="main"] {
        background-color: hsla(0, 87%, 12%, 0.8) !important;
    }
    #resultStats {
        color: var(--MyW) !important;
    }
    .aajZCb {
        background-color: var(--Mygray3) !important;
        border-bottom: 2px solid var(--Myred1) !important;
        border-right: 2px solid var(--Myred1) !important;
        border-left: 2px solid var(--Myred1) !important;
        border-radius: 0 !important;
    }
    .sbai {
        color: var(--Mygreen1) !important;
    }
    .cwtlwm,
    #cwmcwd {
        background-color: var(--Mygray1) !important;
    }
    .gb_C.gb_v,
    #NotFQb.rpnBye>input.vXQmIe.gsrt.iita3B4HP__g-7Ob2ZtRDv2s,
    #HG5Seb.rpnBye>input.vXQmIe.gsrt.iita3B4HP__g-TAgAjI3bJNo {
        background-color: var(--Myback) !important;
        color: var(--MyW) !important;
    }
    .lV0vqc,
    .widget-runway-thumbstrip-background,
    .gb_2f.gb_ob,
    .gb_xg.gb_Sb,
    #nngdp31,
    .gb_ug.gb_Sb,
    li.hdtbItm,
    .cwtlb {
        background-color: var(--Mygray3) !important;
    }
    .match-mod-horizontal-padding.cbphWd {
        color: var(--MyW) !important;
    }
    .gb_jb,
    .gb_C.gb_u,
    .gb_wg.gb_Sb {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    #footer,
    #fbarcnt,
    #fbar {
        background-color: var(--MyX1) !important;
        opacity: 0.1 !important;
        height: 40px !important;
        -moz-transition: opacity 2s, height 2s, -webkit-transform 2s !important;
        -webkit-transition: opacity 2s, height 2s, -webkit-transform 2s !important;
        transition: opacity 2s, height 2s, transform 2s !important;
    }
    footer,
    #footer:hover,
    #fbarcnt:hover,
    #fbar:hover {
        background-color: var(--MyX1) !important;
        opacity: 0.8 !important;
        height: 40px !important;
        -moz-transition: opacity 2s, height 2s, -webkit-transform 2s !important;
        -webkit-transition: opacity 2s, height 2s, -webkit-transform 2s !important;
        transition: opacity 2s, height 2s, transform 2s !important;
    }
    #sbfblt {
        display: none !important;
    }
    .lr_dct_lbl_blk.lr_dct_lbl_box,
    div.ellip,
    span.ellip,
    .lr_dct_lbl_inl.lr_dct_lbl_box,
    .ellip.jTi7hd.exp-txt-c.xcas,
    .gb_gf.gb_Mf,
    #sfdiv {
        background-color: transparent !important;
        border: none !important;
    }
    .JC0tCe,
    #mKlEF,
    #irc_cb {
        background-color: var(--MyB) !important;
        border-radius: 50% !important;
    }
    .RAjCxe,
    .x7WrMb,
    span[id*="wob"],
    span[class*="wob"],
    h3[role="heading"],
    .u1CfKc {
        color: var(--Myred1) !important;
    }
    .xJVnIb,
    .title,
    .HF3S5b {
        color: var(--Mygreen1) !important;
    }
    .sbqs_c {
        color: var(--Myred1) !important;
    }
    #irc_cb:hover {
        background-color: var(--Myred1) !important;
        color: var(--MyW) !important;
    }
    .rgiKub,
    .M6t4T,
    .GiKO7c:hover,
    #hdtb-msb-vis a.q.qs:hover {
        color: var(--MyW) !important;
    }
    .hdtb-mitem.hdtb-msel.hdtb-imb,
    .hdtb-mitem.hdtb-imb>.q.qs,
    div[role="tab"][aria-selected="true"].hdtb-mitem.hdtb-imb:not([aria-expanded]),
    div[role="tab"].hdtb-mitem.hdtb-imb:not([aria-expanded]) {
        border-bottom: var(--Myred1) !important;
        width: 100px !important;
        min-width: 100px !important;
        max-width: 100px !important;
        text-align: center !important;
    }
    div[role="tab"][aria-selected="false"].hdtb-mitem.hdtb-imb:not([aria-expanded]) {
        height: 45px !important;
    }
    #hdtb-msb-vis a.q.qs {
        top: 0 !important;
    }
    .widget-reveal-card-placeholder {
        background-color: transparent !important;
    }
    .scene-footer,
    .widget-reveal-card.widget-reveal-card-open,
    #action-menu,
    .suggestions,
    .section-suggestions,
    .section-layout,
    .xkfVF,
    select {
        background-color: var(--Mygray2) !important;
        color: var(--MyW) !important;
    }
    .TrT0Xe {
        color: var(--Mygray1) !important;
    }
    #pnprev,
    #pnnext {
        text-align: center !important;
    }
    .ab_button {
        padding: 5px !important;
    }
    div[aria-label="Google apps"],
    .ab_dropdown {
        background-color: var(--Mygray3) !important;
    }
    a#hdtb-tls {
        border: none !important;
    }
    .xkfVF {
        border-radius: 15px;
    }
    form {
        background: transparent !important;
    }
    a[href*="https://accounts.google.com"] {
        margin-left: 0 !important;
        text-align: center !important;
    }
    g-fab {
        border-radius: 50% !important;
    }
    div[role="tab"][aria-selected="true"]:not(.hdtb-mitem.hdtb-imb),
    div[role="tab"]:not(.hdtb-mitem.hdtb-imb) {
        border: none !important;
    }
    .gb_m {
        z-index: 10000 !important;
    }
    a[data-navigation="server"],
    circle {
        background-image: none !important;
        background-color: transparent !important;
    }
    .NZmxZe,
    .rQEFy {
        height: 17px !important;
        max-height: 17px !important;
        width: 78px !important;
        max-width: 78px !important;
    }
    .WGYX8,
    .KYeOtb,
    a.NQV3m,
    .tX9u1b,
    input[type="button"][value="Show more results"],
    .lLE0jd.gWUzU.F5z5N,
    .S5TwIf,
    a[href="https://policies.google.com/privacy?hl=en"],
    .hdtb-mitem.hdtb-imb>.q.qs,
    div[jsname="I4bIT"],
    a[data-navigation="server"],
    .gvi3cf,
    .EPf3fb,
    .oldgisbuttonclose,
    .oldgisbuttonprev,
    .oldgisbuttonnext,
    .moredetailsareabuttonsvisit,
    .moredetailsareabuttonsview,
    #smsauth-interstitial-updatebutton,
    #smsauth-interstitial-confirmbutton,
    .suggest,
    .Gj7ine,
    div[aria-label="Google apps"] li>a,
    li.mitem,
    div[role="tab"]:not([aria-expanded]),
    a.widget-settings-button,
    a[href*="https://accounts.google.com"],
    a[href*="https://myaccount.google.com"]:not([aria-label="Change profile picture."]),
    .goog-select,
    .jfk-button,
    a[aria-label="More Google apps"],
    #gb_70,
    .VZLjze,
    .ab_button,
    a.gb_Aa,
    input[name="btnI"],
    #pnprev,
    #pnnext,
    #TEPD0b,
    input.ksb,
    .hdtb-msel,
    [role="button"]:not(.Fx4vi):not(.gb_nc):not(.gb_b):not(.JeEise):not(#irc_cb):not(.XCKyNd):not(.gb_x):not([title="Google apps"]):not([aria-label="Search"]):not([aria-label="Google apps"]),
    .gb_O,
    .gb_fa,
    g-left-button,
    g-right-button,
    .Mw2I7,
    .Mw2I7.UkaFJe,
    #gbqfbb,
    input[value="Google Search"],
    .dw-sb-btn,
    .irc-lab,
    .irc-rab,
    .i17628,
    .i18192,
    .irc_vpl,
    .img_btn,
    .iv_msusc,
    g-fab,
    a#hdtb-tls,
    button:not([jsaction="pane.imagepack.button"]):not([aria-labelledby="widget-minimap-caption"]):not([jsaction="settings.close"]):not([aria-label="Search"]):not(.widget-runway-card-button):not([aria-label="Clear search"]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--MyW) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient( ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient( 180deg, hsla(0, 0%, 66%, 0.5) 48%, rgba(0, 0, 0, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, hsla(0, 0%, 66%, 0.2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color 0.3s ease, box-shadow 0.7s ease !important;
        -webkit-transition: border-color 0.3s ease, box-shadow 0.7s ease !important;
        transition: border-color 0.3s ease, box-shadow 0.7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    .WGYX8:hover,
    .KYeOtb:hover,
    a.NQV3m:hover,
    .tX9u1b:hover,
    input[type="button"][value="Show more results"]:hover,
    .PKhmud.tzVsfd a[aria-label*="Remove refinement"],
    .KnZOyc:hover,
    .lLE0jd.gWUzU.F5z5N:hover,
    .S5TwIf:hover,
    a[href="https://policies.google.com/privacy?hl=en"]:hover,
    li[role="menuitem"]:hover,
    li.hdtbItm:hover .q.qs,
    .E2oEG:hover,
    .E2oEG.Vwmzxb,
    li[role="presentation"]:hover,
    div[jsname="I4bIT"]:hover,
    .rQEFy.NZmxZe,
    a[data-navigation="server"]:hover,
    .gvi3cf:hover,
    .EPf3fb:hover,
    .oldgisbuttonclose:hover,
    .oldgisbuttonprev:hover,
    .oldgisbuttonnext:hover,
    .moredetailsareabuttonsvisit:hover,
    .moredetailsareabuttonsview:hover,
    #smsauth-interstitial-updatebutton:hover,
    #smsauth-interstitial-confirmbutton:hover,
    .action-menu-entry:hover,
    .suggest:hover,
    .Gj7ine:hover,
    div[aria-label="Google apps"] li>a:hover,
    .hdtb-mitem.hdtb-imb>.q.qs:hover,
    .hdtb-mitem.hdtb-msel.hdtb-imb>.q.qs:hover,
    .hdtb-mitem.hdtb-msel.hdtb-imb,
    div[role="tab"][aria-selected="true"]:not([aria-expanded]),
    div[role="tab"]:hover:not([aria-expanded]),
    a.widget-settings-button:hover,
    a[href*="https://accounts.google.com"]:hover,
    a[href*="https://myaccount.google.com"]:hover:not([aria-label="Change profile picture."]),
    .goog-select:hover,
    .jfk-button:hover,
    a[aria-label="More Google apps"]:hover,
    .LPW6zd.Mw2I7,
    .LPW6zd.Mw2I7.UkaFJe,
    #gb_70:hover,
    .VZLjze:hover,
    .z80M1:hover,
    .ab_button:hover,
    a.gb_Aa:hover,
    input[name="btnI"]:hover,
    #cdrlnk.q:hover,
    .sbsb_d,
    li.mitem:hover,
    #pnprev:hover,
    #pnnext:hover,
    td.cur,
    #TEPD0b:hover,
    input.ksb:hover,
    .hdtbItm.hdtbSel,
    .hdtbItm:hover,
    .mitem:hover,
    .mitem.msel,
    [role="button"]:hover:not(.Fx4vi):not(.gb_nc):not(.gb_b):not(.JeEise):not(#irc_cb):not(.XCKyNd):not(.gb_x):not([title="Google apps"]):not([aria-label="Search"]):not([aria-label="Google apps"]):not([aria-label*="Google Account"]),
    a[role="menuitem"]:hover,
    .gb_O:hover,
    .gb_fa.gb_ng:hover,
    g-left-button:hover,
    g-right-button:hover,
    .Mw2I7:hover,
    .Mw2I7.UkaFJe:hover,
    #gbqfbb:hover,
    .gbqfba.gbqfba-hvr,
    input[value="Google Search"]:hover,
    .dw-sb-btn:hover,
    .irc-lab:hover,
    .irc-rab:hover,
    .i17628:hover,
    .i18192:hover,
    .irc_vpl:hover,
    .iv_msusc:hover,
    .img_btn:hover,
    g-fab:hover,
    a#hdtb-tls:hover,
    button:hover:not([jsaction="pane.imagepack.button"]):not([aria-labelledby="widget-minimap-caption"]):not([jsaction="settings.close"]):not([aria-label="Search"]):not(.widget-runway-card-button):not([aria-label="Clear search"]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient( ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient( 180deg, hsla(0, 0%, 66%, 0.5) 48%, rgba(0, 0, 0, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, hsla(0, 0%, 66%, 0.2)) !important;
        outline: none !important;
        opacity: 1 !important;
        color: var(--MyW) !important;
        -moz-transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        -webkit-transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    .WGYX8:active,
    .KYeOtb:active,
    a.NQV3m:active,
    .tX9u1b:active,
    input[type="button"][value="Show more results"]:active,
    .lLE0jd.gWUzU.F5z5N:active,
    .S5TwIf:active,
    a[href="https://policies.google.com/privacy?hl=en"]:active,
    div[jsname="I4bIT"]:active,
    a[data-navigation="server"]:active,
    .gvi3cf:active,
    .EPf3fb:active,
    .oldgisbuttonclose:active,
    .oldgisbuttonprev:active,
    .oldgisbuttonnext:active,
    .moredetailsareabuttonsvisit:active,
    .moredetailsareabuttonsview:active,
    #smsauth-interstitial-updatebutton:active,
    #smsauth-interstitial-confirmbutton:active,
    .suggest:active,
    .Gj7ine:active,
    div[aria-label="Google apps"] li>a:active,
    .hdtb-mitem.hdtb-imb:active,
    .hdtb-mitem.hdtb-msel.hdtb-imb:active,
    div[role="tab"]:active:not([aria-expanded]),
    a.widget-settings-button:active,
    a[href*="https://accounts.google.com"]:active,
    a[href*="https://myaccount.google.com"]:active:not([aria-label="Change profile picture."]),
    .goog-select:active,
    .jfk-button:active,
    a[aria-label="More Google apps"]:active,
    #gb_70:active,
    .VZLjze:active,
    .z80M1:active,
    .ab_button:active,
    a.gb_Aa:active,
    input[name="btnI"]:active,
    #cdrlnk.q:active,
    li.mitem:active,
    #pnprev:active,
    #pnnext:active,
    #TEPD0b:active,
    input.ksb:active,
    .hdtbItm:active,
    .mitem:active,
    [role="button"]:active:not(.Fx4vi):not(.gb_nc):not(.gb_b):not(.JeEise):not(#irc_cb):not(.XCKyNd):not(.gb_x):not([title="Google apps"]),
    a[role="menuitem"]:active,
    .gb_O:active,
    .gb_fa.gb_ng:active,
    g-left-button:active,
    g-right-button:active,
    .Mw2I7:active,
    .Mw2I7.UkaFJe:active,
    #gbqfbb:active,
    input[value="Google Search"]:active,
    .dw-sb-btn:active,
    .irc-lab:active,
    .irc-rab:active,
    .i17628:active,
    .i18192:active,
    .irc_vpl:active,
    .iv_msusc:active,
    .img_btn:active,
    g-fab:active,
    a#hdtb-tls:active,
    button:active:not([jsaction="pane.imagepack.button"]):not([aria-labelledby="widget-minimap-caption"]):not([jsaction="settings.close"]):not(.widget-runway-card-button):not([aria-label="Clear search"]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient( ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient( 180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1 !important;
        color: var(--MyW) !important;
        -moz-transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        -webkit-transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        transition: background 0.2s, box-shadow 0.4s, border-color 0.2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    .Mw2I7.UkaFJe,
    .Mw2I7 {
        border: 1px solid var(--Myred1) !important;
    }
    .ab_dropdownlnkinfo.ab_dropdownchecklist div,
    #ss-bimodal-strict {
        color: var(--MyW) !important;
    }
    .jZWadf,
    .ndYZfc,
    .gb_Qd.gb_7d.gb_Zd {
        background-image: none !important;
        background: transparent !important;
        border: none !important;
    }
    .jZWadf,
    .ndYZfc,
    header {
        background-color: var(--Myred3) !important;
        padding: none !important;
        margin: none !important;
    }
    #gb,
    .gb_Qd.gb_7d.gb_Zd {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        opacity: 1 !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient( ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient( 180deg, hsla(0, 0%, 66%, 0.5) 48%, rgba(0, 0, 0, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, hsla(0, 0%, 66%, 0.2)) !important;
        color: var(--MyW) !important;
    }
    .OZ8wsd,
    .i3LlFf,
    .fl.ellip.oBrLN {
        color: var(--Mygreen1) !important;
    }
    a[title="Google apps"],
    .gb_xc .gb_x.gb_Vb,
    .JOmIqc,
    button.gb_Df svg,
    g-popup svg {
        filter: invert(1);
    }
    .jleFbf {
        color: var(--Mygray1) !important;
        border-radius: 15px !important;
    }
    .gb_Z {
        background: transparent !important;
    }
    .Z4o1ee.GyDlGb.cd29Sd.iiFyne,
    .iKjWAf.irc-nic.isr-rtc.a-no-hover-decoration,
    .VkpGBb,
    .j4Iw3b,
    .jleFbf {
        background-image: -moz-linear-gradient( top, var(--Mygray1), var(--Mygray3)) !important;
    }
    .widget-pane-content-holder,
    .Z4o1ee.GyDlGb.cd29Sd.iiFyne:hover,
    .iKjWAf.irc-nic.isr-rtc.a-no-hover-decoration:hover,
    .VkpGBb:hover,
    .j4Iw3b:hover,
    .jleFbf:hover,
    .sbct:hover {
        background-image: -moz-linear-gradient( top, var(--Myred1), var(--Myred3)) !important;
        color: var(--MyW) !important;
    }
    .dJcyOc,
    .sfibbbc {
        background-color: transparent !important;
        border: none !important;
    }
    .abup {
        background-image: -moz-linear-gradient( top, var(--Myred3), var(--Myred2)) !important;
    }
    .rlc__slider-page {
        background-image: -moz-linear-gradient( top, var(--Myred2), var(--Myred3)) !important;
    }
    ul[aria-dropeffect="move"],
    .widget-settings-pane,
    .widget-settings-content,
    .widget-settings-list {
        background: var(--Mygray3) !important;
    }
    .EikfZ.ipJuRUm9UY4A-GQSfLE1fUrA.IFC-animate {
        color: var(--MyW) !important;
    }
    .DRBylb {
        background-color: var(--Mygray2) !important;
        border-radius: 15px !important;
    }
    div[class*="imspo"],
    .imso-hov:hover,
    g-immersive-footer,
    .section-divider,
    .g9WsWb,
    .gt-is,
    g-expandable-container,
    #qbdp.qblarge,
    .qbdp {
        background-color: var(--Myred3) !important;
        color: var(--MyW) !important;
    }
    .JcdYse {
        color: var(--Mygreen1) !important;
    }
    .AYBNrd.JuE4Vc,
    .ellip,
    .V6Ytv,
    .slVwZ,
    .kno-fb-ctx,
    .kno-nf-nr,
    .ellip.fooDZe,
    .HLEawd.VfPpkd-ksKsZd-XxIAqe,
    .PEuHR,
    .QunXQ.r-ipJuRUm9UY4A,
    .widget-homescreen-card,
    .section-listbox,
    .widget-settings-header {
        background-color: var(--Myred3) !important;
    }
    .JAPqpe.K0NPx,
    .gb_Nb,
    #cdrlnk.q,
    ul.sbsb_b,
    #fsett,
    .gb_ea.gb_8,
    .gb_ea.gb_7,
    .gb_ca.gb_ba.gb_va.gb_g.gb_da {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    .vk_c.card.obcontainer.card-section {
        background-color: var(--Myred3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myborder);
    }
    .gb_Cf.gb_jb {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-bottom-left-radius: 15px !important;
        border-bottom-right-radius: 15px !important;
        border: 1px solid var(--Myborder) !important;
    }
    div[aria-label="Account Information"] {
        background-image: none !important;
    }
    .eula-modal,
    div[class*="download__panel"]:not(.download__panel-logo),
    .gb_3f.gb_ob,
    div[aria-label="Account Information"] {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myborder) !important;
    }
    .gb_Ta.gb_z.gb_7b,
    .gb_hf.gb_Za.gb_hd,
    .gb_ba.gb_g,
    .gb_xb,
    #gbsfw,
    .gb_ic,
    .cF4V5c,
    .hdtbU.hdtb-mn-o {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myborder) !important;
    }
    div#appbar.appbar {
        background: transparent !important;
    }
    .y8Jpof.rhsvw:hover {
        background: var(--Myred3) !important;
    }
    .xERobd,
    g-scrolling-carousel,
    g-inner-card,
    #hdtbSum,
    .sfbgg {
        background: var(--Myred3) !important;
        border: none !important;
    }
    input {
        text-align: center !important;
        color: var(--MyW) !important;
        background-color: var(--Myback) !important;
    }
    .URIeEf {
        color: var(--Myblue1) !important;
    }
    .sbl1 {
        color: var(--MyW) !important;
    }
    h4 {
        color: var(--Mygreen1) !important;
        text-decoration: none !important;
    }
    .RScZKc {
        color: var(--TwitterBlue) !important;
    }
    .W8wzH,
    i,
    label,
    .w8qArf a.fl,
    .gb_e.gb_f a,
    .z80M1,
    b,
    h2,
    a {
        color: var(--MyW) !important;
    }
    a:hover b,
    a>b:hover,
    a>b:hover a,
    a>b:link:hover,
    a:link:hover,
    b:hover,
    a.gb_d,
    a.gb_d:hover,
    .XCKyNd:hover,
    h2:hover,
    h3:hover,
    a:hover {
        color: var(--Myred1) !important;
    }
    a:visited {
        color: var(--TwitterBlue) !important;
        text-decoration: none !important;
    }
    #logo:hover,
    #hplogo:hover {
        -moz-animation: goo-spin 400ms linear 2;
        -webkit-animation: goo-spin 400ms linear 2;
        animation: goo-spin 400ms linear 2;
    }
    .goo-spin {
        -moz-animation: goo-spin 500ms linear;
        -webkit-animation: goo-spin 300ms linear;
        animation: goo-spin 500ms linear;
    }
    .goo-pulse {
        -moz-animation: goo-spin 1s steps(8);
        -webkit-animation: goo-spin 1s steps(8);
        animation: goo-spin 1s steps(8);
    }
    @-moz-keyframes goo-spin {
        0% {
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @-webkit-keyframes goo-spin {
        0% {
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(359deg);
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
    @keyframes goo-spin {
        0% {
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(359deg);
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
    span>b {
        color: var(--Mygray2) !important;
        background-color: transparent !important;
    }
    span.XCKyNd,
    span {
        color: var(--MyW) !important;
        background-color: transparent !important;
    }
    .sfbg.nojsv {
        border: none !important;
        color: var(--Myred3) !important;
        background-color: var(--Myred3) !important;
    }
    .Tg7LZd,
    .FiqGxd {
        border-radius: 25px !important;
    }
    .z1asCe.MZy1Rb {
        margin-right: -10px !important;
    }
    .ahh38c,
    .N5YmOc.kJXJmd,
    .iKjWAf.a-no-hover-decoration.irc-nic.isr-rtc {
        background-color: var(--Mygray2) !important;
    }
    .DPvwYc.enXqmb {
        color: var(--Mygreen1) !important;
    }
    div[role="heading"]>div,
    .BkKHtf,
    .nJGrxf {
        color: var(--MyW) !important;
        text-decoration: none !important;
    }
    .xpdopen {
        border-radius: 10px !important;
        background-color: var(--Myred3) !important;
    }
    #irc-pc {
        color: var(--Myred1) !important;
        border-color: var(--Myred1) !important;
        width: 50px;
    }
    div[class="h312td  RtIwE"] {
        background-image: none !important;
        background-color: transparent !important;
    }
    a .rg_ilmbg,
    div[class="h312td  RtIwE"],
    .rg_ilmbg {
        background-color: var(--MyX1) !important;
    }
    .CAAQAQ,
    .P5BnJb {
        border-radius: 15px !important;
        background-color: var(--Myred3) !important;
    }
    .yyjhs {
        background-color: var(--Mygray2) !important;
    }
    .uHTtdf {
        color: var(--Mygreen2) !important;
    }
    .S1C7Re,
    .V7ewqe {
        color: var(--Mytext) !important;
    }
    .yo6zD,
    .H3pCR,
    .Rs3Epd,
    .LbiQX,
    .Y6f3fc.HtP7nb,
    .BWsxhd.kno-fb-ctx,
    .EwuLE.HtP7nb.kno-fb-ctx,
    .K9xsvf.ownsX.HtP7nb,
    .yo6zD.k1mQyc {
        color: var(--Mygray1) !important;
    }
    .hXYDxb,
    .KqnMib:hover,
    .MZ9Js,
    .fcdFZb,
    .SHEkIb.gsmt {
        color: var(--Myred1) !important;
    }
    .oldgiscontent,
    .WOSiSc.l9Rm1d,
    .jvfpWb.r-iy62SPVlOCI0 {
        background-color: var(--Myred3) !important;
        border: none !important;
        border-color: var(--Myred3) !important;
    }
    .dw-sb-cont,
    .kp-blk,
    .rl_item.rl_item_base,
    .NFQFxe.viOShc.LKPcQc.mod {
        background-color: var(--Myred3) !important;
    }
    .goog-slider-thumb {
        background-image: none !important;
        background-color: var(--Myred2) !important;
        color: var(--Myred2) !important;
    }
    .goog-slider-thumb-dragging {
        background-color: var(--Myred1) !important;
        color: var(--Myred1) !important;
    }
    .EUjJDc,
    .banner h1 {
        color: var(--MyW) !important;
    }
    .rg_anbg * {
        color: var(--Myred1) !important;
    }
    .rg_bx.rg_di.rg_el.ivg-i.fmbrQQxz::before {
        border-bottom-color: var(--TwitterRed) !important;
    }
    .oldgisrelatedthumbdata.oldgisrelatedcurrentselection {
        box-shadow: 0px 0px 0px 1px var(--Myred1), 0px 0px 0px 3px var(--Myred1) !important;
    }
    .oldgisrelatedthumbdata:hover,
    .oldgisseemore:hover .oldgisrelatedthumbdata {
        box-shadow: 0px 0px 0px 1px var(--Myred1), 0px 0px 0px 3px var(--Myred1) !important;
    }
    .oldgisrelatedthumbdata:active,
    .oldgisseemore:active .oldgisrelatedthumbdata {
        box-shadow: 0px 0px 0px 1px var(--Myred1), 0px 0px 0px 3px var(--Myred1) !important;
    }
    .oldgisimageareaimage {
        border: 2px solid var(--Myred1) !important;
    }
    .oldgisbuttonclose::before,
    .oldgisbuttonclose::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background: var(--MyW) !important;
        left: 50%;
    }
    .oldgisbuttonprev::before,
    .oldgisbuttonnext::before {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        top: 50%;
        margin-top: -9px;
        position: absolute;
        transform: rotate(45deg);
    }
    .oldgisbuttonprev::before {
        border-left: 3px solid var(--MyW) !important;
        border-bottom: 3px solid var(--MyW) !important;
        transform: rotate(45deg);
        left: 12px;
    }
    .oldgisbuttonnext::before {
        border-top: 3px solid var(--MyW) !important;
        border-right: 3px solid var(--MyW) !important;
        right: 10px;
    }
    .rg_bx.rg_di.rg_el.ivg-i.fmbrQQxz {
        border: 5px solid var(--TwitterRed) !important;
    }
    /*
    input#smb.ksb,
    #smc
    */
    #smbw,
    #xjs {
        position: relative !important;
        margin: 0px !important;
        padding: 0px !important;
        left: 0px !important;
    }
    .nJGrxf.FnqxG,
    .mVDMnf.nJGrxf {
        text-align: center !important;
    }
    .VmOpGe,
    body,
    html {
        background-color: var(--MyB) !important;
        color: var(--MyW) !important;
        background: url("https://danamw.github.io/img/GoogleBG.jpg") repeat !important;
    }
    /*
    These are for the all apps button in all googles.
    a.NQV3m,
    .tX9u1b,
    */
    .EHzcec.eejsDc {
        background-color: var(--Mygray3) !important;
        border: 1px solid var(--MyW) !important;
    }
    svg path[d="M8.59,16.59L13.17,12L8.59,7.41L10,6l6,6l-6,6L8.59,16.59z"] {
        filter: invert(180) !important;
    }
    .a1vOw.BY2RHc.bhpG1c.i49rzb,
    #eer-masthead,
    .hVU0u,
    #eer-ra {
        background-image: none !important;
        background-color: transparent !important;
    }
    div[role="heading"] {
        text-align: center !important;
    }
    .WuRuJe {
        background-color: var(--Mygreen1) !important;
    }
    .fLJSwc,
    .OeVqAd,
    .ru14E.kF2iof,
    #wp-tabs-container,
    .K20DDe.HdaFGf.suApsd.R9GLFb.JXFbbc.Xbg0sb.ySjHwc,
    .UUcaod,
    #eer-ra,
    .Ih2lSe,
    div[role="heading"]:not(.LGOjhe):not(.UKbGGd),
    .MXwBff:hover,
    .gb_F.gb_na,
    a[jsname="uy6ald"]:hover,
    .PaEvOc:hover,
    .section-review,
    div[class*="__root"],
    div[class*="__container"],
    .section-omnibox-spacer,
    .section-result:hover,
    .qQ2n2b:hover,
    .gb_D.gb_Ec,
    #nngdp34,
    .knowledge-finance-wholepage-chart__hover-card,
    div[class*="smsauth-interstitial-tipbox"]:not(.smsauth-interstitial-tipbox-tip),
    div[class*="smsauth-interstitial-infobox"]:not(.smsauth-interstitial-infobox-content-primary):not(.smsauth-interstitial-infobox-content):not(.smsauth-interstitial-infobox-heading),
    #act-timer-section,
    #act-stopwatch-section,
    #timer-stopwatch-container,
    .exp-outline,
    .rc:hover,
    #irc-cl {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient( to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    .gb_qb,
    .gb_ob.gb_pb {
        color: var(--TwitterBlue) !important;
    }
    /* #wp-tabs-container, */
    div[class*="wholepage-card"],
    .Y653g,
    .MXwBff,
    a[jsname="uy6ald"],
    .PaEvOc,
    .section-subheader,
    div[class="hyMrOd "],
    .u4DeMc,
    div[aria-label="Currency exchange rate converter"],
    .gb_B.gb_Ec {
        background-color: var(--Mygray3) !important;
        background-image: linear-gradient( to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    b,
    .lEoPHd,
    .ISnqu,
    #mBMHK {
        color: var(--TwitterBlue) !important;
    }
    .Yhekq,
    header.mSUZQd {
        background-color: transparent !important;
    }
    .YtVmAd {
        background-color: var(--Myred3) !important;
    }
    .bx0cub {
        border-color: var(--Myred1) !important;
    }
    .Z1is9,
    .mjO7gf {
        color: var(--TwitterPink) !important;
    }
    #upgrade.znsu3 {
        background-color: var(--MyB) !important;
    }
    cite:hover {
        color: var(--Myred1) !important;
    }
    .eFM0qc {
        display: none !important;
    }
    .TbwUpd {
        width: 100% !important;
        left: 0 !important;
        right: 50% !important;
        margin: 0 auto !important;
    }
    cite {
        color: var(--MyW) !important;
        text-align: center !important;
    }
    .c0L1fd,
    .Uw4age,
    .JXRj4e,
    .tNjlP {
        color: var(--MyW) !important;
    }
    .isv-r.PNCib.MSM1fd.BUooTd.fmbrQQxz::before {
        border-bottom-color: var(--TwitterPink) !important;
    }
    .isv-r.PNCib.MSM1fd.BUooTd.fmbrQQxz {
        border: 1px solid var(--Myred1) !important;
    }
    .caRMob.Nubvqd {
        background-color: var(--TwitterRed) !important;
    }
    .sJyeOd.jrYUfb {
        border-left-color: var(--TwitterRed) !important;
    }
    .g,
    .rc,
    .kp-blk.Wnoohf.OJXvsb>.xdpopen,
    #center_col,
    div[class="kp-blk EyBRub fm06If Wnoohf OJXvsb"],
    #taw,
    #res,
    #rso {
        width: 650px !important;
        max-width: 650px !important;
    }
    span.XCKyNd {
        color: var(--TwitterRed) !important;
    }
    .g.rhsvw.mnr-c.g-blk,
    .g.rhsvw.kno-kp.mnr-c.g-blk,
    .xdpopen {
        width: 450px !important;
    }
    .kno-ftr {
        margin-right: 10px !important;
    }
    .isv-r.PNCib.MSM1fd.BUooTd.sizepropagated .gishoverinfo {
        background: var(--MyX1) !important;
        background-color: var(--MyX1) !important;
    }
}