/* ==UserStyle==
@name         GreasyFork Dark
@namespace    https://danamw.github.io/scripts/scripts/GreasyForkDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/GreasyForkDark.user.css
@version      0.0.9
@author       Dana L. Meli-Wischman
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
==/UserStyle== */

@-moz-document domain("greasyfork.org") {
    body,
    html {
        background: var(--MyB) !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    .sign-out-link,
    .Pager-p,
    .Next,
    .Ellipsis,
    .Button.Primary.Action.NewDiscussion.BigButton,
    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    .sign-out-link:hover,
    .Pager-p:hover,
    .Next:hover,
    .Ellipsis:hover,
    .Button.Primary.Action.NewDiscussion.BigButton:hover,
    button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    .sign-out-link:active,
    .Pager-p:active,
    .Next:active,
    .Ellipsis:active,
    .Button.Primary.Action.NewDiscussion.BigButton:active,
    button:active {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    ul li,
    li a,
    li.list-option a,
    .list-option-group ul {
        background-image: none !important;
        background-color: transparent !important;
    }
    #additional-info,
    .PanelInfo.PanelCategories,
    .FilterMenu,
    section.text-content,
    ul li.list-option.list-current,
    .script-list li {
        background-color: var(--Mygray2) !important;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    .script-list li:hover {
        background-color: var(--MyB) !important;
        border-color: var(--Myred1) !important;
    }
    #script-info,
    .MeBox,
    p.notice,
    li a:hover,
    li.list-option a:hover,
    .list-option-group ul {
        color: var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    h2 a {
        color: var(--Myred1) !important;
    }
    p.notice {
        color: var(--MyW) !important;
        text-align: center !important;
    }
    dd>span,
    p,
    a {
        color: var(--MyW) !important;
    }
    span,
    h3 {
        color: var(--TwitterRed) !important;
    }
    .description,
    h3:hover {
        color: var(--TwitterBlue) !important;
    }
    a:hover {
        color: var(--Myred1) !important;
    }
    .Column.ContentColumn,
    input,
    form,
    select {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    form {
        border-radius: 25px !important;
    }
    select#language-selector-locale,
    input {
        border: 1px solid var(--MyW) !important;
        border-radius: 25px !important;
        text-align: center !important;
    }
    .ad.carbon-ad {
        display: none !important;
    }
    .sidebar-search {
        height: 22px !important;
    }
    .Item:hover {
        background-color: var(--MyX1) !important;
    }
}