/* ==UserStyle==
@name         HotCelebsHome Dark
@namespace    https://danamw.github.io/scripts/scripts/HotCelebsHomeDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/HotCelebsHomeDark.user.css
@version      0.0.6
@description  HotCelebsHome Dark Tweaks
@author       Dana Meli
@homepageURL  https://danamw.github.io
==/UserStyle== */

@-moz-document domain("hotcelebshome.com") {
    .hfeed,
    .site,
    .site-info,
    section,
    body {
        color: var(--Mytext) !important;
        background-color: var(--Myback) !important;
    }
    img[class^="vidthumb"] {
        transform: scale(1.25, 1.25);
    }
    .primary-sidebar {
        margin-left: -30px !important;
        margin-right: -30px !important;
        margin-top: -47px !important;
        margin-bottom: -50px !important;
    }
    div#main.site-main {
        float: center !important;
        align-content: center !important;
    }
    .widget_top-posts,
    .content-area {
        color: var(--Mytext) !important;
        background-color: var(--Myback) !important;
    }
    .header-main,
    .entry-content,
    .entry-meta,
    .entry-header {
        color: var(--Mytext) !important;
        background-color: var(--Mygray3) !important;
    }
    .entry-attachment br,
    .entry-attachment strong,
    .attachment br,
    .attachment br>a,
    tbody>tr>td,
    .wpfront-message,
    .footer-sidebar,
    .hide-on-button,
    div[id*="ScriptRoot"],
    center,
    #div-gpt-ad-1469396464531-2,
    #nativeAds_1521208342774,
    #disqus_thread,
    center iframe,
    .img-responsive {
        display: none !important;
    }
    h1.site-title a {
        color: var(--Myred1) !important;
        text-shadow: 1px 1px 0 var(--MyW) !important;
    }
    a,
    .previous-image,
    .next-image {
        color: var(--Mygray2) !important;
    }
    a:hover {
        color: var(--Myred1) !important;
    }
    .previous-image:hover,
    .next-image:hover {
        color: var(--Myred1) !important;
    }
    #footer,
    .no-posts {
        color: var(--Mytext) !important;
        background-color: var(--Mygray2) !important;
    }
    span.full-size-link a,
    .entry-title {
        color: var(--Myred2) !important;
        text-shadow: 1px 1px 0 var(--MyW) !important;
    }
    span.full-size-link:hover a {
        color: var(--Myred1) !important;
        text-shadow: 1px 1px 5px var(--MyB) !important;
    }
    .jetpack-lazy-image--handled:hover {
        box-shadow: 0 0 20px 5px var(--Myred1) !important;
    }
    div[class="next-image"],
    div[class="previous-image"],
    span[class="full-size-link"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        color: var(--Mytext) !important;
        background-color: var(--Myback) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    div[class="next-image"]:hover,
    div[class="previous-image"]:hover,
    span[class="full-size-link"]:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        border-bottom-color: var(--MyB) !important;
        border-top-color: var(--Mygray3) !important;
        border-right-color: var(--MyB) !important;
        border-left-color: var(--MyB) !important;
        background-color: var(--MyX1) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Mygray1) !important;
    }
    span[class="full-size-link"] {
        padding: 5px !important;
        color: var(--MyW) !important;
        border-radius: 25px !important;
    }
    div[class="next-image"],
    div[class="previous-image"] {
        text-align: center !important;
        border-radius: 25px !important;
    }
}