/* ==UserStyle==
@name         InstaGram Dark
@namespace    https://danamw.github.io/scripts/scripts/InstaGramDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/InstaGramDark.user.css
@version      0.1.9
@description  Instagram Dark
@homepageURL  https://danamw.github.io
@author       Dana Meli
==/UserStyle== */

@-moz-document domain("instagram.com"),
domain("cdninstagram.com") {
    div[class="ByB5K enqOc "],
    div[class="_nuMd VZk0N "],
    footer,
    main.SCxLW,
    html,
    body,
    .oYYFH,
    .js.logged-in.client-root {
        background-color: var(--MyB) !important;
    }
    div[class*="ByB5K"][class*="enqOc"][class*="-iWfv"],
    ._6zPK7.PS7Gk,
    div[class*="wpHm3"][class*="Igw0E"][class*="IwRSH"][class*="eGOV_"][class*="_4EzTm"][class*="O1flK"][class*="fm1AK"],
    .DCpAF,
    div[class*="Igw0E"][class*="IwRSH"][class*="eGOV_"][class*="_4EzTm"][class*="qD5Mv"] section[class="bR_3v  "],
    ._8UZ6e {
        display: none !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    .VIsJD,
    h4,
    #verificationCodeDescription,
    .m7ETg,
    .YFq-A,
    div[class*="_7UhW9"][class*="xLCgt"],
    span,
    p,
    a {
        color: var(--MyW) !important;
        background-color: transparent !important;
    }
    a>span:hover,
    a:hover {
        color: var(--Myred1) !important;
        text-decoration: none !important;
    }
    div[class*="_7UhW9"][class*="x-6xq"][class*="MMzan"][class*="KV-D4"][class*="uL8Hv"][class*="l4b0S"],
    .Nm9Fw,
    h1 {
        color: var(--TwitterBlue) !important;
    }
    time,
    h3,
    h2 {
        color: var(--TwitterRed) !important;
    }
    small {
        color: var(--TwitterPink) !important;
    }
    div[class*="Igw0E"][class*="rBNOH"][class*="eGOV_"][class*="ybXk5"][class*="_4EzTm"][class*="rOtsg"][class*="ZUqME"],
    div[class="  _6FEQj CMoMH   RQUXn _8_yLp  "] {
        background-color: var(--MyX1) !important;
    }
    div[class="                     Igw0E     IwRSH        YBx95       _4EzTm                                                                                   XfCBB            g6RW6               "] {
        background-color: var(--MyX3) !important;
    }
    a._9VEo1 {
        width: 70px !important;
    }
    a._9VEo1,
    a[class="sqdOP  L3NKy    _8A5w5   ZIAjV "],
    div[class*="Igw0E"][class*="rBNOH"][class*="eGOV_"][class*="ybXk5"][class*="_4EzTm"][class*="XfCBB"],
    a[class="h-aRd  fuQUr"],
    button:not(._4LVjf):not(.downloadBtn):not(.wpO6b):not(.coreSpriteDismissLarge):not([class="sqdOP yWX7d    y3zKF     "]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    div[class="                     Igw0E     IwRSH      eGOV_         _4EzTm                                        JI_ht                                                                      "] button[class="sqdOP yWX7d    y3zKF     "]:hover,
    a._9VEo1:hover,
    a[class="_9VEo1 T-jvg"],
    a[class="sqdOP  L3NKy    _8A5w5   ZIAjV "]:hover,
    div[class*="Igw0E"][class*="rBNOH"][class*="eGOV_"][class*="ybXk5"][class*="_4EzTm"][class*="XfCBB"]:hover,
    .-HRM-,
    a[class="h-aRd  fuQUr"]:hover,
    button:hover:not(._4LVjf):not(.downloadBtn):not(.wpO6b):not(.coreSpriteDismissLarge):not([class="sqdOP yWX7d    y3zKF     "]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    a._9VEo1:active,
    a[class="sqdOP  L3NKy    _8A5w5   ZIAjV "]:active,
    div[class*="Igw0E"][class*="rBNOH"][class*="eGOV_"][class*="ybXk5"][class*="_4EzTm"][class*="XfCBB"]:active,
    a[class="h-aRd  fuQUr"]:active,
    button:active:not(._4LVjf):not(.downloadBtn):not(.wpO6b):not(.coreSpriteDismissLarge):not([class="sqdOP yWX7d    y3zKF     "]) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    div[class="                     Igw0E     IwRSH      eGOV_         _4EzTm                                                                                               g6RW6               "],
    div[class="       tHaIX              Igw0E     IwRSH      eGOV_         _4EzTm                                                                                   XfCBB             HcJZg              "],
    div[class="uo5MA  _2ciX tWgj8 XWrBI "] {
        background-image: none !important;
        background-color: transparent !important;
    }
    [class=" cTBqC"] {
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        background-size: 1904px 80px !important;
        background-position: center !important;
        border-radius: 0;
        border: none !important;
        border-color: transparent !important;
        -moz-transition: all linear 2s;
        -webkit-transition: all linear 2s;
        transition: all ease-in-out 2s;
    }
    .XajnB,
    ._lz6s {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        filter: brightness(75%) !important;
    }
    div[class="zGtbP IPQK5 VideM "],
    .rQDP3,
    div[class="eo2As  "],
    .IpSxo,
    [class=" Dw_ki"],
    .g47SY.lOXF2,
    div[class*="Igw0E"][class*="IwRSH"][class*="eGOV_"][class*="_4EzTm"],
    ._9XapR,
    ._7zBYT {
        background-color: var(--Myred3) !important;
    }
    .stock_navbar {
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
    }
    div[class*="tHaIX"][class*="Igw0E"][class*="IwRSH"][class*="eGOV_"][class*="vwCYk"][class*="HcJZg"],
    ._9eogI.hfWwk,
    ._9gMUf,
    div[class="                     Igw0E     IwRSH      eGOV_          ui_ht                                                                          i0EQd                                   "]>div,
    div[class="frMpI  -sxBV"],
    div[class="                     Igw0E   rBNOH          YBx95       _4EzTm                                                                                     T9mq-            nGS-Y             "],
    .N9abW,
    a[class="-qQT3 rOtsg"],
    div[class="PUHRj  H_sJK"],
    ul.wW1cu,
    article.PVkFi {
        background-color: var(--Mygray1) !important;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    [class="_8Rm4L bLWKA  vboSt  _6E_wP ccgHY  GZkEI"],
    [class*="DPiy6"][class*="qF0y9"][class*="Igw0E"][class*="IwRSH"][class*="eGOV_"][class*="vwCYk"],
    [class*="qF0y9"][class*="Igw0E"][class*="IwRSH"][class*="eGOV_"][class*="_4EzTm"]>[class*="qF0y9"][class*="Igw0E"][class*="IwRSH"][class*="eGOV_"][class*="_4EzTm"][class*="L-sTb"][class*="HcJZg"],
    div[class*="qF0y9"][class*="Igw0E"][class*="rBNOH"][class*="CcYR1"][class*="ybXk5"][class*="_4EzTm"],
    div[class="_4Kbb_ _54f4m"],
    div[class*="pV7Qt"][class*="tHaIX"][class*="Igw0E"][class*="rBNOH"][class*="YBx95"][class*="_4EzTm"][class*="XfCBB"][class*="nGS-Y"],
    div[role="presentation"],
    header,
    div[class="                     Igw0E     IwRSH      eGOV_         _4EzTm                                                                                               g6RW6               "],
    div[class="       tHaIX              Igw0E     IwRSH      eGOV_         _4EzTm                                                                                   XfCBB             HcJZg              "],
    .BvyAW,
    .gr27e,
    div[class="gr27e  "],
    .eo2As.O9c_u,
    div[class*="Igw0E"][class*="IwRSH"][class*="eGOV_"][class*="_4EzTm"][class*="XfCBB"][class*="g6RW6"],
    div[class*="lKHVe"][class*="rBNOH"][class*="eGOV_"][class*="ybXk5"][class*="vwCYk"][class*="XfCBB"][class*="g6RW6"],
    ._41KYi,
    div[class="                     Igw0E     IwRSH      eGOV_         _4EzTm                                                                                    L-sTb            HcJZg              "],
    .S-mcP,
    a[class="-qQT3 rOtsg"]:hover,
    div[class="PUHRj  H_sJK"]:hover,
    .leaflet-popup-content-wrapper,
    section[class="bR_3v  "],
    div[class="zGtbP IPQK5 VideM"],
    [role="dialog"]>._1XyCr {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    ._01UL2,
    textarea {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
    }
    input {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
        text-align: center !important;
    }
    section * input[type="checkbox"] {
        -moz-appearance: checkbox;
        -webkit-appearance: checkbox;
        appearance: checkbox;
    }
    section * input[type="radio"] {
        -moz-appearance: radio;
        -webkit-appearance: radio;
        appearance: radio;
    }
    div[class="zGtbP  "],
    div[class="_7zBYT tYjl_"],
    div[class="NP414  ccgHY  GZkEI"],
    .leaflet-popup-tip {
        background-color: var(--Myred3) !important;
    }
    .f7Bj3,
    div[class="zGtbP  VideM"],
    div[class="AvhYw nLL4f"] {
        background-color: var(--Mygray3) !important;
    }
    header[class="vtbgv "] {
        border-top: 20px solid var(--Myred3) !important;
    }
    div[class*="_9GP1n"][class*="HlUSH"],
    div[class*="_9GP1n"] {
        background-color: transparent !important;
    }
    div[class*="_9GP1n"][class*="HlUSH"],
    div[class*="_9GP1n"] {
        border: none !important;
    }
    /*------------------All filter INVERTS----------------*/
    span[class="glyphsSpriteFriend_Follow u-__7"],
    div[class="FuWoR -wdIA     x7xX2 "],
    div[class*="coreSpritePagingChevron"],
    button[class="_5f5mN       jIbKX KUBKM      yZn4P   "] svg path,
    button[class="_5f5mN       jIbKX KUBKM      yZn4P  m4t9r "] svg path,
    svg {
        filter: invert(1);
    }
    svg[aria-label="Unlike"] {
        filter: invert(0);
    }
    button svg path:hover,
    svg:hover {
        filter: invert(0.5);
    }
    /*--------------------------Main Article--------------*/
    a.FPmhX.notranslate.yrJyr {
        color: var(--Mygreen2) !important;
    }
    div[class="_7UhW9   xLCgt      MMzan  KV-D4        uL8Hv     l4b0S    "],
    .TqC_a {
        color: var(--MyW) !important;
        font-weight: bold !important;
    }
    .TqC_a:hover {
        color: var(--MyB) !important;
        font-weight: bold !important;
    }
    div[class="                     Igw0E     IwRSH       hLiUi       vwCYk                                                                                                               "] {
        background-color: var(--Mygray3);
    }
    div[class="eo2As "],
    ._-1_m6,
    .NgKI_,
    div[class="                  Igw0E     IwRSH      eGOV_         _4EzTm                                                                                               g6RW6               "],
    .fx7hk,
    .M9sTE {
        background-color: var(--Myred3);
    }
    ._0T_XJ.zRsZI::after,
    ._0T_XJ.zRsZI::before {
        background-image: none !important;
    }
    ._8Rm4L.M9sTE.L_LMM.SgTZ1 {
        background-color: var(--Myred3);
        border: 2px solid var(--Myborder);
    }
    .Szr5J.bMltT {
        z-index: 10;
    }
    ._8Rm4L.M9sTE.L_LMM.SgTZ1:hover {
        box-shadow: 0 0 30px var(--Myred1) !important;
    }
    .mt3GC {
        border: 2px var(--Myred1) !important;
    }
    div[class="_7UhW9   xLCgt       qyrsm  _0PwGv       uL8Hv          fTMOG"],
    div[class="_7UhW9  PIoXz        qyrsm KV-D4        uL8Hv         "],
    .BcJ68,
    .zV_Nj,
    .FPmhX {
        color: var(--MyW) !important;
    }
    /*-------------------Main colors-----------------------*/
    .zV_Nj {
        color: var(--Myblue1);
    }
    .gElp9 a {
        color: var(--Mygreen1) !important;
    }
    a,
    p,
    p span,
    div a {
        color: var(--MyW) !important;
    }
    span[class="_3G4x7  l93RR"]:hover,
    a:hover,
     :link:hover {
        color: var(--Myred1) !important;
    }
    ._41KYi.LQtnO,
    label,
    textarea {
        color: var(--MyW) !important;
        background-image: none !important;
        background-color: transparent !important;
    }
    textarea,
    input:not([type="radio"]):not([type="checkbox"]) {
        background-color: var(--MyB) !important;
        color: var(--MyW) !important;
        border-radius: 25px !important;
        border: 1px solid var(--Myred1) !important;
    }
    .mwD2G,
    input[type="radio"],
    input[type="checkbox"] {
        color: var(--MyW) !important;
        background-color: var(--Mygray2) !important;
        border: 1px solid var(--MyW) !important;
    }
    input[type="radio"][checked="true"] {
        color: var(--MyB) !important;
    }
    .mwD2G::before {
        background-color: var(--MyW) !important;
    }
    section[class="sH9wk  _JgwE "] textarea {
        background-color: var(--MyB) !important;
    }
    .ZUqME,
    .vtWDf,
    .YlNGR,
    .kM-aa.NP414.ccgHY.GZkEI {
        background-color: var(--Mygray2) !important;
    }
    .YQf7h.xptSB {
        background-color: var(--Myred2) !important;
    }
    div[class="_7UhW9   xLCgt      MMzan     fDdiY       uL8Hv      M8ipN   "]:hover {
        color: var(--Myred1) !important;
    }
    div[class*="Igw0E"][class*="IwRSH"][class*="eGOV_"][class*=" _4EzTm"] {
        background-color: transparent !important;
    }
    li.wo9IH {
        background-color: var(--Mygray3) !important;
    }
    div[class="ByB5K enqOc "],
    div[class="_nuMd VZk0N "] {
        height: 0px !important;
        opacity: 0 !important;
    }
    .v9tJq.AAaSh,
    header[class="vtbgv "] {
        border-color: transparent !important;
        border: 10px var(--Mygreen1) !important;
    }
    div[class="RR-M- h5uC0"] {
        margin-top: 65px !important;
    }
    .q9xVd::after {
        background-color: var(--Mygreen1) !important;
    }
    div[class*="Igw0E"][class*="IwRSH"][class*="eGOV_"][class*="_4EzTm"][class*="_22l1"][class*="aGBdT"][class*="BI4qX"] {
        text-align: center !important;
    }
    div[class*="Igw0E"][class*="rBNOH"][class*="eGOV_"][class*="ybXk5"][class*="_4EzTm"][class*="XfCBB"][class*="HVWg4"] {
        height: 60px !important;
    }
    div[class*="Igw0E"][class*="rBNOH"][class*="eGOV_"][class*="ybXk5"][class*="_4EzTm"][class*="XfCBB"][class*="HVWg4"]:hover {
        height: 100px !important;
    }
    svg[class="_8-yf5 edmGD"] {
        fill: var(--Myred1) !important;
    }
    img.s4Iyt:hover {
        filter: invert(1) !important;
    }
    .gwgGR {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    .eDd9Z {
        background-color: var(--Myred3) !important;
    }
    div[class="                     Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                  soMvl                  JI_ht                  DhRcB                                                    "]>svg>path {
        filter: invert(1) !important;
        fill: var(--Myred1) !important;
    }
    .pKKVh:hover,
    div[class="v1Nh3 kIKUG  _bz0w"]:hover {
        box-shadow: 0px 0px 10px var(--Myred1) !important;
    }
    [class*="qF0y9"][class*="Igw0E"][class*="IwRSH"][class*="YBx95"][class*="_4EzTm"][class*="XfCBB"][class*="g6RW6"] {
        background-color: var(--MyX1) !important;
        color: var(--MyB) !important;
    }
}