/* ==UserStyle==
@name         InstaGram Dark
@namespace    https://danamw.github.io/scripts/scripts/InstaGramDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/InstaGramDark.user.css
@version      0.1.57
@description  Instagram Dark
@homepageURL  https://danamw.github.io
@author       Dana L. Meli-Wischman
==/UserStyle== */

@-moz-document domain("instagram.com"),
domain("cdninstagram.com") {
    ._aa5b,
    [class="_aam1 _akej _ajrq _akek"],
    section,
    main,
    html,
    body {
        background-color: var(--MyB) !important;
    }
    [class="_aam1 _akej _ajrq _aam6 _akek"],
    [class="_aalv _aalx _ajrr _akek"],
    #splash-screen {
        background: var(--MyXB) !important;
    }
    footer {
        display: none !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
        border-color: var(--Myred1) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    p,
    a {
        color: var(--MyW) !important;
        background-color: transparent !important;
    }
    a:hover {
        color: var(--Myred1) !important;
        text-decoration: none !important;
    }
    [class=" _ab8y  _ab94 _ab97 _ab9f _ab9k _ab9p _abcm"],
    h1 {
        color: var(--TwitterBlue) !important;
    }
    h2 {
        color: var(--MyW) !important;
    }
    [class=" _ab8y  _ab94 _ab97 _ab9f _ab9k _ab9p _abcm"]:hover,
    h3 {
        color: var(--TwitterRed) !important;
    }
    small {
        color: var(--TwitterPink) !important;
    }
    .x5n08af,
    ._aacx,
    ._a9zv,
    h3,
    h4,
    h5,
    strong {
        color: var(--MyW) !important;
    }
    [class="x1i10hfl xjqpnuy xa49m3k xqeqjp1 x2hbi6w x972fbf xcfux6l x1qhh985 xm0m39n xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli xexx8yu x18d9i69 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x1lku1pv x1a2a7pz x6s0dn4 xjyslct x1lq5wgf xgqcy7u x30kzoy x9jhf4c x1ejq31n xd10rxx x1sy0etr x17r0tee x9f619 x1ypdohk x78zum5 x1i0vuye xwhw2v2 x10w6t97 xl56j7k x17ydfre x1f6kntn x1swvt13 x1pi30zi x2b8uid xlyipyv x87ps6o x14atkfc x1n2onr6 x1d5wrs8 x1gjpkn9 x175jnsf xsz8vos"],
    [role="button"]:not([aria-label="Control"]):not(.x1qjc9v5):not(._aazm),
    ._ad7z,
    [class="x9f619 x3nfvp2 x1z11no5 xjy5m1g x1mnwbp6 x4pb5v6 xr9ek0c xjpr12u xo237n4 x6pnmvc x7nr27j x12dmmrz xz9dl7a xn6708d xsag5q8 x1ye3gou x1l895ks x159b3zp xdoji71 x1v9afh1 x1sxb60h x1ug36kh xubc8zo x1dejxi8 x9k3k5o xs3sg5q x11hdxyr x12ldp4w x1wj20lx x1dn74xm xif99yt x172qv1o x10djquj x1lhsz42 xzauu7c"],
    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    ._abm4:hover,
    [role="button"]:hover:not([aria-label="Control"]):not(.x1qjc9v5):not(._aazm),
    [class="x1i10hfl xjqpnuy xa49m3k xqeqjp1 x2hbi6w x972fbf xcfux6l x1qhh985 xm0m39n xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli xexx8yu x18d9i69 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x1lku1pv x1a2a7pz x6s0dn4 xjyslct x1lq5wgf xgqcy7u x30kzoy x9jhf4c x1ejq31n xd10rxx x1sy0etr x17r0tee x9f619 x1ypdohk x78zum5 x1i0vuye xwhw2v2 x10w6t97 xl56j7k x17ydfre x1f6kntn x1swvt13 x1pi30zi x2b8uid xlyipyv x87ps6o x14atkfc x1n2onr6 x1d5wrs8 x1gjpkn9 x175jnsf xsz8vos"]:hover,
    [class=" _ab8o _ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p _abcm"],
    [class="_ab8w  _ab94 _ab97 _ab9f _ab9k _ab9p  _aba0 _aba8 _abcm"]:hover,
    ._ad7z:hover,
    [class*="_ab8w  _ab94 _ab97 _ab9f _ab9k _ab9p  _ab9- _aba8 xn3w4p2"]:hover,
    [class="x9f619 x3nfvp2 x1z11no5 xjy5m1g x1mnwbp6 x4pb5v6 xr9ek0c xjpr12u xo237n4 x6pnmvc x7nr27j x12dmmrz xz9dl7a xn6708d xsag5q8 x1ye3gou x1l895ks x159b3zp xdoji71 x1v9afh1 x1sxb60h x1ug36kh xubc8zo x1dejxi8 x9k3k5o xs3sg5q x11hdxyr x12ldp4w x1wj20lx x1dn74xm xif99yt x172qv1o x10djquj x1lhsz42 xzauu7c"]:hover:not(._abpo),
    button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    [role="button"]:active:not([aria-label="Control"]):not(.x1qjc9v5):not(._aazm),
    [class="x1i10hfl xjqpnuy xa49m3k xqeqjp1 x2hbi6w x972fbf xcfux6l x1qhh985 xm0m39n xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli xexx8yu x18d9i69 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x1lku1pv x1a2a7pz x6s0dn4 xjyslct x1lq5wgf xgqcy7u x30kzoy x9jhf4c x1ejq31n xd10rxx x1sy0etr x17r0tee x9f619 x1ypdohk x78zum5 x1i0vuye xwhw2v2 x10w6t97 xl56j7k x17ydfre x1f6kntn x1swvt13 x1pi30zi x2b8uid xlyipyv x87ps6o x14atkfc x1n2onr6 x1d5wrs8 x1gjpkn9 x175jnsf xsz8vos"]:active,
    ._ad7z:active,
    [class="x9f619 x3nfvp2 x1z11no5 xjy5m1g x1mnwbp6 x4pb5v6 xr9ek0c xjpr12u xo237n4 x6pnmvc x7nr27j x12dmmrz xz9dl7a xn6708d xsag5q8 x1ye3gou x1l895ks x159b3zp xdoji71 x1v9afh1 x1sxb60h x1ug36kh xubc8zo x1dejxi8 x9k3k5o xs3sg5q x11hdxyr x12ldp4w x1wj20lx x1dn74xm xif99yt x172qv1o x10djquj x1lhsz42 xzauu7c"]:active,
    button:active {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    ._aa48 {
        background-image: none !important;
        background-color: transparent !important;
    }
    header,
    ._acum {
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
    }
    [class="_aady _aa_s"] {
        background-color: var(--Mygray1) !important;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    ._aa4j,
    [class=" _ab8s _ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p  _aba8 _abcm"],
    ._aak3._agh4,
    [role="dialog"],
    ._ab21 {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    textarea {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
    }
    input {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
        text-align: center !important;
    }
    .tooltip {
        background-color: var(--MyX1) !important;
        opacity: 0.4;
        color: var(--MyW) !important;
        padding: 8px;
        border-radius: 2px;
        border: 1px solid var(--MyW) !important;
    }
    [class=" _ab6k _ab6m _aggc _ackf _ackh"],
    ._ackk._ajre,
    header>section,
    [class="_ae5m _ae5n _ae5o"],
    [class="_aamu _ae3_ _ae47 _ae48"],
    [class=" _aaoe _ae5y _ae5z _ae62"],
    [class="_ae2s _ae3v _ae3w"],
    [class="x1qjc9v5 x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x78zum5 xdt5ytf x2lah0s xk390pu xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 xggy1nq x11njtxf"],
    [class=" x1cy8zhl x9f619 x78zum5 xdt5ytf x1gvbg2u x1y1aw1k xn6708d xx6bls6 x1ye3gou xvbhtw8 x1xgvd2v"],
    [class*="x6s0dn4 x1npaq5j x1c83p5e x1enjb0b x199158v x9f619"] {
        background-color: var(--Myred3) !important;
    }
    ._abyk,
    ._ab85,
    ._ab83,
    ._aav4._aav5,
    [class="x9f619 x78zum5 x1c4vz4f xs83m0k xdl72j9 x1q0g3np x1a2a7pz x67bb7w x1n2onr6 x2lwn1j xeuugli"],
    [class="_ab8w  _ab94 _ab97 _ab9f _ab9m _ab9p  _ab9_ _abab _abcm"],
    [class=" _ab8s _ab8w  _ab94 _ab99 _ab9f _ab9m _ab9o _abcm"],
    [class=" x1cy8zhl x9f619 x78zum5 xdt5ytf x1gvbg2u x1y1aw1k xn6708d xx6bls6 x1ye3gou xvbhtw8 x1xgvd2v x1o5hw5a xaeubzz"],
    ._aa61 {
        background-color: var(--Mygray2) !important;
    }
    [class="xvbhtw8 xvb8j5 x9f619 x78zum5 xdt5ytf x1dr59a3 x1odjw0f xish69e x1y1aw1k x4uap5 xwib8y2 xkhd6sd xzmilaz x168nmei xoqspk4 x12v9rci xo71vjh x1n2onr6 x1zvrr1"] {
        background-color: var(--Mygray3) !important;
    }
    ._aa61 {
        border: 1px solid var(--MyW) !important;
    }
    svg._ab6-,
    svg._ab6->line,
    svg._ab6->path,
    svg._ab6->polygon,
    svg._ab6->polyline,
    svg._ab6->circle {
        color: var(--Mygreen1) !important;
    }
    svg[class="x1lliihq x1n2onr6 x1hfr7tm"],
    svg._ab6-[aria-label="Home"],
    svg._ab6-[aria-label="Carousel"] {
        color: var(--Mygreen1) !important;
        fill: var(--Mygreen1) !important;
    }
    [class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xl565be xo1l8bm x5n08af xtoi2st xw06pyt x10wh9bi x1wdrske x8viiok x18hxmgj"] {
        width: 100px !important;
    }
    .x1l895ks:hover {
        background-color: var(--MyX1) !important;
    }
    article {
        border: 10px solid var(--Myred3) !important;
    }
    [class="_aatk _aatl"],
    [class="_ab8w  _ab94 _ab99 _ab9f _ab9k _ab9p _ab9r _abaj _abcm"],
    [class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9o _abcm"],
    [class=" _ab6k _ab6m _aggc _aatb _aatc _aate _aatf _aati"],
    [class="_aac4 _aac5 _aac6 _aj3f"],
    [class="_aacl _aaco _aacu _aacx _aad6 _aade"],
    [class="_aamu _ae3_ _ae40 _ae41 _ae48 _agge"],
    [class=" _ab6k _ab6m _aggc _aatb _aatc _aate _aatf _aath _aati"],
    ._ae2s._ae3w._aggd,
    [class="_ab8w  _ab94 _ab97 _ab9i _ab9k _ab9p _abcm"] {
        background-color: var(--Myred3) !important;
    }
    [class="_aacl _aaco _aacu _aacy _aad6 _aade"] {
        text-align: center !important;
    }
    [class="_aacl _aaco _aacu _aacy _aad6 _aade"] {
        color: var(--Myyellow1) !important;
    }
    [class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _aa-z _aa-- _ac_u _a6hd"] {
        border-top-color: var(--Mygreen1) !important;
    }
    [class="_acbv _acbw _acbx _acby"] {
        border-bottom-color: var(--Mygreen1) !important;
    }
    [class="_aacl _aacp _aacu _aacx _aada"] {
        background-color: transparent !important;
    }
}
