/* ==UserStyle==
@name         LurkAndPerv Dark
@namespace    https://danamw.github.io/Scripts/scripts/LurkAndPerv.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/Scripts/scripts/LurkAndPerv.user.css
@version      0.0.4
@description  LurkAndPerv Dark
@author       Dana Meli
@homepageURL  https://danamw.github.io
==/UserStyle== */

@-moz-document domain("lurkandperv.com") {
    div[id="bannerenclosure"],
    div[id="lbx_light"],
    div[id="lbx_fade"] {
        display: none !important;
    }
    body {
        color: var(--Mytext) !important;
        background-color: var(--Myback) !important;
    }
}