/* ==UserStyle==
@name         MicroSoft Dark
@namespace    https://danamw.github.io/scripts/scripts/MicroSoftDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/MicroSoftDark.user.css
@version      0.0.40
@description  Trying to fix shit.
@author       Dana Meli
@homepageURL  https://danamw.github.io
==/UserStyle== */

@-moz-document domain("microsoft.com"),
domain("account.microsoft.com"),
domain("support.microsoft.com") {
    .ng-scope.survey-background,
    #c-uhf-nav-cta,
    #bannerAboveUHF,
    #msccBanner,
    .c-uhfh-alert {
        /* f-information epb-container epb-default-color */
        display: none !important;
    }
    nav#topNav.topNav,
    .ms-Stack,
    #picture-editor-owner,
    .jumbotron {
        background-image: none !important;
        background-color: transparent !important;
    }
    #home-index,
    #root,
    .ms-Stack.css-220,
    .ms-Stack.css-168,
    .swim,
    #page-wrapper,
    #home-index,
    .dpr-join-form-wrap,
    #featured,
    #primary,
    .fusion-fullwidth,
    .hub-grey-box,
    #page,
    .shell-footer,
    .lia-quilt,
    html,
    body {
        background-color: var(--MyB) !important;
        color: var(--MyW) !important;
    }
    dd,
    dt,
    strong,
    span {
        color: var(--MyW) !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    .mr-10.pb-10.pb-0-sm.x-hidden-focus {
        color: var(--Mygreen1) !important;
    }
    .internav a,
    tr[id^="69fc5dcc"],
    tr[id^="c5c6d034"],
    tr[id^="7a97d557"],
    tr[id^="1993515d"],
    a.c-logo,
    a[id*="shellmenu_"],
    a#shellmenu_0,
    a#shellmenu_1,
    a#shellmenu_2,
    a#shellmenu_3,
    a#shellmenu_4,
    a#l1_support,
    [id^="-navigation"].x-hidden-focus,
    li>button[id*="-navigation"],
    #Software-navigation,
    .tag-cloud-link,
    div[class^="dropdown"],
    a[id^="showAddTag"],
    a[id^="link"],
    .lia-button {
        background-image: -moz-linear-gradient(top, var(--Mygray1), var(--Mygray3)) !important;
    }
    .entry-box.container,
    .entry-area,
    .tab-pane,
    ul.children,
    .comment-content,
    form {
        background-color: transparent !important;
    }
    input#cli_shellHeaderSearchInput {
        border: 2px solid !important;
        border-radius: 25px !important;
        border-color: var(--MyW) !important;
        color: var(--MyW) !important;
        text-align: center !important;
    }
    h4 {
        color: var(--Myred1) !important;
    }
    ul>li,
    ul>li a {
        color: var(--MyW) !important;
    }
    .internav a:hover,
    .current,
    a[id*="shellmenu_"]:hover,
    a#shellmenu_0:hover,
    a#shellmenu_1:hover,
    a#shellmenu_2:hover,
    a#shellmenu_3:hover,
    a#shellmenu_4:hover,
    a#l1_support:hover,
    [id^="-navigation"]:hover,
    li>button[id*="-navigation"]:hover,
    #Software-navigation:hover,
    .tag-cloud-link:hover,
    div[class^="dropdown"]:hover,
    a[id^="showAddTag"]:hover,
    a[id^="link"]:hover,
    .lia-button:hover {
        background-image: -moz-linear-gradient(top, var(--Myred1), var(--Myred3)) !important;
        color: var(--MyW) !important;
    }
    .span.lia-paging-page-link,
    span.lia-paging-page-link a {
        background-color: transparent !important;
        text-decoration: none !important;
    }
    .mectrl_currentAccount,
    .itemRow.editorPickedItem,
    .f-multi-column.f-multi-column-6 {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    mee-banner .amc-banner {
        background-image: none !important;
    }
    mee-banner .amc-banner,
    list-card-content,
    simple-card-content,
    .vscom-banner,
    .swim.swim-gray.pt-60.pb-30.pb-0-sm,
    .alert,
    #headerRow,
    .f-multi-column-info {
        background-color: var(--Myred3) !important;
        color: var(--MyW) !important;
    }
    table td {
        background-color: transparent !important;
    }
    table tbody .oddRow {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    .unified-baseball-card,
    table tbody .evenRow {
        background-color: var(--Mygray2) !important;
        color: var(--MyW) !important;
    }
    form {
        background: transparent !important;
    }
    .section,
    div[id*="category-0-subcategory-"],
    input {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    .background-light-grey,
    #dropdownmenuitems {
        background-color: var(--Mygray3) !important;
    }
    .lia-link-navigation:hover {
        background-color: var(--Myred1) !important;
        color: var(--MyW) !important;
    }
    .resultsBackGround,
    td[id^="header_C"] a,
    .dataGridFixedHeader1,
    .lia-panel-content-wrapper,
    .lia-panel-heading-bar {
        background-color: var(--Mygray2) !important;
    }
    .mectrl_headertext,
    p,
    h3,
    a {
        color: var(--MyW) !important;
    }
    h2,
    #ctl00_textTitleMaster,
    a:hover {
        color: var(--Myred1) !important;
    }
    h3,
    .left-container {
        background-color: var(--Myback);
    }
    blockquote,
    .m-card.thread-message-content,
    .thread-message,
    #threadSummarySideBar {
        background-color: var(--Mygray3) !important;
    }
    .message,
    #BodyBackground,
    #threadBottomSection {
        background-color: var(--Myback) !important;
    }
    .mectrl_bodyHeader,
    tr[id^="1993515d-09f1"],
    .moniker-picker,
    li.selectedHolder,
    a.selected {
        background-color: var(--Myred2) !important;
        color: var(--MyW) !important;
    }
    pre,
    code {
        background-color: var(--Mygray2) !important;
        color: var(--Mytext) !important;
    }
    .codeHeader {
        background-color: var(--Myred2) !important;
        color: var(--MyW) !important;
    }
    .mscom-accordion-item-image {
        border-radius: 50% !important;
    }
    .mscom-accordion-item-image:hover,
    .mscom-accordion-item-image {
        background-image: none !important;
    }
    li>a.topNavDropdownTrigger,
    li>a.topNavDropdownLink,
    a.mectrl_resetStyle.mectrl_signout.mectrl_truncate,
    a.mectrl_resetStyle.primaryAction.signIn,
    #edit-picture-remove,
    a.ms-Link,
    .mscom-accordion-item-image,
    .button-flat.button-main,
    .c-hyperlink,
    li[class*="exampleComboPopup2-item"],
    li[role="menuitem"],
    .msame_Header_name,
    a#uhfLogo,
    a#uhfCatLogo,
    .vscom-banner-button-link,
    a.button,
    a.c-uhf-nav-link,
    a.toplink,
    a.fusion-button,
    .c-call-to-action.c-glyph,
    .btn,
    .auth-main.docs-sign-in,
    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-top: 1px solid var(--Myred2) !important;
        border-left: 1px solid var(--Myred2) !important;
        border-bottom: 1px solid var(--Myred3) !important;
        border-right: 1px solid var(--Myred3) !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    li>a.topNavDropdownTrigger:hover,
    li>a.topNavDropdownLink:hover,
    a.mectrl_resetStyle.mectrl_signout.mectrl_truncate:hover,
    a.mectrl_resetStyle.primaryAction.signIn:hover,
    #edit-picture-remove:hover,
    a.ms-Link:hover,
    .mscom-accordion-item-image:hover,
    .button-flat.button-main:hover,
    .c-hyperlink:hover,
    li[class*="exampleComboPopup2-item"]:hover,
    li[role="menuitem"]:hover,
    .msame_Header_name:hover,
    a#uhfLogo:hover,
    a#uhfCatLogo:hover,
    .vscom-banner-button-link:hover,
    a.button:hover,
    #c-uhf-nav-cta:hover,
    a.toplink:hover,
    a.fusion-button:hover,
    .c-call-to-action.c-glyph:hover,
    .btn:hover,
    .auth-main.docs-sign-in:hover,
    button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-top: 1px solid var(--Myred3) !important;
        border-left: 1px solid var(--Myred3) !important;
        border-bottom: 1px solid var(--Myred2) !important;
        border-right: 1px solid var(--Myred2) !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    li>a.topNavDropdownTrigger:active,
    li>a.topNavDropdownLink:active,
    a.mectrl_resetStyle.mectrl_signout.mectrl_truncate:active,
    a.mectrl_resetStyle.primaryAction.signIn:active,
    #edit-picture-remove:active,
    a.ms-Link:active,
    .mscom-accordion-item-image:active,
    .button-flat.button-main:active,
    .c-hyperlink:active,
    li[class*="exampleComboPopup2-item"]:active,
    li[role="menuitem"]:active,
    .msame_Header_name:active,
    a#uhfLogo:active,
    a#uhfCatLogo:active,
    .vscom-banner-button-link:active,
    a.button:active,
    #c-uhf-nav-cta:active,
    a.toplink:active,
    a.fusion-button:active,
    .c-call-to-action.c-glyph:active,
    .btn:active,
    .auth-main.docs-sign-in:active,
    button:active {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-top: 1px solid var(--Mygreen2) !important;
        border-left: 1px solid var(--Mygreen2) !important;
        border-bottom: 1px solid var(--Mygreen3) !important;
        border-right: 1px solid var(--Mygreen3) !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
        /* color: #117722 */
    }
    .pi-page-bar,
    .auth-control,
    .logo,
    #pmg-global-header,
    .theme-light.js-global-head.f-closed.global-head-cont.x-hidden-focus,
    .global-head-cont,
    #headerUniversalHeader,
    #headerRegion,
    #headerAreaHolder,
    header {
        background: transparent !important;
        background-color: transparent !important;
    }
    #CenterRegion,
    .pi-page-bar,
    #pmg-global-header,
    header:not([role="banner"]) {
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
    }
    .c-uhff-base,
    footer {
        background-color: var(--Myback) !important;
        color: var(--MyW) !important;
    }
    .community-header-component {
        background-color: var(--Myred2) !important;
    }
    #sidebarContent,
    ul[role="tree"] {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    .note,
    #meControlDropdown {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myborder) !important;
    }
    .msame_TxtTrunc {
        color: var(--MyW) !important;
    }
    .community-menu-item:hover {
        background-color: var(--Myred1) !important;
    }
    .x-hidden-focus,
    [role="alert"],
    mee-alert,
    .settings-table,
    div[id*="home\.cards\.card"],
    div[id*="security.cards"],
    .c-channel-placement-content,
    .pi-content,
    .mscom-link.mscom-accordion-item-link:hover,
    .row-fluid.title,
    .row-fluid.banner,
    th,
    .input-group-text,
    h3[class*="c-heading"],
    #divTerms,
    .roledoc,
    .exampleComboPopup2>p,
    .exampleComboPopup2 {
        background-image: none !important;
        background-color: transparent !important;
    }
    .msame_Header {
        background-color: transparent !important;
    }
    div[id*="home\.cards\.card"],
    div[id*="security.cards"],
    .pi-content,
    .input-group-text,
    .inside-dialog,
    .roledoc,
    .exampleComboPopup2>p,
    .alert.is-info,
    th,
    .card,
    .card-body {
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
        color: var(--MyW) !important;
    }
    .c-channel-placement-content,
    #divTerms,
    .exampleComboPopup2,
    .entry-area {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    .card-title {
        color: var(--Mygreen1) !important;
    }
    .timeline-TweetList {
        background-color: var(--Mygray2) !important;
    }
    .timeline-Header {
        background-color: var(--Myred2) !important;
        color: var(--MyB) !important;
    }
    .form-control,
    .input-group.direct-link,
    .copy-box {
        background-color: var(--MyB) !important;
    }
    td>h3 {
        color: var(--TwitterBlue) !important;
    }
    h2 .row-fluid div[class="span bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1"] {
        color: var(--TwitterRed) !important;
    }
    .mscom-link.mscom-accordion-item-link:hover {
        background-color: var(--MyX1) !important;
    }
    div[class*="c-heading"] {
        color: var(--TwitterRed) !important;
    }
    h3[class*="c-subheading"] {
        background-color: transparent !important;
    }
    a.ms-Button.ms-Button--action.ms-Button--command:hover,
    .ms-Stack.css-340:hover {
        background-color: var(--MyX1) !important;
    }
    .mectrl_tooltip {
        background-color: var(--MyX1) !important;
        color: var(--MyW) !important;
    }
}