/* ==UserStyle==
@name         OneDrive Dark
@namespace    http://danamw,github.io/scripts/scripts/OneDriveDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/OneDriveDark.user.css
@version      0.0.18
@author       Dana Meli
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
==/UserStyle== */

@-moz-document domain("onedrive.live.com") {
    .LeftNav-subLinksAsComponent .od-PremiumUpsellBanner.od-PremiumUpsellBanner--cursor {
        display: none !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    span[data-automationid="name"] {
        color: var(--MyW) !important;
    }
    span,
    #c_ln h2,
    h3,
    label,
    span[data-bind*="text"],
    p,
    a {
        color: var(--MyW) !important;
    }
    .od-PhotoPreferences-title,
    label:hover,
    h1,
    span.od-LeftNav-linkGroupHeaderTitle,
    a:hover {
        color: var(--Myred1) !important;
    }
    .SharerHeader-title,
    h2 {
        color: var(--TwitterBlue) !important;
    }
    div[role="alert"]>div {
        color: var(--TwitterRed) !important;
    }
    div[data-automationid="DetailsRow"],
    .StorageOptions-newPage-plans,
    div[data-bind*="css"] {
        background-color: var(--Myback) !important;
        color: var(--MyW) !important;
    }
    .od-MessageBar-content {
        background-color: var(--Myred2) !important;
        color: var(--MyW) !important;
        /**/
    }
    .ms-DetailsHeader {
        background-color: var(--Myred3) !important;
    }
    span[class*="ms-DetailsHeader-cellName"],
    div[data-automationid="DetailsHeader"] {
        color: var(--MyW) !important;
    }
    div[data-automationid="FieldRenderer-name"],
    .ms-Tile,
    .LeftPane,
    body {
        background-color: var(--Myback) !important;
        color: var(--MyW) !important;
    }
    #c_ln,
    div[class*="od-PlanCard"] {
        background-color: var(--Mygray2) !important;
    }
    div[class*="nameField"],
    .c_clogo,
    #c_cb0,
    #c_header,
    a[role="link"],
    button#allAppsLink,
    #appLauncher {
        background-image: none !important;
        background-color: transparent !important;
    }
    #c_cb0,
    #c_header,
    div[id*="NavHeader"],
    #SuiteNav-0 {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    div.StorageOptions-marketDropdown.od-Dropdown {
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        background-image: none !important;
    }
    button#allAppsLink,
    #c_clogoc,
    li a.c_gl,
    input[type="button"],
    input[type="submit"],
    div.StorageOptions-marketDropdown.od-Dropdown,
    .o365cs-nav-appTileBackground,
    a[class*="contextMenuItem"],
    a.LeftNav-subLink,
    a[role="link"],
    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    #appLauncherTop,
    span[id*="header"]:hover,
    button#allAppsLink:hover,
    #c_clogoc:hover,
    li.active a.c_gl,
    li a.c_gl:hover,
    input[type="button"]:hover,
    input[type="submit"]:hover,
    div.od-Dropdown:hover,
    .o365cs-nav-appTileBackground:hover,
    a[class*="contextMenuItem"]:hover,
    a.LeftNav-subLink:hover,
    a.LeftNav-subLink[aria-selected="true"],
    a[role="link"]:hover,
    button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    button#allAppsLink:active,
    #c_clogoc:active,
    li a.c_gl:active,
    input[type="button"]:active,
    input[type="submit"]:active,
    div.od-Dropdown:active,
    .o365cs-nav-appTileBackground:active,
    a[class*="contextMenuItem"]:active,
    a.LeftNav-subLink:active,
    a.LeftNav-subLink[aria-selected="true"]:active,
    a[role="link"]:active,
    button:active {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    .od-TopBar-item.od-TopBar-commandBar.od-BasePage-commandBar {
        background-color: var(--Myred3) !important;
        color: var(--MyW) !important;
    }
    .ProgressBar-value.ProgressBar-value--under {
        background-color: var(--Myred1) !important;
    }
    .ProgressBar-track,
    div.od-QuotaBar div.od-QuotaBar-total,
    div[role="menubar"] {
        background-color: var(--Myred3) !important;
        color: var(--Myred3) !important;
    }
    div.od-QuotaBar div.od-QuotaBar-used {
        background-color: var(--Myred1) !important;
        color: var(--Myred1) !important;
    }
    form[class*="ms-suiteux-search-box"] {
        color: var(--MyW) !important;
    }
    div.InfoPane-itemDetails-name,
    dt {
        color: var(--Myred1) !important;
        background-color: transparent !important;
    }
    .InfoPane-itemDetails-sizeAndDate,
    dd {
        color: var(--MyW) !important;
    }
    .od-SearchBox,
    div[role="dialog"] {
        background-color: var(--Mygray2) !important;
        color: var(--MyW) !important;
    }
    input,
    .ms-TextField,
    textarea,
    .od-SharingSection-PermissionsPile {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
    }
    input[role="combobox"] .ms-TextField {
        border-radius: 15px !important;
        background-color: transparent !important;
    }
    .od-FolderCoverTile,
    .od-ItemActivityFeed-noActivities,
    form[aria-label="Search everything"] {
        background-image: none !important;
        background-color: transparent !important;
    }
    #uxp_ftr_control,
    .LeftNav-fadient::after {
        display: none !important;
    }
    .contextMenuPopup {
        background-color: var(--Mygray2) !important;
        color: var(--MyW) !important;
    }
    div[aria-label="App launcher opened"] {
        background-color: var(--Mygray2) !important;
        color: var(--MyW) !important;
    }
    div[class*="od-DetailsPane"],
    .od-FolderCoverTile,
    .InfoPaneSection--preview,
    .od-DetailsPane-SecondaryPane,
    .od-DetailsPane-PrimaryPane,
    #appLauncherMainView,
    [role="region"] {
        background-color: var(--Mygray1) !important;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    .od-Share,
    div[class*="ms-Callout"],
    .ms-Tooltip,
    .od-DetailsPane-PrimaryPane-header,
    .od-StandardDialog,
    [role="gridcell"] {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    .od-QuotaBar-total {
        border-color: var(--Myred3) !important;
    }
    .od-QuotaBar-used {
        border-color: var(--Myred1) !important;
    }
    .m_YdpO5_33Q22e4K9wQQN,
    #leftRegion {
        background-color: transparent !important;
        background-image: none !important;
    }
    div[class="ms-TextField-fieldGroup"] {
        background: transparent !important;
    }
    [role="listbox"],
    div[id*="ms-searchux-popup"] {
        background-color: var(--Mygray3) !important;
    }
}