/* ==UserStyle==
@name         Pinterest Dark
@namespace    https://danamw.github.io/scripts/scripts/PinterestDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/PinterestDark.user.css
@version      0.0.21
@author       Dana L. Meli-Wischman
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
@preprocessor default
@var range smove "Move Top Right"[0, 0, 1000, 5, "px"]
==/UserStyle== */

@-moz-document domain("pinterest.com"),
regexp("^https?:\\/\\/(www|[a-z]{2})\\.pinterest\\.(com(\\.(au|mx))?|(co\\.uk)|ca|se|jp|fr|de|es|ch|dk|nz|ch|ie|pt|ru)\\/.*") {
    .Jea.TpD.XiG.hs0.mQ8.qJc.zI7.iyn.Hsu,
    html,
    body {
        background: var(--MyBack) !important;
        color: var(--MyW) !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    .QDA.qJc.zI7.iyn.Hsu,
    .Yl-.MIw.Hb7 {
        background-color: var(--Myred3) !important;
        color: var(--MyW) !important;
    }
    .tBJ,
    .tBJ.dyH.iFc.SMy.MF7.pBj.DrD.IZT.swG,
    span,
    h4,
    h5,
    a {
        color: var(--MyW) !important;
        text-decoration: none !important;
    }
    a:hover {
        color: var(--Myred1) !important;
        text-decoration: none !important;
    }
    h1 {
        color: var(--TwitterBlue) !important;
    }
    div[class="tBJ dyH iFc MF7 pBj DrD swG"] {
        color: var(--TwitterPink) !important;
    }
    div[style*="display"],
    form[name="search"] {
        background-color: transparent !important;
        border: none !important;
        border-bottom-color: transparent !important;
    }
    input.SearchBoxInput {
        position: relative;
        width: 700px !important;
        left: var(--smove);
    }
    .ujU.zI7.iyn.Hsu,
    .SearchBoxInputExperimental:hover {
        background-color: transparent !important;
    }
    .ujU.zI7.iyn.Hsu input.SearchBoxInputExperimental {
        width: 700px !important;
    }
    .ujU.zI7.iyn.Hsu input.SearchBoxInputExperimental,
    input[name="q"] {
        background-color: var(--Mygray3) !important;
        border-radius: 25px !important;
        border: 1px solid var(--Myborder) !important;
        color: var(--MyW) !important;
        text-align: center !important;
    }
    .ReactBoardInfoBar,
    .fixedHeader,
    .appContent {
        background-color: var(--Myred3) !important;
    }
    /*
    [class="Eqh fev zI7 iyn Hsu"],
    #searchBoxContainer {
        width: 50% !important;
        min-width: 0px !important;
    }
    */
    #searchBoxContainer,
    .gpV.zI7.iyn.Hsu {
        background-color: transparent !important;
    }
    .qJc.xcv.L4E.zI7.iyn.Hsu,
    .HeaderContent,
    .qJc.xcv.L4E.zI7.iyn.Hsu {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: none !important;
        background: transparent !important;
        background-color: transparent !important;
    }
    .jzS.un8.TB_,
    .qJc.xcv.L4E.zI7.iyn.Hsu,
    .HeaderContent,
    .qJc.xcv.L4E.zI7.iyn.Hsu {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        border: none !important;
    }
    .C9q.Jea.Shl.gjz.jzS.mQ8.zI7.iyn.Hsu {
        border-radius: 50% !important;
    }
    .C9q.Jea.Shl.gjz.jzS.mQ8.zI7.iyn.Hsu:hover,
    .Jea.gjz.hA-.hs0.mQ8.wYR.zI7.iyn.Hsu:hover,
    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid var(--MyB) !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    .DUt:hover,
    .C9q.Jea.Shl.gjz.jzS.mQ8.zI7.iyn.Hsu:hover,
    button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--MyX1) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    div[class="Jea XiG jzS ujU zI7 iyn Hsu"] {
        background-image: none !important;
        background-color: transparent !important;
    }
    .pinWrapper [style*="background-color: rgb(0, 0, 0); opacity: 0.3"] {
        opacity: 0 !important;
    }
    .MIw.QLY.Rym.ojN.p6V.zI7.iyn.Hsu:hover {
        box-shadow: 0px 3px 4px 5px var(--Myred1) !important;
    }
    .XiG.zI7.iyn.Hsu {
        z-index: 10000;
    }
    img[src="https://i.imgur.com/N7XY1gz.png"] {
        filter: invert(1) !important;
    }
    .underlineLink,
    h2,
    h3 {
        color: var(--Myred1) !important;
        text-decoration: none !important;
    }
    .value,
    ._w7 {
        color: var(--MyW) !important;
    }
    .tBJ.dyH.iFc.SMy.MF7.pBj.DrD.IZT.mWe.z-6 {
        color: var(--Myred1) !important;
        text-decoration: none !important;
    }
    #SuggestionsMenu[role="listbox"] {
        background-image: none !important;
        background-color: transparent !important;
    }
    div[class="VxL XiG ho- qJc wc1 zI7 iyn Hsu"] .zI7.iyn.Hsu,
    #SuggestionsMenu[role="listbox"],
    .Jea.fev.zI7.iyn.Hsu,
    .Jea.fev.gpV.zI7.iyn.Hsu {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    div[class="Fje Jea jzS wYR zI7 iyn Hsu"],
    div[class="Dl7 SpV m8d ho- ygj _O1 XbT DHH kFh"] {
        background-color: var(--Mygray1) !important;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    div[class="Jea gjz hA- wYR zI7 iyn Hsu"],
    div[class="Jea XiG jzS ujU zI7 iyn Hsu"] {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    textarea {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
    }
    input {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
        text-align: center !important;
    }
    svg.gUZ.pBj.U9O.kVc>path,
    svg.Hn_.gUZ.pBj.U9O.kVc>path {
        filter: invert(1) !important;
    }
    a.Wk9.xQ4.CCY.czT.ho-.kVc.DI9.BG7 {
        background-color: var(--Myred1) !important;
    }
}