/* ==UserStyle==
@name         Politico Dark
@namespace    https://danamw.github.io/scripts/scripts/PoliticoDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/PoliticoDark.user.css
@version      0.0.10
@author       Dana Meli
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
==/UserStyle== */

@-moz-document domain("politico.com") {
    div[class*="container"],
    #main,
    .super {
        background-color: var(--Myback) !important;
        color: var(--MyW) !important;
    }
    #js-top-header,
    .global-header {
        height: 75px;
        background-color: var(--Myred3) !important;
    }
    .bt-icon.bt-icon--politico.is-emphasized {
        margin-top: -50px !important;
    }
    .hamburger {
        filter: invert(1);
    }
    .hamburger:hover {
        filter: invert(0.5);
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    p,
    a {
        color: var(--MyW) !important;
    }
    .headline,
    span[itemprop="headline"],
    a:hover {
        color: var(--Myred1) !important;
    }
    p.subhead {
        color: var(--Myred2) !important;
    }
    .row {
        background-color: var(--Mygray2) !important;
    }
    section {
        background-image: none !important;
        background-color: transparent !important;
    }
    .pop-up-bar.is-stuck,
    footer,
    .user-tools,
    .promo {
        display: none !important;
    }
    .widget-content,
    li a::after {
        background-color: var(--Myred3) !important;
    }
    #search-input,
    input {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        text-align: center !important;
    }
}