/* ==UserStyle==
@name         Popoholic Dark
@namespace    https://danamw.github.io/scripts/scripts/PopoholicDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/PopoholicDark.user.css
@version      0.0.8
@description  Popoholic Tweaks
@author       Dana L. Meli-Wischman
@homepageURL  https://danamw.github.io
==/UserStyle== */

@-moz-document domain("popoholic.com") {
    body {
        background-color: var(--Myback) !important;
        color: var(--Mytext) !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
}