/* ==UserStyle==
@name         Portable Freeware
@namespace    https://danamw.github.io/scripts/scripts/PortableFreeware.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/PortableFreeware.user.css
@version      0.0.5
@author       Dana Meli
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
==/UserStyle== */

@-moz-document domain("portablefreeware.com") {
    container-wrap,
    body,
    html {
        background-color: var(--Myback) !important;
        color: var(--MyW) !important;
        background-image: none !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    .date,
    a {
        color: var(--MyW) !important;
        text-decoration: none !important;
    }
    h2,
    .italic,
    .version,
    a:hover {
        color: var(--Myred1) !important;
        text-decoration: none !important;
    }
    span {
        color: var(--Mygreen1) !important;
    }
}