/* ==UserStyle==
@name         Post News Dark
@namespace    http://danamw.github.io/scripts/scripts/PostNewsDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/PostNewsDark.user.css
@version      0.0.9
@author       Dana Meli
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
==/UserStyle== */

@-moz-document domain("post.news"),
url-prefix("https://launcher.spot.im/"),
url-prefix("https://js.stripe.com/") {
    html,
    body {
        background-color: var(--MyB) !important;
    }
    .stock {
        display: none !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
        border-color: var(--Myred1) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    .c-FHWXc-dTWEjN-hierarchy-PRIMARY_DARK,
    .c-FHWXc-Pbzoi-hierarchy-PRIMARY,
    .c-gnsQwv {
        background-color: transparent !important;
        background-image: none !important;
    }
    p,
    a {
        color: var(--MyW) !important;
        background-color: transparent !important;
    }
    a:hover {
        color: var(--Myred1) !important;
        text-decoration: none !important;
    }
    .c-hamjEZ,
    .c-dBPcrW,
    .c-fkMsLp,
    h1 {
        color: var(--TwitterBlue) !important;
    }
    span,
    h2 {
        color: var(--TwitterRed) !important;
    }
    small {
        color: var(--TwitterPink) !important;
    }
    time {
        color: var(--Myyellow1) !important;
    }
    .c-FHWXc-hQDKtx-hierarchy-TERTIARY,
    p,
    * p,
    h3,
    h4,
    h5,
    strong {
        color: var(--MyW) !important;
    }
    .c-cdQeth>span>svg>polyline,
    img[alt="Tip button icon"],
    .c-cdQeth>span>svg {
        filter: invert(1) !important;
    }
    a.c-cdQeth,
    button[id*="radix"],
    span[role="button"],
    a.c-bqseKE,
    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    a.c-cdQeth:hover,
    button[id*="radix"]:hover,
    a.c-bqseKE:hover,
    button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    a.c-cdQeth:active,
    button[id*="radix"]:active,
    a.c-bqseKE:active,
    button:active {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    .stock {
        background-image: none !important;
        background-color: transparent !important;
    }
    header,
    .stock_navbar {
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
    }
    div[class*="Menu"],
    li.c-iQSkIN,
    .c-jnGYto.c-jUkCYw {
        background-color: var(--Mygray1) !important;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    .c-jvqXaZ,
    .c-jnGYto.c-jUkCYw[class*="activeTab-true"],
    h2[class*="c-dAqCK"] {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    textarea {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
    }
    input {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
        text-align: center !important;
    }
    .tooltip {
        background-color: var(--MyX1) !important;
        opacity: 0.4;
        color: var(--MyW) !important;
        padding: 8px;
        border-radius: 2px;
        border: 1px solid var(--MyW) !important;
    }
    h2[class*="c-dAqCK"] {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .c-ilLoxd {
        background-color: var(--MyB) !important;
    }
    article {
        background: var(--Mygray3) !important;
    }
    .c-PJLV:hover {
        border: 1px solid var(--Myred1) !important;
    }
    [class="embedly-block false c-PJLV c-PJLV-foJpPP-isGif-false"]:hover {
        background-color: var(--MyX1) !important;
    }
    article:hover {
        background: var(--Mygray2) !important;
    }
    .c-foJpPP {
        transition: none !important;
    }
    article:hover .c-foJpPP {
        background-color: var(--MyX1) !important;
    }
    .c-fOFkuT {
        background-color: var(--Mygray2) !important;
        border: 2px ridge var(--MyW) !important;
    }
    .c-iQreDs,
    .c-foFVYh,
    .c-bITVNu,
    .c-jaySyu,
    .c-fSoVva,
    [role="tabpanel"],
    .c-furorF,
    .c-gnsQwv,
    [class*="EmptyState"] {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    label {
        background-color: var(--Mygray2) !important;
        color: var(--MyW) !important;
    }
    h2[class*="c-dAqCK"] {
        color: var(--MyW) !important;
    }
    .c-jnGYto.c-jUkCYw[class*="activeTab-true"]::after {
        background-color: var(--Mygreen1) !important;
        color: var(--Mygreen1) !important;
        border-color: var(--Mygreen1) !important;
    }
    .c-jnGYto.c-jUkCYw[class*="activeTab-true"]:hover::after,
    .c-jUkCYw:hover::after {
        border-color: var(--Myred1) !important;
        background-color: var(--Myred1) !important;
    }
    .c-hxkEWD-ibfYWt-css {
        border-color: var(--Myred1) !important;
    }
    .c-jnGYto[data-state="active"]::after {
        border-color: var(--Mygreen1) !important;
    }
    .c-iQreDs,
    .c-foFVYh {
        border: 1px solid var(--MyW) !important;
    }
    .c-dVvJMv,
    li.c-jrOhEA::before {
        background-color: var(--Myyellow1) !important;
        color: var(--MyB) !important;
    }
    .c-diTqIq.c-diTqIq-kdaqIN-isActive-true {
        background-color: transparent !important;
        color: var(--Myyellow1) !important;
    }
}