:root {
    --spotim-action-font-weight: normal;
    --spotim-ads-text-color: #373e44;
    --spotim-background-color-empty-user-image: rgba(7, 7, 7, 0.2);
    --spotim-border-color: #e3e3e3;
    --spotim-border-color-muted: #00000014;
    --spotim-border-radius-buttons: var(--spotim-border-radius-medium);
    --spotim-border-radius-inputs: var(--spotim-border-radius-small);
    --spotim-border-radius-medium: 6px;
    --spotim-border-radius-modals: var(--spotim-border-radius-small);
    --spotim-border-radius-popovers: var(--spotim-border-radius-small);
    --spotim-border-radius-small: 4px;
    --spotim-box-shadow-medium: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    --spotim-brand-color: #688ffc;
    --spotim-brand-text-color: white;
    --spotim-card-background-color: white;
    --spotim-color-badge: var(--spotim-brand-color);
    --spotim-color-community-question: var(--spotim-color-scheme-l6);
    --spotim-color-scheme-g1: #ffffff;
    --spotim-color-scheme-g2: #000000;
    --spotim-color-scheme-g3: #35b940;
    --spotim-color-scheme-g4: #db3737;
    --spotim-color-scheme-g5: #3968ff;
    --spotim-color-scheme-l1: rgba(var(--spotim-color-scheme-l6-rgb, 7, 7, 7), 0.05);
    --spotim-color-scheme-l2: rgba(var(--spotim-color-scheme-l6-rgb, 7, 7, 7), 0.1);
    --spotim-color-scheme-l3: rgba(var(--spotim-color-scheme-l6-rgb, 7, 7, 7), 0.2);
    --spotim-color-scheme-l4: rgba(var(--spotim-color-scheme-l6-rgb, 7, 7, 7), 0.3);
    --spotim-color-scheme-l5: rgba(var(--spotim-color-scheme-l6-rgb, 7, 7, 7), 0.65);
    --spotim-color-scheme-l6: #070707;
    --spotim-color-scheme-l6-rgb: 7, 7, 7;
    --spotim-content-loader-primary-color: #f3f3f3;
    --spotim-content-loaders-secondary-color: #dddddd;
    --spotim-conversation-background-color: transparent;
    --spotim-conversation-max-width: 700px;
    --spotim-danger-color: #db3737;
    --spotim-extract-background-color: #ffffff;
    --spotim-font-family: Open Sans, Open Sans Hebrew, Arial;
    --spotim-font-family-action: var(--spotim-font-family);
    --spotim-font-family-badge: var(--spotim-font-family);
    --spotim-font-family-buttons: var(--spotim-font-family);
    --spotim-font-family-comments-count: var(--spotim-font-family-t4);
    --spotim-font-family-community-question: Open Sans, Open Sans Hebrew, Arial;
    --spotim-font-family-date-format: var(--spotim-font-family);
    --spotim-font-family-product-header: Open Sans, Open Sans Hebrew, Arial;
    --spotim-font-family-product-subheader: Open Sans, Open Sans Hebrew, Arial;
    --spotim-font-family-t1: var(--spotim-font-family);
    --spotim-font-family-t2: var(--spotim-font-family);
    --spotim-font-family-t3: var(--spotim-font-family);
    --spotim-font-family-t4: var(--spotim-font-family);
    --spotim-font-family-t5: var(--spotim-font-family);
    --spotim-font-family-t6: var(--spotim-font-family);
    --spotim-font-family-username: var(--spotim-font-family);
    --spotim-font-size-action: var(--spotim-font-size-medium);
    --spotim-font-size-badge: calc(9px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-buttons: var(--spotim-font-size-medium);
    --spotim-font-size-comments-count: var(--spotim-font-size-t4);
    --spotim-font-size-community-question: calc(24px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-date-format: var(--spotim-font-size-small);
    --spotim-font-size-large: calc(16px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-medium: calc(14px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-message-actions: calc(14px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-product-header: calc(24px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-product-subheader: calc(16px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-small: calc(13px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-t1: calc(24px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-t2: calc(20px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-t3: calc(18px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-t4: calc(15px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-t5: calc(13px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-t6: calc(12px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-tag-icon-large: calc(26px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-tag-icon-medium: calc(20px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-user-image: calc(15.6px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-username: var(--spotim-font-size-medium);
    --spotim-font-size-x-large: calc(24px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-x-small: calc(11px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-xx-large: calc(27px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-size-xx-small: calc(9px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-font-style-community-question: italic;
    --spotim-font-weight-bold: bold;
    --spotim-font-weight-comments-count: var(--spotim-font-weight-t4);
    --spotim-font-weight-community-question: 400;
    --spotim-font-weight-normal: 400;
    --spotim-font-weight-product-header: bold;
    --spotim-font-weight-product-subheader: 400;
    --spotim-font-weight-semibold: 600;
    --spotim-font-weight-username: var(--spotim-font-weight-bold);
    --spotim-input-background-color: #ffffff;
    --spotim-input-separator-color: #d4d6d7;
    --spotim-justify-content-community-question: flex-start;
    --spotim-letter-spacing-action: normal;
    --spotim-letter-spacing-badge: normal;
    --spotim-letter-spacing-body: normal;
    --spotim-letter-spacing-buttons: normal;
    --spotim-letter-spacing-date-format: normal;
    --spotim-letter-spacing-modal-body: normal;
    --spotim-letter-spacing-primary-button: normal;
    --spotim-letter-spacing-product-header: normal;
    --spotim-letter-spacing-product-subheader: normal;
    --spotim-letter-spacing-t1: normal;
    --spotim-letter-spacing-t2: normal;
    --spotim-letter-spacing-t3: normal;
    --spotim-letter-spacing-t4: normal;
    --spotim-letter-spacing-t5: normal;
    --spotim-letter-spacing-t6: normal;
    --spotim-letter-spacing-username: normal;
    --spotim-line-height-action: 24px;
    --spotim-line-height-date-format: 21px;
    --spotim-line-height-medium: 1.5;
    --spotim-line-height-product-header: 1.5;
    --spotim-line-height-product-subheader: 30px;
    --spotim-line-height-t1: 1.5em;
    --spotim-line-height-t2: 1.5em;
    --spotim-line-height-t3: 1.5em;
    --spotim-line-height-t4: 1.5em;
    --spotim-line-height-t5: 1.5em;
    --spotim-line-height-t6: 1.5em;
    --spotim-list-item-background: #f7f7f7;
    --spotim-list-item-foreground: #e5e6e6;
    --spotim-margin-top-whole-page-modal-header: 0px;
    --spotim-max-reading-width: 700px;
    --spotim-menu-z-index: 2147483647;
    --spotim-message-font-size-large: calc(21px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-message-font-size-regular: calc(14px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-message-font-size-small: calc(13px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-message-font-size-x-large: calc(24px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-message-font-size-x-small: calc(12px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-message-hover-menu-background-color: var(--spotim-color-scheme-g1);
    --spotim-message-letter-spacing: -0.01111em;
    --spotim-message-line-height: 1.67;
    --spotim-message-margins: 5px;
    --spotim-message-separator-color: #e3e3e3;
    --spotim-message-stack-margin: 15px;
    --spotim-message-text-color: #222222;
    --spotim-message-user-image-wrapper-margin: 10px;
    --spotim-modal-backdrop-background-color: rgba(255, 255, 255, 0.7);
    --spotim-modal-backdrop-color: rgba(0, 0, 0, 0.4);
    --spotim-modal-border-padding: 10px;
    --spotim-modal-border-radius: 10px 10px 0px 0px;
    --spotim-modal-full-width: calc(100vw - 80px);
    --spotim-modal-margin-top: initial;
    --spotim-modal-max-width: 1400px;
    --spotim-modals-backdrop-color: rgba(0, 0, 0, 0.4);
    --spotim-notifications-bell-margin-bottom: 30px;
    --spotim-notifications-bell-margin-side: 30px;
    --spotim-overlay-background-color: #ffffff;
    --spotim-overlay-border-color: transparent;
    --spotim-overlay-z-index: 2147483646;
    --spotim-page-background-color: white;
    --spotim-partner-navbar-height: 0px;
    --spotim-pitc-article-title-font-family: Open Sans, Open Sans Hebrew, Arial;
    --spotim-pitc-article-title-font-weight: 600;
    --spotim-pitc-header-color: black;
    --spotim-pitc-header-font-family: Open Sans, sans-serif;
    --spotim-pitc-header-font-size: calc(24px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-pitc-header-font-weight: bold;
    --spotim-pitc-header-line-height: normal;
    --spotim-pitc-top-comment-color: black;
    --spotim-pitc-top-comment-font-family: Open Sans, sans-serif;
    --spotim-pitc-top-comment-font-weight: 600;
    --spotim-progress-bar-background-color: #e5e6e6;
    --spotim-reactions-reaction-font-family: Open Sans, Open Sans Hebrew, Arial;
    --spotim-reactions-reaction-font-size: calc(11px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-reactions-reaction-font-weight: 400;
    --spotim-reactions-reaction-line-height: 38px;
    --spotim-reactions-reaction-text-color: #7b7f83;
    --spotim-reactions-title-color: black;
    --spotim-reactions-title-font-family: Open Sans, Open Sans Hebrew, Arial;
    --spotim-reactions-title-font-size: calc(18px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-reactions-title-font-weight: 700;
    --spotim-reactions-title-line-height: 30px;
    --spotim-rich-editor-font-size: calc(16px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-safeframe-modal-backdrop-color: rgba(255, 255, 255, 0.7);
    --spotim-say-control-action-color: #a8abae;
    --spotim-say-control-border: 1px solid var(--spotim-say-control-border-color, var(--spotim-color-scheme-l3));
    --spotim-say-control-border-color: #e3e3e3;
    --spotim-say-control-box-shadow: 0 0 0 1px var(--spotim-color-scheme-l3);
    --spotim-shadow-scheme-s1: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
    --spotim-skeleton-background-color: #e3e3e3;
    --spotim-skeleton-foreground-color: #f2f2f2;
    --spotim-spotlight-button-font-size: calc(12px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-spotlight-button-font-weight: 600;
    --spotim-spotlight-card-font-size: calc(16px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-spotlight-card-font-weight: 300;
    --spotim-spotlight-font-family: Open Sans, sans-serif;
    --spotim-spotlight-title-font-size: calc(24px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-spotlight-title-font-weight: bold;
    --spotim-star-color-empty: #e3e3e3;
    --spotim-star-color-full: var(--spotim-brand-color);
    --spotim-strong-border-color: #a8abae;
    --spotim-success-color: #35b840;
    --spotim-text-align-community-question: start;
    --spotim-text-color-action: var(--spotim-color-scheme-l5);
    --spotim-text-color-badge: var(--spotim-brand-text-color);
    --spotim-text-color-comments-count: var(--spotim-color-scheme-l5);
    --spotim-text-color-date-format: var(--spotim-color-scheme-l5);
    --spotim-text-color-default: black;
    --spotim-text-color-muted: #373e44;
    --spotim-text-color-product-header: #373e44;
    --spotim-text-color-product-subheader: #7b7f83;
    --spotim-text-color-tooltip: #ffffff;
    --spotim-text-color-x-muted: #7b7f83;
    --spotim-text-color-xx-muted: #a8abae;
    --spotim-text-transform-action: none;
    --spotim-text-transform-buttons: inherit;
    --spotim-text-transform-comments-count: var(--spotim-text-transform-t4);
    --spotim-text-transform-date-format: none;
    --spotim-text-transform-product-header: none;
    --spotim-text-transform-product-subheader: none;
    --spotim-text-transform-username: inherit;
    --spotim-user-image-border: none;
    --spotim-user-image-font-color: #373e44;
    --spotim-user-image-font-size: calc(15.6px + calc(var(--launcher--module-font-size-offset) * 1px));
    --spotim-user-image-font-weight: 400;
    --spotim-user-image-large: 54px;
    --spotim-user-image-line-height: 1.67;
    --spotim-user-image-medium: 42px;
    --spotim-user-image-normal: 39px;
    --spotim-user-image-small: 30px;
    --spotim-user-image-x_large: 64px;
    --spotim-user-image-x_small: 25px;
    --spotim-user-image-xx_large: 74px;
    --spotim-user-image-xxx_large: 114px;
    --spotim-user-name-font-family: var(--spotim-font-family);
    --spotim-warning-color: #fabb09;
    --spotim-brand-color-rgb: 104, 143, 252;
    --spotim-text-over-brand-color: white;
}