/* ==UserStyle==
@name         Stylus Dark
@namespace    https://danamw.github.io/scripts/scripts/StylusDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/StylusDark.user.css
@version      0.0.24
@description  Trying to fix shit.
@author       Dana Meli
@homepageURL  https://danamw.github.io
==/UserStyle== */

@-moz-document regexp("chrome-extension://.*"),
regexp("moz-extension://.*") {
    input[type="checkbox"] {
        background-color: var(--MyW) !important;
    }
    img[src="https://www.google.com/s2/favicons?domain=ello.co"],
    img[src="https://www.google.com/s2/favicons?domain=github.com"],
    svg[class="svg-icon select-arrow"] {
        filter: invert(1) !important;
    }
    /*
    h1#manage-heading::after {
        --installed: eval("document.querySelector('#installed').data-total");
        content: ' ';
        background: eval("document.querySelector('#installed').data-total");
        position: relative;
    }
    */
    * {
        text-decoration: none !important;
        scrollbar-width: thin;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
    h2.style-name {
        max-width: 700px !important;
        width: 500px !important;
    }
    /*
    html {
        scrollbar-color: var(--Myred1) var(--Myred3);
        scrollbar-width: thin;
    }
    */
    a.style-name {
        color: var(--Mygray1) !important;
    }
    .disabled h2::after {
        background-color: var(--MyX1) !important;
        color: var(--Mytext) !important;
    }
    p.actions {
        width: 200px !important;
        align-content: center !important;
    }
    a#unfile-all-styles,
    a#sync-dropbox-import,
    a#file-all-styles,
    a#sync-dropbox-export {
        background-image: -moz-linear-gradient(top, var(--Mygray1), var(--Mygray3)) !important;
    }
    a#unfile-all-styles:hover,
    a#sync-dropbox-import:hover,
    a#file-all-styles:hover,
    a#sync-dropbox-export:hover {
        background-image: -moz-linear-gradient(top, var(--Myred1), var(--Myred3)) !important;
        color: var(--MyW) !important;
    }
    h2.style-name:hover .style-name-link,
    .style-name-link:hover {
        color: var(--MyW) !important;
        text-shadow: 1px -1px 0 var(--MyB) !important;
    }
    span.target::before,
    span.target::after,
    span.target img {
        padding-right: 25px !important;
    }
    a.expander {
        padding-left: 25px !important;
    }
    .entry.Usercss .style-name-link::after {
        background-color: var(--Myred2) !important;
        float: right;
        padding-left: 25px !important;
        display: before;
    }
    #header {
        color: var(--Mytext) !important;
        border: 1px solid var(--Myborder) !important;
    }
    input {
        background-color: var(--MyB) !important;
        color: var(--Mytext) !important;
        border: 1px solid var(--MyW) !important;
    }
    .svg-icon:hover {
        -moz-animation: 1s infinite alternate flash;
        -webkit-animation: 1s infinite alternate flash;
        animation: 1s infinite alternate flash
    }
    @keyframes flash {
        0% {
            filter: brightness(0%)
        }
        25% {
            filter: brightness(25%)
        }
        50% {
            filter: brightness(50%)
        }
        75% {
            filter: brightness(75%)
        }
        100% {
            filter: brightness(100%)
        }
    }
    newUI .entry .style-name:hover::before,
    #filters-stats {
        background-color: var(--Myred2) !important;
    }
    select {
        color: var(--Mytext) !important;
        border: 1px groove var(--MyB) !important;
    }
    #installed::after {
        background-color: var(--Myback) !important;
    }
    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-top: 1px solid var(--Myred2) !important;
        border-left: 1px solid var(--Myred2) !important;
        border-bottom: 1px solid var(--Myred3) !important;
        border-right: 1px solid var(--Myred3) !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-top: 1px solid var(--Myred3) !important;
        border-left: 1px solid var(--Myred3) !important;
        border-bottom: 1px solid var(--Myred2) !important;
        border-right: 1px solid var(--Myred2) !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    button:active {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-top: 1px solid var(--Mygreen2) !important;
        border-left: 1px solid var(--Mygreen2) !important;
        border-bottom: 1px solid var(--Mygreen3) !important;
        border-right: 1px solid var(--Mygreen3) !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    body {
        color: var(--Mytext) !important;
    }
    newUI .entry .style-name:hover::before {
        filter: brightness(150%);
        background-color: var(--MyW) !important;
    }
    a,
    a:visited {
        color: var(--Mytext) !important;
    }
    #save-button {
        color: var(--MyB) !important;
    }
    #save-button:hover {
        opacity: .1;
    }
    #save-button:after {
        color: var(--MyB) !important;
        content: 'd' !important;
    }
    body.dirty #save-button {
        color: var(--MyW) !important;
    }
    #apply-all-updates,
    body.dirty #save-button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        box-shadow: inset 0 0 4px 0 var(--MyB) !important;
        border-bottom-color: var(--MyB) !important;
        border-top-color: var(--Mygray3) !important;
        border-right-color: var(--MyB) !important;
        border-left-color: var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Mygray1) !important;
    }
    body.dirty #save-button:after {
        color: var(--MyW) !important;
        content: '?' !important;
    }
    #apply-all-updates:hover {
        filter: brightness(130%);
    }
    .newUI .entry:nth-child(2n) {
        background-color: var(--MyB) !important;
    }
    .svg-icon:hover,
    .newUI .entry:hover .svg-icon:hover {
        fill: var(--MyW) !important;
    }
    .newUI .no-update:not(.update-problem):not(.update-done) .up-to-date,
    .newUI .can-update .update {
        color: var(--MyB);
    }
    a.update::after {
        background-color: var(--Mygreen2) !important;
        color: var(--MyB) !important;
        border: 1px solid var(--MyB) !important;
        border-radius: 5px !important;
    }
    a.update::after:hover rect:hover {
        background-color: var(--Mygreen1) !important;
        color: var(--MyB) !important;
        border: 1px solid var(--MyB) !important;
        border-radius: 5px !important;
    }
    .warning {
        color: var(--Myred1) !important;
    }
    #confirm>div {
        background-color: var(--Mygray3);
        border: solid 2px rgba(0, 0, 0, 0.5);
    }
    .CodeMirror-linewidget .applies-to {
        color: var(--Mytext) !important;
        background: var(--Myback) !important;
        border-style: none !important;
    }
    .CodeMirror-linewidget .applies-to>label {
        color: var(--Mytext) !important;
    }
    select#manage.newUI.sort {
        height: 20px !important;
    }
    svg[class="svg-icon checked"] {
        filter: invert(1) !important;
    }
    input[type="checkbox"] {
        background-color: var(--Myback) !important;
        border-color: var(--Myborder) !important;
    }
    body,
    #help-popup,
    #message-box>div,
    #message-box-buttons,
    #message-box-title,
    .dropdown-content,
    #header {
        /*background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;*/
        background-image: linear-gradient(to top, rgba(20, 20, 20, 0.8), rgba(75, 75, 75, 0.8), rgba(20, 20, 20, 0.8) 100%, transparent) !important;
    }
    select#manage.newUI.sort,
    select,
    #message-box.danger #message-box-title {
        /*background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;*/
        background-image: linear-gradient(to top, rgba(80, 0, 0, 0.8), rgba(170, 0, 0, 0.8), rgba(80, 0, 0, 0.8) 100%, transparent) !important;
    }
    .odd {
        background-image: linear-gradient(to left, rgba(20, 20, 20, 0.8), rgba(75, 75, 75, 0.8), rgba(20, 20, 20, 0.8) 100%, transparent) !important;
    }
    .even {
        background-image: linear-gradient(to left, rgba(80, 0, 0, 0.8), rgba(170, 0, 0, 0.8), rgba(80, 0, 0, 0.8) 100%, transparent) !important;
    }
}