/* ==UserStyle==
@name         The Daily Beast Dark
@namespace    https://danamw.github.io/scripts/scripts/TheDailyBeastDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/TheDailyBeastDark.user.css
@version      0.0.6
@author       Dana Meli
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
==/UserStyle== */

@-moz-document domain("thedailybeast.com") {
    /*
    article,
    .NavDesktop__wrapper,
    */
    nav,
    section,
    html,
    body {
        background-color: var(--MyB) !important;
        color: var(--MyW) !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    p,
    a {
        color: var(--MyW) !important;
    }
    h1 {
        color: var(--Myred1) !important;
        text-shadow: -1px 1px var(--MyW) !important;
    }
    h3 {
        color: var(--Mygreen1) !important;
    }
    a.TrackingLink {
        color: var(--MyB) !important;
    }
    a.TrackingLink.LinkWrapper,
    a.LinkWrapper.LinkWrapper--external {
        color: var(--Myblue1) !important;
    }
    a.TrackingLink.LinkWrapper:hover,
    a.LinkWrapper.LinkWrapper--external:hover {
        color: var(--Myred1) !important;
    }
    .ShareButton,
    .TrackingLink.ShareButton__link,
    footer,
    .StoryFooter.StoryFooter--with-tips {
        display: none !important;
    }
    a.TrackingLink.ReadThisListItem {
        background-color: var(--Mygray2) !important;
    }
    a.TrackingLink.ReadThisListItem:hover {
        background-color: var(--MyX1) !important;
    }
    .NavSubDesktop--show,
    .TrackingLink,
    .NavSubDesktop,
    .NavMainDesktop__wrapper {
        background-color: var(--Myred3) !important;
    }
    .StoryBody {
        background-color: var(--Mygray3) !important;
    }
}