/* ==UserStyle==
@name         The RackUp Dark
@namespace    https://danamw.github.io/scripts/scripts/TheRackUpDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/TheRackUpDark.user.css
@version      0.0.5
@description  The Rack Up
@author       Dana Meli
@homepageURL  https://github.com/DanaMW
==/UserStyle== */

@-moz-document url-prefix("http://www.therackup.com") {
    #td-outer-wrap,
    body {
        color: var(--MyW) !important;
        background-color: var(--Myback) !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    .td-pb-span.td-sub-footer-copy,
    #menu-footer-navigation {
        display: none !important;
    }
    /*
    .td-pb-span.td-sub-footer-menu,
    div.td-container,
    div[class="td-sub-footer-container td-container-wrap td_stretch_container"],
    div[class="td-footer-wrapper td-container-wrap td-footer-template-14 td_stretch_container"] {
        max-height: 0 !important;
        height: 0 !important;
        margin-bottom: -150px !important;
    }
    .td-search-wrap-mob {
        bottom: -150px !important;
    }
    .td-container::before {
        margin-top: -400px !important;
        margin-bottom: -900px !important;
    }
    */
}