/* ==UserStyle==
@name         VisualStudio
@namespace    https://danamw.github.io/scripts/scripts/VisualStudio.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/VisualStudio.user.css
@version      0.0.20
@author       Dana Meli
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
==/UserStyle== */

@-moz-document domain("visualstudio.com"),
domain("my.visualstudio.com") {
    #benefitsCentView,
    div[role="main"],
    .vs-categories,
    div[id*="react_"],
    .swimlane,
    html,
    body,
    .content-section {
        background-color: var(--MyB) !important;
        color: var(--MyW) !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    .vs-bar,
    ul[role="tablist"],
    a[title="Search here"],
    .right {
        background-color: transparent !important;
    }
    .main-content,
    #ux-footer,
    .tabs-control-content {
        background-color: var(--Myback) !important;
    }
    footer,
    .vs-banner.free {
        display: none !important;
    }
    .carousel {
        background-color: var(--Mygray2) !important;
    }
    div[role="navigation"] .gallery-centered-content,
    div[id*="vss_"]>div:nth-child(1)>div:nth-child(1),
    div.benefit {
        background-image: none !important;
        background-color: var(--Myred3) !important;
        color: var(--MyW) !important;
    }
    .updates-banner {
        background-color: var(--Myred2) !important;
    }
    .ux-updated-date,
    label,
    div[class*="c-heading"] {
        color: var(--Myred1) !important;
    }
    .Description,
    .react-read-more-text,
    .ux-user-name,
    .c-cell,
    div[class*="text"],
    p,
    div[class*="spacing-container"],
    a,
    h2,
    h1 {
        color: var(--MyW) !important;
    }
    a:hover {
        color: var(--Myred1) !important;
    }
    input,
    .homepage-searchbox-container {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
    }
    ul {
        color: var(--Myred1) !important;
    }
    ul li {
        color: var(--MyW) !important;
    }
    .ux-item-details,
    #section-banner {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    .gallery-item-cardHomePage {
        background-color: var(--Myred3) !important;
    }
    .btn {
        background-image: -moz-linear-gradient(top, var(--Mygray1), var(--Mygray3)) !important;
    }
    .btn:hover {
        background-image: -moz-linear-gradient(top, var(--Myred1), var(--Myred3)) !important;
        color: var(--MyW) !important;
    }
    .upperBandContent div.left {
        color: var(--MyB) !important;
        font-weight: bolder !important;
    }
    .upperBand,
    #ux-header,
    .header-section {
        background: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
    }
    h3 {
        color: var(--Myred1) !important;
    }
    li {
        color: var(--MyW) !important;
    }
    strong {
        color: var(--Mygreen1) !important;
    }
    .TopNavMenu,
    .ms-CommandBarItem,
    li a[id*="nav-"] {
        background-image: none !important;
        background-color: none !important;
    }
    .nav.navbar-nav.navbar-left {
        background-color: var(--MyB) !important;
    }
    span[id*="Dropdown"],
    .ms-CommandBarItem,
    .buttons>a,
    #nav-extensions,
    .c-select,
    li a[id*="nav-"],
    /*a[href]:not([href="#review-details"]):not([target="_blank"]):not([id*="carousel-"]),*/
    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    span[id*="Dropdown"]:hover,
    .ms-CommandBarItem:hover,
    .buttons>a:hover,
    li.active a[id*="nav-"],
    #nav-extensions:hover,
    .c-select:hover,
    li a[id*="nav-"]:hover,
    button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred2) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    span[id*="Dropdown"]:active,
    .ms-CommandBarItem:active,
    .buttons>a:active,
    #nav-extensions:active,
    .c-select:active,
    li a[id*="nav-"]:active,
    button:active {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--MyX3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    div[class*="BenefitTile"],
    .BenefitTile.VSD-COM-00001.Large,
    .carousel,
    .alert {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    div[class*="ms-CommandBar"],
    .lowerBand,
    .widget {
        background-color: var(--Mygray1) !important;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    input.search-box.form-control {
        height: 30px !important;
        margin-top: 10px !important;
    }
    button[aria-label="Search"] {
        display: none !important;
    }
    .item.active,
    a#carousel-intellisense.intellisense {
        background-image: none !important;
        background: transparent !important;
    }
    .ms-SearchBox {
        background-color: transparent !important;
        border: none !important;
    }
    .search-leftnav-panel,
    .product-family-filter,
    .search-results-download,
    .listitem,
    .search-results {
        background-image: none !important;
        background-color: transparent !important;
    }
}