/* ==UserStyle==
@name         WT Social Dark
@namespace    http://danamw.github.io/scripts/scripts/WTSocialDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/WTSocialDark.user.css
@version      0.0.9
@author       Dana Meli
@description  Dark Style.
@homepageURL  https://DanaMW.github.io
==/UserStyle== */

@-moz-document domain("wt.social") {
    .row.changelog-row,
    #page-banner,
    html,
    body {
        background-color: var(--MyB) !important;
        color: var(--MyW) !important;
    }
    .row.changelog-row {
        border-bottom: 1px solid var(--Myred1) !important;
    }
    .ck.ck-toolbar,
    #page-banner {
        border: none !important;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    textarea#comment-body,
    div[role="textbox"] {
        background-color: var(--MyB) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
    }
    textarea:not(#comment-body) {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
    }
    input {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
        text-align: center !important;
    }
    h4,
    p,
    .sidebar__header,
    a {
        color: var(--MyW) !important;
    }
    a:hover {
        color: var(--Myred1) !important;
    }
    th,
    .lupdated {
        color: var(--TwitterBlue) !important;
    }
    .status {
        color: var(--TwitterRed) !important;
    }
    select,
    #tabPayPal,
    #tabStripe,
    .tab,
    a.btn,
    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    select:hover,
    #tabPayPal:hover,
    #tabStripe:hover,
    nav a[href]:hover,
    .tab.active,
    .tab:hover,
    a.btn:hover,
    button:hover {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    select:active,
    #tabPayPal:active,
    #tabStripe:active,
    .tab:active,
    a.btn:active,
    button:active {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    .ck.ck-toolbar,
    #page-header,
    .row.form-getin.form-getin--login {
        background-image: none !important;
        background-color: transparent !important;
    }
    #page-header {
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
    }
    .feed-item-outer,
    .article {
        border-radius: 15px !important;
    }
    .comment {
        border-radius: 15px 15px 0px 0px !important;
        border-bottom: none !important;
    }
    #notitications-reading,
    .comment,
    .article,
    .feed-item-outer,
    .tab-content,
    .sidebar {
        background-color: var(--Mygray1) !important;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(41, 41, 41, 0.9), rgba(75, 75, 75, 0.9) 100%, transparent) !important;
    }
    a.notification-row:hover,
    #linkloadingstuff,
    #profile-name,
    .alert,
    .account__navigation,
    .article:hover,
    .sidebar__header,
    .row.form-getin.form-getin--login,
    .red {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, rgba(65, 21, 21, 0.8), rgba(97, 22, 22, 0.8), rgba(189, 38, 38, 0.8) 100%, transparent) !important;
    }
    .bm-burger-button:hover {
        filter: invert(50%)
    }
    .wt-notice {
        display: none !important;
    }
    .comment-body {
        background-color: var(--MyX1) !important;
        color: var(--MyW) !important;
    }
    .tag {
        background-color: var(--TwitterRed) !important;
        color: var(--MyW) !important;
    }
    .tag:hover {
        background-color: var(--MyX1) !important;
        color: var(--MyW) !important;
    }
    th[colspan="2"],
    .sidebar__header,
    #feed-contents>h2 {
        text-align: center !important;
        color: var(--TwitterBlue) !important;
    }
    #notitications-reading {
        border: 1px solid var(--MyW) !important;
    }
    #linkloadingstuff {
        border-right: 1px solid var(--MyW) !important;
        border-left: 1px solid var(--MyW) !important;
    }
    .sidebar.user-suggest,
    .sidebar.follow {
        width: 390px !important;
    }
    .comment.row.comment-container-row {
        position: relative;
        left: 15px !important;
        width: 100% !important;
    }
    .tox-statusbar,
    .tox-toolbar__primary,
    .tox-toolbar-overlord {
        background-color: transparent !important;
    }
    .wt-card-body {
        background: none !important;
    }
    .tox-tbtn * svg,
    button * svg {
        filter: invert(1) !important;
    }
}