/*==UserStyle==
@name         YouTube Dark
@namespace    https://danamw.github.io/scripts/scripts/YoutubeDark.user.css
@updateURL    https://raw.githubusercontent.com/danamw/danamw.github.io/master/scripts/scripts/YoutubeDark.user.css
@version      0.0.42
@description  YouTube Tweaks
@author       Dana Meli
@homepageURL  https://danamw.github.io
@preprocessor default
@var range smove "Slide Search Bar"[10, 0, 75, 1, "vw"]
@var range swidth "Resize search input"[750, 100, 1000, 1, "px"]
==/UserStyle== */

@-moz-document domain("youtube.com"),
domain("studio.youtube.com") {
     :not(.style-scope)[hidden] {
        display: initial !important;
    }
    #movie_player,
    #container,
    #player-container-outer,
    #player-container-inner,
    video {
        -moz-user-select: none !important;
        -webkit-user-select: none !important;
    }
    html:not(.style-scope)[dark],
     :not(.style-scope)[dark] {
        --yt-basic-foreground-body-color: hsla(0, 87%, 12%, 0.4) !important;
        --yt-basic-background-color: hsla(0, 87%, 12%, 0.4) !important;
        --yt-std-body-300: hsla(0, 87%, 12%, 0.4) !important;
        --yt-std-surface-200: hsl(0, 100%, 6%);
        --yt-std-surface-300: hsl(0, 100%, 7%);
        --yt-std-surface-400: hsl(0, 95%, 7%);
        --yt-primary-color: hsla(0, 87%, 12%, 0.4) !important;
        --yt-primary-text-color: hsla(0, 100%, 100%, .88);
        --yt-hovered-text-color: hsla(0, 100%, 100%, .74);
        --yt-secondary-text-color: hsla(0, 100%, 100%, .5);
        --yt-tertiary-text-color: hsla(0, 100%, 100%, .5);
        --yt-placeholder-text-color: hsla(0, 100%, 100%, .5);
        --yt-border-color: hsla(0, 100%, 100%, .08);
        --yt-commentbox-border-inactive: hsla(0, 100%, 100%, .5);
        --yt-commentbox-border-active: hsla(0, 100%, 100%, .88);
        --yt-alert-background: hsla(0, 87%, 12%, 0.4) !important;
        --yt-paper-button-ink-color: hsla(0, 0%, 100%, .2);
        --yt-icon-color: hsla(0, 100%, 100%, .5);
        --yt-icon-hover-color: hsla(0, 100%, 100%, .74);
        --yt-icon-active-color: hsla(0, 100%, 100%, .88);
        --yt-icon-disabled-color: hsla(0, 100%, 100%, .26);
        --yt-expand-color: hsla(0, 0%, 100%, .6);
        --yt-channel-owner: hsla(0, 100%, 100%, .88);
        --yt-placeholder-text: hsl(0, 0%, 93.3%);
        --yt-playlist-background-header: hsla(0, 87%, 12%, 0.4) !important;
        --yt-playlist-background-item: hsla(0, 87%, 12%, 0.4) !important;
        --yt-playlist-title-text: hsla(0, 100%, 100%, .88);
        --yt-playlist-message-text: hsl(0, 0%, 93.3%);
        --yt-playlist-message-text-hover: hsla(0, 100%, 100%, .74);
        --yt-button-active-color: hsla(0, 100%, 100%, .88);
        --yt-copyright-text: hsla(0, 0%, 100%, .6);
        --yt-guide-entry-text-color: hsla(0, 100%, 100%, .88);
        --yt-thumbnail-placeholder-color: hsl(0, 95%, 9%);
        --yt-primary-disabled-button-text-color: hsla(0, 0%, 100%, .2);
        --yt-featured-channel-title-text-color: hsla(0, 100%, 100%, .5);
        --yt-formatted-string-deemphasize-color: hsl(0, 0%, 53.3%);
        --yt-video-secondary-info-description-background: hsla(0, 0%, 53.3%, .2);
        --yt-simple-menu-header-background: hsla(0, 87%, 12%, 0.4) !important;
        --yt-item-section-header-color: hsla(0, 87%, 12%, 0.4) !important;
        --yt-menu-hover-backgound-color: hsla(0, 87%, 12%, 0.4) !important;
        --yt-menu-focus-background-color: hsla(0, 87%, 12%, 0.4) !important;
        --yt-searchbox-text-color: var(--yt-primary-text-color);
        --yt-material-searchbox-inactive: hsl(0, 100%, 4%);
        --yt-material-searchbox-active: hsl(0, 0%, 100%);
        --yt-material-searchbox-inactive-shadow: hsla(0, 0%, 0%, .04);
        --yt-material-searchbox-active-shadow: hsla(0, 0%, 0%, .26);
        --yt-material-searchbox-inset: hsla(0, 0%, 0%, .04);
        --yt-material-searchbox-text-color: rgb(17, 0, 0);
        --yt-app-background: hsl(0, 100%, 3%);
        --yt-main-app-background: hsl(0, 100%, 3%);
        --yt-main-app-background-tmp: hsl(0, 100%, 3%);
        --yt-guide-background: hsl(0, 94%, 6%);
        --yt-dialog-background: hsl(0, 100%, 7%);
        --yt-searchbox-background: hsl(0, 100%, 3%);
        --yt-channel-header-background: hsla(0, 0%, 11%, .8);
        --yt-sidebar-background: hsla(0, 0%, 11%, .8);
        --yt-transcript-background: hsl(0, 94%, 6%);
        --yt-chat-bubble-other-border-color: rgba(255, 255, 255, 0.20);
        --yt-chat-bubble-other-background-color: transparent;
        --yt-chat-bubble-self-border-color: rgba(255, 255, 255, 0.20);
        --yt-chat-bubble-self-background-color: #2b0000;
    }
    * {
        text-decoration: none !important;
        scrollbar-width: thin !important;
        scrollbar-color: var(--Myred1) var(--Myred3) !important;
    }
     ::-webkit-scrollbar {
        background: var(--Myred3) !important;
    }
     ::-webkit-scrollbar-thumb {
        background: var(--Myred1) !important;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: var(--Mygreen1) !important;
    }
     ::-webkit-scrollbar-thumb:active {
        background: var(--Mygreen2) !important;
    }
    .ytp-ce-element.ytp-ce-playlist.ytp-ce-element-show,
    a[class*="covering-overlay"] {
        opacity: 0 !important;
    }
    #clarify-box,
    .ytp-ce-element,
    .ytd-statement-banner-renderer,
    .style-scope.ytd-compact-promoted-item-renderer {
        display: none !important;
    }
    ytd-active-account-header-renderer {
        position: relative;
        top: 500px !important;
    }
    .ytd-multi-page-menu-renderer {
        background: var(--Mygray2) !important;
    }
    html {
        overflow: scroll;
        overflow-x: hidden;
        scrollbar-color: var(--Myred1) var(--Myred3);
        scrollbar-width: thin;
    }
    head,
    body,
    html {
        background-image: none !important;
    }
    a,
    p,
    h1 {
        color: var(--MyW) !important;
    }
    img#illustration {
        background: var(--MyB) !important;
    }
    app-drwer {
        scrollbar-color: var(--Myred1) var(--Myred3);
        scrollbar-width: thin;
    }
    app-drawer {
        scrollbar-color: var(--Myred1) var(--Myred3);
        scrollbar-width: thin;
    }
    template.style-scope.paper-item {
        background-color: transparent !important;
    }
    #creator-page,
    .style-scope.paper-item {
        background-color: var(--Myback) !important;
        color: var(--MyW) !important;
    }
    .sbdd_b,
    .sbsb_a,
    ytd-watch-flexy,
    html {
        background-color: var(--Myback) !important;
        color: var(--MyW) !important;
    }
    .yt-uix-button-menu,
    .eytd_list_item {
        background-color: var(--Mygray2) !important;
        color: var(--MyW) !important;
        border: none !important;
    }
    .eytd_list {
        background-color: var(--Mygray2) !important;
        color: var(--MyW) !important;
    }
    .ytd-section-list-renderer {
        border-top: 1px solid var(--Myred3) !important;
        border-bottom: 1px solid var(--Myred3) !important;
    }
    ytd-active-account-header-renderer {
        position: relative;
        top: 0 !important;
    }
    ytd-active-account-header-renderer {
        display: flex;
        align-items: top;
        align-content: flex-start;
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        height: 50 !important;
    }
    .ytd-rich-item-renderer:hover,
    #details:hover,
    .ytcp-paper-tooltip-placeholder {
        border-color: transparent !important;
        color: var(--Myred1) !important;
        background-color: var(--MyX1) !important;
    }
    #show-more {
        text-align: center !important;
    }
    button {
        border: none !important;
    }
    .toggle-container {
        background-color: var(--Myred2);
        border-radius: 25px;
    }
    #togglebutton {
        background-image: none !important;
        background-color: var(--Myred1);
        color: var(--Myred1);
    }
    #chips-wrapper {
        display: none !important;
        /*
        background: none !important;
        border: none !important;
        opacity: 0;
        */
    }
    iron-selector,
    #ink {
        background-color: var(--Myred3)
    }
    ytd-rich-shelf-renderer,
    ytd-inline-survey-renderer,
    ytd-post-renderer[surface_="backstage-surface-type-home"],
    ytd-post-renderer[attachment="poll"],
    button#search-btn,
    .hidden.paper-tooltip,
    .ytd-banner-promo-renderer,
    div[id="footer-container"],
    ytd-primetime-promo-renderer,
    ytd-mealbar-promo-renderer,
    #button[aria-label="Join this channel"],
    .waves {
        display: none !important;
    }
    html:not(.style-scope) {
        --primary-text-color: #FFFFFF !important;
        --disabled-text-color: #959090 !important;
        --divider-color: #FF0000 !important;
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin-right: -16px !important;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #contents {
        width: calc(width + 20vw) !important;
    }
    .ytp-progress-bar {
        background-color: var(--Myred3);
    }
    paper-tooltip {
        display: block;
        position: absolute;
        outline: none;
        z-index: 1002;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
    }
    #text-container {
        text-align: center !important;
    }
    .tooltip,
    #tooltip,
    paper-toast,
    #toast,
    tp-yt-paper-toast,
    #tooltip.paper-tooltip {
        display: block;
        outline: none;
        font-family: 'Roboto', 'Noto', sans-serif;
        -webkit-font-smoothing: antialiased;
        background-color: var(--MyX1) !important;
        color: var(--Myred1) !important;
        text-shadow: 1px -1px 0 var(--MyW) !important;
        border: none !important;
        border-color: var(--MyX1) !important;
        border-radius: 10px !important;
        padding: 8px;
        margin: 4px;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.8rem;
        text-transform: none;
    }
    ytd-browse.style-scope.ytd-page-manager,
    .ytp-progress-bar-padding,
    .ytp-chrome-controls,
    .ytp-gradient-bottom {
        background-color: transparent;
    }
    .ytd-player,
    .html5-video-player,
    .ytd-player,
    .ytp-player-content {
        background-color: var(--MyB) !important;
    }
    .video-stream html5-main-video,
    ytd-section-list-renderer {
        width: calc(100% + 100px) !important;
        background-color: hsla(0, 87%, 12%, 0.4) !important;
    }
    #scroll-container #meta-contents,
    #info-contents,
    #comments,
    #dismissable {
        padding-right: 25px;
        padding-left: 25px;
    }
    #movie_player {
        background-color: hsla(0, 96%, 11%, 0.150) !important;
    }
    #toggleButton {
        border-radius: 50% !important;
    }
    .style-scope.ytd-searchbox,
    #masthead-search-terms,
    #search-input.ytd-searchbox-spt {
        width: var(--swidth) !important;
    }
    yt-icon.style-scope.ytd-searchbox {
        width: 50px !important;
    }
    form#masthead-search,
    form#search-form {
        position: absolute !important;
        left: var(--smove);
    }
    #secondary,
    .style-scope.ytd-watch-flexy {
        background-color: transparent !important;
    }
    .masthead-logo-renderer-logo {
        margin-left: 50px !important;
    }
    .ytcp-app-icon,
    .style-scope.ytd-topbar-logo-renderer:hover,
    .masthead-logo-renderer-logo:hover {
        -moz-animation: yt-spin 500ms linear;
        -webkit-animation: yt-spin 500ms linear;
        animation: fa-spin yt-spin 500ms linear;
    }
    .yt-spin {
        -moz-animation: yt-spin 500ms linear;
        -webkit-animation: yt-spin 500ms linear;
        animation: yt-spin 500ms linear;
    }
    .yt-pulse {
        -moz-animation: yt-spin 500ms steps(8);
        -webkit-animation: yt-spin 500ms steps(8);
        animation: yt-spin 500ms steps(8);
    }
    @-moz-keyframes yt-spin {
        0% {
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @-webkit-keyframes yt-spin {
        0% {
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(359deg);
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
    @keyframes yt-spin {
        0% {
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(359deg);
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
    #item-title,
    yt-formatted-string {
        color: var(--MyW) !important;
    }
    yt-icon,
    .ytd-button-renderer,
    paper-ripple,
    yt-icon-button,
    paper-button,
    button {
        background-color: transparent !important;
    }
    .ytd-guide-renderer,
    #guide-inner-content,
    #top {
        opacity: 1 !important;
        background-color: var(--Myred3) !important;
        scrollbar-width: none !important;
    }
    #title,
    button[class="yt-uix-button"] {
        color: var(--Myred1) !important;
    }
    .toggle-bar.style-scope.paper-toggle-button {
        background-color: var(--Myblue1) !important;
    }
    .subscribers-title,
    .section-title-text {
        color: var(--TwitterBlue) !important;
    }
    .video-extras-sparkbars {
        margin-bottom: 30px !important;
    }
    .section-subtitle-text,
    .issue-text,
    .title,
    .content-text,
    .title-text,
    label,
    .account-page-header,
    button span.yt-uix-button-content,
    a {
        color: var(--MyW) !important;
    }
    #entity-label,
    h3,
    #account-page-header-title {
        color: var(--Myred1) !important;
    }
    .sbpqs_a {
        color: var(--Myred1) !important;
    }
    .sbqs_c {
        color: var(--Myblue1) !important;
    }
    b {
        color: var(--Mygray2) !important;
    }
    paper-button {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        background-image: none !important;
    }
    #guide-button {
        border-radius: 50% !important;
    }
    .alerts-wrapper {
        background-color: var(--Myred1) !important;
    }
    #alerts #confirmBox {
        background-color: var(--Myred1) !important;
    }
    .creator-sidebar-item-link,
    .creator-sidebar-item.selected,
    .creator-sidebar-item:hover,
    .creator-sidebar-item {
        background: none !important;
        background-color: transparent !important;
        background-image: none !important;
    }
    input[type="checkbox"],
    input.yt-uix-form-input-checkbox.setting-checkbox {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        color: var(--MyW) !important;
        background-color: transparent !important;
    }
    #ytpc_ytcontrol_loop,
    #ytpc_ytcontrol_button {
        height: 25px !important;
    }
    .feature-level-status,
    li.menu-item,
    #collapse-controls-section,
    yt-chip-cloud-chip-renderer,
    #guide-button,
    ytd-menu-service-item-renderer,
    [role="button"]:not([slot="more-button"]),
    .yt-uix-form-input-select-content,
    .ytp-prev-button.ytp-button,
    .ytp-next-button.ytp-button,
    .yt-uix-button.load-more-button,
    a.yt-uix-button,
    #search-btn,
    a#endpoint,
    ytd-subscribe-button-renderer>paper-button,
    #avatar-btn,
    paper-button,
    button:not([aria-label="Search"]):not(.yt-icon-button),
    #button:not(.yt-icon-button) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        color: var(--Mytext) !important;
        background-color: var(--MyB) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 0%, 0%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        text-shadow: 1px 1px 0 var(--Myred1) !important;
        -moz-transition: border-color .3s ease, box-shadow .7s ease !important;
        -webkit-transition: border-color .3s ease, box-shadow .7s ease !important;
        transition: border-color .3s ease, box-shadow .7s ease !important;
        transition-timing-function: linear !important;
        box-shadow: 0 1px 4px 1px var(--MyB) !important;
    }
    .feature-level-status.feature-level-unlocked,
    li.menu-item[selected],
    li.menu-item:hover,
    li.sbsb_c.gsfs.sbsb_d,
    #collapse-controls-section:hover,
    yt-chip-cloud-chip-renderer:hover,
    ytd-menu-service-item-renderer:hover,
    [role="button"]:hover:not([slot="more-button"]),
    .yt-uix-form-input-select-element.setting-dropdown-list:hover,
    .creator-sidebar-item.selected,
    .creator-sidebar-item:hover,
    li .yt-uix-button-menu-item:hover,
    .eytd_list_item:hover,
    #guide-button:hover,
    .ytp-prev-button.ytp-button:hover,
    .ytp-next-button.ytp-button:hover,
    .yt-uix-button.load-more-button:hover,
    button.yt-uix-button[disabled="True"],
    a.yt-uix-button:hover,
    #search-btn:hover,
    a#endpoint:hover,
    ytd-subscribe-button-renderer>paper-button:hover,
    paper-button:hover,
    #avatar-btn:hover,
    .sbsb_c.gsfs:hover,
    button:hover:not([aria-label="Guide"]):not([aria-label="Search"]):not(.yt-icon-button),
    #button:hover:not([aria-label="Guide"]):not(.yt-icon-button) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--MyB) !important;
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Myred2) !important;
    }
    li.menu-item:active,
    #collapse-controls-section:active,
    yt-chip-cloud-chip-renderer:active,
    ytd-menu-service-item-renderer:active,
    #guide-icon:active,
    [role="button"]:active:not([slot="more-button"]),
    .yt-uix-form-input-select-element.setting-dropdown-list:active,
    .creator-sidebar-item:active,
    li .yt-uix-button-menu-item:active,
    .eytd_list_item:active,
    #guide-button:active,
    .ytp-prev-button.ytp-button:active,
    .ytp-next-button.ytp-button:active,
    .yt-uix-button.load-more-button:active,
    a.yt-uix-button:active,
    #search-btn:active,
    a#endpoint:active,
    ytd-subscribe-button-renderer>paper-button:active,
    paper-button:active,
    #avatar-btn:active,
    .sbsb_c.gsfs:active,
    button:active:not([aria-label="Guide"]):not([aria-label="Search"]):not(.yt-icon-button),
    #button:active:not([aria-label="Guide"]):not(.yt-icon-button) {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none !important;
        box-shadow: inset 0px 0px 4px 0px var(--Mygreen3) !important;
        background-color: var(--Mygreen3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Mygreen1) 0%, transparent 99%), linear-gradient(180deg, rgba(168, 168, 168, 0.5) 48%, hsla(0, 0%, 0%, 0.4) 49%, rgba(0, 0, 0, 0.8) 100%, rgba(168, 168, 168, 0.2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -moz-transition: background .2s, box-shadow .4s, border-color .2s !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--Mygreen3), -1px -1px 1px var(--Myred2) !important;
    }
    #labelAndInputContainer,
    .paper-input-input {
        background-color: var(--MyX4) !important;
    }
    .howto-circle,
    .pairing-code-input {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
    }
    span.title:hover {
        color: var(--MyW) !important;
    }
    main,
    .ytg-fl.account-container {
        background: none !important;
    }
    ytd-watch-flexy[flexy_][is-two-columns_] #transcript-loader.ytd-watch-flexy,
    ytd-watch-flexy[flexy_][is-two-columns_] #playlist.ytd-watch-flexy,
    ytd-playlist-panel-renderer#playlist {
        background: none !important;
        background-image: none !important;
    }
    ytd-universal-watch-card-renderer {
        padding-left: 100px !important;
    }
    #sections.style-scope.ytd-universal-watch-card-renderer,
    ytd-watch-card-rich-header-renderer,
    ytd-watch-flexy[flexy_][is-two-columns_] #transcript-loader.ytd-watch-flexy,
    ytd-watch-flexy[flexy_][is-two-columns_] #playlist.ytd-watch-flexy,
    #playlist,
    #primary-inner,
    #items,
    .main,
    .ytg-fl.account-container,
    ytd-two-column-browse-results-renderer.style-scope {
        background-color: hsla(0, 87%, 12%, 0.4) !important;
    }
    ytd-compact-video-renderer:hover {
        background-color: hsla(0, 100%, 25%, 0.4) !important;
    }
    #main-menu,
    .ytcd-carousel-card,
    #video-snapshot,
    #analytics-section,
    .social-connector,
    #chrome-desktop-notifications {
        background-color: var(--Myblue3) !important;
        color: var(--MyW) !important;
    }
    #live-chat-message-input,
    ytcp-navigation-drawer {
        background-color: var(--Myred3) !important;
        color: var(--MyW) !important;
        border: 2px solid var(--Mytext) !important;
    }
    ytcd-channel-facts-item {
        background-color: var(--Myred3) !important;
        color: var(--MyW) !important;
    }
    div[class*="table-cell"],
    div[id*="metrics-table"],
    svg {
        color: var(--MyW) !important;
    }
    .yt-help-icon.yt-sprite {
        filter: invert(0);
    }
    .yt-masthead-picker-footer,
    .yt-masthead-account-picker.yt-uix-clickcard-card-content {
        background-color: var(--Mygray3) !important;
    }
    span[class="yt-uix-button-arrow"] {
        filter: invert(1) !important;
    }
    paper-button[class="dropdown-trigger style-scope yt-dropdown-menu"],
    paper-button[class="style-scope ytd-expander"] {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    yt-formatted-string[class="style-scope yt-next-continuation"]:hover,
    yt-formatted-string[class="style-scope yt-next-continuation"] {
        background: transparent !important;
        background-color: transparent !important;
    }
    /* --------------------------REWORKING SEARCHBOX--------------------- */
    button#search-icon-legacy {
        height: 35px !important;
        width: 35px !important;
        border-radius: 50% !important;
        margin-top: -20px !important;
        margin-left: 5px !important;
    }
    #search-container.ytd-searchbox-spt {
        background-color: transparent !important;
        border-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }
    #container.style-scope.ytd-searchbox {
        background-color: transparent !important;
        border-color: transparent !important;
        border: none !important;
        margin-top: -20px !important;
        box-shadow: none !important;
    }
    input,
    #input,
    input#query-input,
    #masthead-search-terms,
    .masthead-search-terms-border,
    input#search,
    input#masthead-search-term {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        text-align: center !important;
        border-radius: 25px !important;
        border: 2px solid var(--MyB) !important;
        /*width: 750px !important;*/
    }
    ytd-guide-entry-renderer {
        border-radius: 25px !important;
    }
    /* ---------------------------TOP BANNER----------------------------- */
    .sbfl_b,
    ytcp-header,
    #container.style-scope.ytd-masthead,
    #masthead.masthead-finish,
    div#masthead-container.style-scope.ytd-app {
        background-color: transparent !important;
        background: none !important;
    }
    ytcp-header {
        background-color: var(--MyB) !important;
        height: 60px !important;
        border: none !important;
    }
    #masthead-positioner,
    #yt-masthead-container {
        background-color: var(--MyB) !important;
        height: 35px !important;
        border: none !important;
    }
    ytcp-header,
    #yt-masthead-container,
    #container.style-scope.ytd-masthead,
    #masthead.masthead-finish,
    div#masthead-container.style-scope.ytd-app {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--Myred3) !important;
        background: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        opacity: 1 !important;
        z-index: 10000 !important;
    }
    ytd-masthead#masthead.chunked.masthead-finish {
        background-color: var(--Myred3) !important;
        background-image: radial-gradient(ellipse farthest-corner at center bottom, var(--Myred1) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 100%, hsla(0, 0%, 66%, .2)) !important;
        outline: none !important;
        opacity: 1.0 !important;
        color: var(--MyW) !important;
        -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition: background .2s, box-shadow .4s, border-color .2s !important;
        transition-timing-function: linear !important;
        text-shadow: 1px 1px 1px var(--MyB), -1px -1px 1px var(--Mygray1) !important;
    }
    #avatar-btn>yt-img-shadow>img#img {
        border-radius: 50% !important;
        border: 2px solid var(--MyW) !important;
    }
    paper-tooltip {
        display: block;
        position: absolute;
        outline: none;
        z-index: 1002;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
    }
    .badge.badge-style-type-simple,
    #tooltip,
    #tooltip.paper-tooltip {
        display: block;
        outline: none;
        font-family: var(--paper-font-common-base_-_font-family);
        -webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
        font-size: 10px;
        line-height: 1;
        background-color: var(--MyX1) !important;
        opacity: 0.4;
        color: white;
        padding: 8px;
        border-radius: 2px;
        margin: 8px;
        font-weight: 400;
        text-transform: none;
    }
    .badge.badge-style-type-simple {
        background: var(--MyX1) !important;
        opacity: 0.6;
        color: white;
        border: 1px solid var(--MyW) !important;
        text-transform: none;
    }
    ytd-watch-flexy,
    .ytd-app {
        background: url("https://danamw.github.io/img/ytbg.jpg") repeat !important;
    }
    .header,
    #header-section {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, var(--Myred3), var(--Myred2), var(--Myred1) 100%, transparent) !important;
    }
    .tab-content.yta-screen,
    #right-side-bar,
    #second-container,
    #first-container,
    ytcp-video-visibility-select,
    ytcp-contracts-settings,
    ytcp-navigation,
    div[class="main-container style-scope ytcd-video-snapshot-upload"],
    div[class="badge badge-style-type-simple style-scope ytd-badge-supported-renderer"],
    div#left-arrow {
        background-color: var(--Mygray1) !important;
        background-image: linear-gradient(to top, var(--Mygray3), var(--Mygray2), var(--Mygray1) 100%, transparent) !important;
    }
    div[class="layout horizontal style-scope yta-card-container"],
    .button-area,
    .footer.style-scope.ytcp-dialog,
    ytcd-basic-card,
    ytcd-video-snapshot-upload,
    #intro,
    #tabs-inner-container {
        background-color: var(--Myred3) !important;
        background-image: linear-gradient(to top, var(--Myred3), var(--Myred2), var(--Myred1) 100%, transparent) !important;
    }
    div#container {
        -moz-user-select: text !important;
        -webkit-user-select: text !important;
        user-select: text !important;
    }
    ytd-clarification-renderer {
        display: none !important;
    }
    #left-arrow-button,
    #left-arrow-button::after,
    #right-arrow-button {
        background-color: var(--Myred3) !important;
    }
    .badge.badge-style-type-verified>yt-icon>svg {
        color: var(--TwitterBlue) !important;
        transform: scale(1.25);
    }
    #container.ytd-sentiment-bar-renderer {
        background: var(--Myred2) !important;
    }
    #like-bar.ytd-sentiment-bar-renderer {
        background: var(--Myred1) !important;
    }
    span.style-scope.ytd-badge-supported-renderer {
        filter: brightness(200%);
    }
    .header,
    .header-content {
        text-align: center !important;
    }
    ytd-thumbnail-overlay-resume-playback-renderer,
    #content>yt-chip-cloud-renderer,
    ytcp-primary-action-bar,
    .ytcp-table-header,
    #filter-bar,
    #table-header,
    ytcp-sticky-header {
        background: var(--Myred3) !important;
    }
    #selectionBar.tp-yt-paper-tabs {
        background-color: var(--Mygreen1) !important;
        border-bottom-color: var(--Mygreen1) !important;
    }
    .ytcp-primary-action-bar {
        color: var(--TwitterBlue) !important;
    }
    div[role="rowgroup"] {
        background-color: transparent !important;
    }
    .ytgn-video-row .ytcp-video-row {
        background-color: var(--Mygray2) !important;
    }
    .row-highlighted,
    .ytcp-video-row.row-selected {
        background-color: var(--Mygray1) !important;
    }
    .yt-live-chat-text-message-renderer,
    yt-live-chat-text-message-renderer .yt-live-chat-text-message-renderer {
        background-image: none !important;
        background-color: transparent !important;
    }
    /*
    textarea {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
    }
    input {
        background-color: var(--Mygray3) !important;
        color: var(--MyW) !important;
        border-radius: 15px !important;
        border: 1px solid var(--Myred1) !important;
        text-align: center !important;
    }
    */
}