<!DOCTYPE html>
<html lang="en-US ">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/image/Dark Trek Backdrop.png" type="image/png">
    <!-- <img src='image/background.png' style='position:fixed;top:0;left:0;right:0;bottom:0;width:100vw;height:100%;background-position:center;background-repeat:no-repeat;background-size:cover;border:none;z-index:-1;'> -->
    <title>Hippy HangOut on TorchLight</title>
    <script src="/js/jquery.js"></script>
    <script>
    $(function(){
        $("#includedContent").load("/_layouts/post.html");
    });
    $(function(){
        $("#includedMore").load("/_layouts/top.html");
    });
    </script>
</head>

<body>
    <div>
        <img id="banner" style="position: absolute; top: 0px; left: 0px; right: 0px; width: 100%; height: 50px; background: radial-gradient(ellipse farthest-corner at center bottom, hsl(0, 100%, 50%) 0%, transparent 99%), linear-gradient(180deg, hsla(0, 0%, 66%, .5) 48%, rgba(0, 0, 0, .4) 49%, rgba(0, 0, 0, .8) 80%, hsla(0, 0%, 66%, .2)) !important; z-index: -1; opacity: 2; border: none;" img />
    </div>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <div>
        <div id="includedContent"></div>
    </div>
    <div>
        <div id="includedMore"></div>
    </div>

</body>
</html>
